extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Battery', url: '/battery'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteBattery',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Battery',
        label: 'Delete this Battery',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editBattery',
      title: 'Battery Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/BATTERY_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'totalCell', label: 'Total Cell', type: 'text', value: data.totalCell},
        {name: 'voltagePerCell', label: 'Voltage Per Cell', type: 'text', value: data.voltagePerCell},
        {name: 'amperePerCell', label: 'Ampere Per Cell', type: 'text', value: data.amperePerCell},
        {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/BATTERY_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit Information',
        }
      }
    }
  include ../component/new/fieldList