extends ../layout

block breadcrumb
  +breadcrumb('Battery', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Battery",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Battery", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createBattery",
      title: "Create Battery",
      form: {
        url: "/battery",
        fields: [
          { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'floorName', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/{{buildingName}}/floor',
                urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'roomName', label: 'Room', type: 'search', placeholder: 'Please type Room name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/floor/{{floorName}}/room',
                urlParam: {floorName: '$("#_floorName_ > input[name=floorName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'spaceId', label: 'Space', type: 'search', placeholder: 'Please type Space name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/room/{{roomName}}/space',
                urlParam: {roomName: '$("#_roomName_ > input[name=roomName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
            { name: "type", label: "Type", type: "select", placeholder: "ex. Dry Cell Battery System", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/BATTERY_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "name", label: "Name", placeholder: "ex. LBG-BATTERE-01", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Bank Battere 01 TDC Lembong", validate:'empty', required:true},
            { name: "totalCell", label: "Total Cell", placeholder: "ex. 24", validate:'empty', required:true},
            { name: "voltagePerCell", label: "Voltage Per CELL", placeholder: "ex. 60", validate:'empty', required:true},
            { name: "amperePerCell", label: "Ampere Per CELL ", placeholder: "ex. 120", validate:'empty', required:true},
            { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "ex. LG", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "model", label: "Model Battery", type: "select", placeholder: "ex. GT-N022", validate:'empty', settings: {remote: {url: "/ReferenceObject/BATTERY_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm