extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Slot', url: '/slot'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteSlot',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Slot',
        label: 'Delete this Slot',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editSlot',
      title: 'Slot Information',
      fields: [
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'number', label: 'Slot Number', type: 'text', value: data.number},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/SLOT_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList