extends ../layout

block breadcrumb
  +breadcrumb('Slot', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Slot",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        //- add: {label: "Create a new Slot", className: "openAddModal"},
      }
    }
  include ../component/new/table

  //- -
  //-   const modalForm = {
  //-     key: "createSlot",
  //-     title: "Create Slot",
  //-     form: {
  //-       url: "/slot",
  //-       fields: [
  //-           { name: "shelfId", type: "hidden", value: data._id },
  //-           { name: "name", label: "Name", placeholder: "ex. SUB-RACK-B1.1", validate:'empty', required:true},
  //-           { name: "number", label: "Slot Number", placeholder: "ex. 1", validate:'empty', required:true},
  //-           { name: "label", label: "Label", placeholder: "ex. Sub Rack B1.1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
  //-           { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/SLOT_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
  //-       ]
  //-     },
  //-     trigger: {
  //-       className: "openAddModal"
  //-     }
  //-   }
  //- include ../component/new/modalForm