body {
  font: 14px "Tauri", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
}
.themaps{
  width:100%;
  height: 100vh;
  /* margin-top:7vh; */
}

a {
  color: #00B7FF;
}

.leaflet-popup-content-wrapper {
  background: none !important;
  box-shadow: none !important;
}

.leaflet-popup-content {
  background: none;
  box-shadow: none;
  width: fit-content !important;
}

.leaflet-popup-tip-container {
  display: none;
}


.infoBox * {
  font-family: "Francois One", sans-serif;
}

.infoBox {
  padding: 3px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  font: 12px/14px "Francois One", sans-serif;
}

.infoBox .title, .infoBox .smallTitle {
  color: #34495e;
  line-height: 34px;
  font-size: 26px;
  margin: 0;
  padding-left: 0;
  margin-right: 20px;
  margin-left: 10px;
}

.infoBox .smallTitle {
  line-height: 28px;
  font-size: 20px;
}

.infoBox .sub {
  font-size: 11px;
}

.infoBox .sub.label {
  padding-bottom: 5px;
  color: #999;
  min-height: 1.2em;
  display: flex;
  justify-content: flex-end
}

.infoBox .sub.details {
  float: right;
  color: #777;
  background-color: #ECEFF1;
  padding: 4px;
  border: 1px solid #E0E0E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.infoBoxTable {
  display: table;
  width: 100%;
}

.infoBoxRow {
  display: table-row;
}

.infoBoxCell {
  display: table-cell;
  border-top: 1px solid #dfdfdf;
  padding-bottom: 3px;
  padding-top: 3px;
}

.infoBoxCell.left {
  text-align: right;
  padding-right: 5px;
}

.infoBoxCell.right {
  padding-left: 5px;
}

.infoBoxCell.header,
.infoBoxCell.info {
  vertical-align: top;
  border: 0;
}

.infoBoxCell.info {
  display: none;
}

.infoBoxCell.action {
  padding: 3px 0;
  display: flex;
  justify-content: flex-end
}

.infoBoxCell.action button {
  margin: 3px 2px;
  padding: 4px 7px;
  cursor: pointer;
  white-space: nowrap;
}

.infoBoxCell.action button.blue {
  background-color: #047a9c;
  color: #edf6f8;
  border-color: #047a9c;
}

.infoBoxCell.action button.red {
  background-color: #eb5e3e;
  color: #edf6f8;
  border-color: #eb5e3e;
}

.infoBoxCell.action button.grey {
  background-color: #d2cec3;
  color: #312d21;
  border-color: #d2cec3;
}

.infoBoxCell.action button.black {
  background-color: #322e25;
  color: #d2cec3;
  border-color: #322e25;
}

.infoBoxCell.action button.yellow {
  background-color: #f2be1a;
  color: #312d21;
  border-color: #f2be1a;
}

.infoBoxCell.action button.green {
  background-color: #9dd29c;
  color: #312d21;
  border-color: #9dd29c;
}

.infoBoxCell.action button.indigo {
  background-color: #adaac9;
  color: #312d21;
  border-color: #adaac9;
}

.infoBoxCell.action button.cyan {
  background-color: #81dfec;
  color: #312d21;
  border-color: #81dfec;
}
