extends ../layout

block breadcrumb
  +breadcrumb('Location', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Location",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Location", className: "openAddModal"},
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "createLocation",
      title: "Add New Location",
      form: {
        url: "/location",
        fields: [
          { name: "type", label: "Type", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
          { name: "name", label: "Name", placeholder: "ex. IDC Lembong", validate:'empty', required:true},
          { name: "uid", label: "Site ID", placeholder: "ex. TDC-11", validate:'empty', required:false},
          { name: "address", label: "Address", placeholder: "ex. Jl. Lembong No.15 Bandung", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
  //- script.
  //-   function createLocation() {
  //-     var windowedMap = window.open("/map","_map_","location=no,status=no,titlebar=no,width=auto,height=auto");
  //-     windowedMap.onbeforeunload = function(event) { location.reload() };
  //-   }