extends ../layout

block script
  script.
    function unsetManufacture() {
      if (confirm("Are you sure?") == true) {
        sendDelete({
          url: "!{data.manufacture ? data.manufacture.links.delete.url : ''}",
        });
      }
    }

    function deletePeAssoc(elmn, data) {
      if (confirm("Are you sure?") == true) {
        const url = data.links[elmn.getAttribute("link")].url;
        sendDelete({
          url: url,
          data: {deviceId: '!{data.id}', deviceName: '!{data.name}', vrfName: data.name},
          done: function() {
            window.location.reload();
          }
        });
      }
    }
    $('.menu .item').tab()

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Device', url: '/device'})

block content
  -
    let actionTab  = {
      key: "removeDeviceInfo",
      delete: {
        url: data.links.delete.url,
        info: "Delete this device",
        label: "Delete this device",
      }
    }
  include ../component/removeButton

  -
    actionTab  = {
      key: "editDeviceInfo",
      update: {
        url: "data.links.update.url",
        info: "Change IP Address",
        label: "Change IP Address",
      }
    }
  include ../component/updateButton

  -
    actionTab  = {
      key: "syncDeviceInfo",
      sync: {
        url: "data.links.sync.url",
        info: "Sync With Network",
        label: "Sync With Network",
      }
    }
  include ../component/syncButton
  br
  br
  -
    let detailView = {
      key: "deviceInfo",
      title: "Device Information ["+data.ipAddress+"]",
      tooltipTitle: "Displays header information of device",
      collapse: true,
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "ipAddress", label: "IP Address", type: 'text', value: data.ipAddress},
        {label: "Status", name: "status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {label: "Installed Date", name: "installedDate", type: 'readonly', value: data.installedDate},
        {label: "Source", name: "source", type: 'readonly', value: data.source},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
        }
      }
    }
  include ../component/new/fieldList
  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Details
    a.item(data-tab='tab2') Location
    a.item(data-tab='tab3') Boundary
    a.item(data-tab='tab4') Connection
    a.item(data-tab='tab5') Service
    a.item(data-tab='tab6') Attachment
    a.item(data-tab='tab7') Asset
    a.item(data-tab='tab8') Contact
    a.item(data-tab='tab9') Event

  .ui.bottom.attached.tab.segment.active(data-tab='tab1')
    -
      detailView = {
        key: "spesificationinfo",
        title: "Spesification Information",
        tooltipTitle: "Displays specification information (manufacturer, model, role, type) of the device",
        collapse: true,
        hiddenFields: [],
        fields: [
          {label: "Name", name: "name", type: 'readonly', value: (data.manufacture ? data.manufacture.name : '')},
          {label: "Device Model", name: "model", type: 'readonly', value: (data.manufacture ? data.manufacture.model : '')},
          {label: "Max VLAN", name: "maxVlan", type: 'readonly', value: (data.manufacture ? data.manufacture.maxVLAN : '')},
          {name: "type", label: "Type", type: 'select', value: data.type, settings: {remote: {url: '/device/type'}, resultMapping: {label: "name", value: 'name'}}},
          {name: "networkRole", label: "Network Role", type: 'text', value: data.networkRole}
        ],
        actions: {
          custom: [
            { id: 'deleteManufacture', key: "Remove", label: "Unset Manufacturer", color: 'red', displayed: data.manufacture ? true: false, callback: "unsetManufacture", icon: "trash" },
            { class: 'openSetManufactureModal', key: "Update", label: "Set Manufacturer", color: 'green', icon: "checkmark" },
          ]
        }
      }
    include ../component/new/fieldList
    -
      tableSettings = {
        key: "cardSlot",
        title: "Card Slot Information",
        tooltipTitle: "Displays a card-slot list of Device",
        collapse: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "Label", name: "label", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Model", name: "model", filter: {type: 'text'}},
          { label: "SN", name: "sn", filter: {type: 'text'}},
          { label: "IP Address", name: "ipaddress", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        },
        buttons: {
          add: {label: "Add new card slot to this device", className: "openAddCardSlotModal"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "port",
        title: "Interface / Port Information",
        tooltipTitle: "Displays the interface / port list of the device",
        collapse: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}, type: 'status'},
          { label: "Max Bandwidth", name: "maxBandwidth", filter: {type: 'text'}},
          { label: "Used Bandwidth", name: "usedBandwidth", filter: {type: 'text'}},
          { label: "On Reserved Bandwidth", name: "reservedBandwidth", filter: {type: 'text'}},
          { label: "Max VLAN", name: "maxVlan", filter: {type: 'text'}},
          { label: "Used VLAN", name: "usedVlan", filter: {type: 'text'}},
          { label: "On Reserved VLAN", name: "reservedVlan", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: data.links.ports.url,
          method: data.links.ports.method,
          cached: true,
        },
        buttons: {
          add: {label: "Add new port to this device", className: "openAddPortModal"},
          adhocSync: {label: "Sync Ports with network", link: data.links.adhocSync}
        }
      }
    include ../component/new/table

    -
      tableSettings = {
        key: "vlan",
        title: "VLAN Information",
        tooltipTitle: "Displays a VLAN list of Device",
        collapse: true,
        columns: [
          { label: "Vlan ID", name: "vlanId", link: "view", filter: {type: 'text'}},
          { label: "Name", name: "name", filter: {type: 'text'}},
          { label: "Description", name: "description", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        },
        buttons: {
          add: {label: "Add new VLAN to this device", className: "openAddVlanModal"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "vcid",
        title: "VCID",
        tooltipTitle: "List Of Virtual Circuit Identifier that Configured on this device",
        collapse: true,
        columns: [
          { label: "Vlan ID", name: "vlanId", link: "view", filter: {type: 'text'}},
          { label: "Name", name: "name", filter: {type: 'text'}},
          { label: "Description", name: "description", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        },
        buttons: {
          add: {label: "Add new VLAN to this device", className: "openAddVlanModal"},
        }
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "vrf",
        title: "VRF",
        collapse: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "RD", name: "rd", filter: {type: 'text'}},
          {label: "Owner", name: "owner", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: data.links.vrfData.url,
          method: data.links.vrfData.method,
          cached: true,
        },
        buttons: {
          add: {label: "Add VRF association", className: "vrfOpenModalButton"},
          delete: {label: "Remove VRF association", link: "deleteRelationship", callback: "deletePeAssoc"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab2')
    -
     detailView = {
       key: "locationinfo",
       title: "Location Information",
       tooltipTitle: "Displays location information (Name, Address, Geometry, Area, Network Cluster) along with Map",
       collapse: true,
       fields: [
         {label: "ID", name: "id", type: 'readonly'},
         {label: "Address", name: "address", type: 'readonly'},
         {label: "Geometry", name: "geometry", type: 'readonly', value: (data.map[0] ? data.map[0] : null)},
         {label: "Area", name: "area", type: 'readonly'},
         {label: "Cluster", name: "cluster", type: 'readonly'}
       ],
       actions: {
         edit: {
           url: data.links.edit.url,
         },
         custom: [
           { id: 'relocateDevice', key: "Remove", label: "Relocate Device", color: 'red', displayed: data.manufacture ? true: false, callback: "unsetManufacture", icon: "trash" },
           { class: 'openSetLocationModal', key: "Update", label: "Change Location", color: 'orange', icon: "checkmark" },
         ]
       }
     }
    include ../component/new/fieldList
    -
      let mapSettings = {
        key : "mapLocation",
        objectType : 'location',
        objectTitle : "Location",
        title: "Map Location",
        data : data.map,
        function : {
          edit : {
            url : "/mapHandler/"
          },
          delete : {
            url : "/mapHandler/"
          },
          add : {
            className : "addLocationMap",
          }
        }
      }
    include ../component/new/map  
  .ui.bottom.attached.tab.segment(data-tab='tab3')
    
    -
      var tableSettings = {
        key: "serviceArea",
        title: "Service Area",
        tooltipTitle: "Coverage area of this device",
        collapse: true,
        columns: [
          {label: "POP", name: "name", link: "popView" },
          {label: "Role", name: "role" },
          {label: "Service Type", name: "serviceType" },
        ],
        data: []
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "networkCluster",
        title: "Network Cluster",
        tooltipTitle: "Network Clustering of this device",
        collapse: true,
        columns: [
          {label: "POP", name: "name", link: "popView" },
          {label: "Role", name: "role" },
          {label: "Service Type", name: "serviceType" },
        ],
        data: []
      }
    include ../component/new/table
    -
      var tableSettings = {
        key: "pop",
        title: "POP",
        collapse: true,
        columns: [
          {label: "POP", name: "name", link: "popView" },
          {label: "Role", name: "role" },
          {label: "Service Type", name: "serviceType" },
        ],
        data: data.managedServices,
        buttons: {
          add: {label: "Add POP relation", className: "openAddPOPModal"},
          delete: {label: "Remove POP relation", link: "delete"},
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab4')
    -
      tableSettings = {
        key: "deviceConnection",
        title: "Connected Device Information",
        tooltipTitle: "Displays a list of other Active Devices connected to of Device",
        collapse: true,
        columns: [
          {label: "Connection Type", name: "relationName", type: "relationship"},
          {label: "Name", name: "name", link: "view"},
          {label: "IP Address", name: "ipAddress"},
          {label: "Network Role", name: "networkRole", type: 'network-role'},
          {label: "Type", name: "type"}
        ],
        data: data.linkedDevices,
        buttons: {
          add: {label: "Add device connection", className: "openAddConnectionModalForm"},
          delete: {label: "Remove this connection", link: "delete"},
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "logicalConnection",
        title: "Logical Connection Device Information",
        tooltipTitle: "Displays a list of other Objects that are connected indirectly via Logical to the Device",
        collapse: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "backupDevice",
        title: "Backup Device",
        tooltipTitle: "List of backup of this device",
        collapse: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "connectionRules",
        title: "Connection Rules",
        tooltipTitle: "List of network rules regarding this device",
        collapse: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab5')
    -
      tableSettings = {
        key: "serviceinfo",
        title: "Service Information",
        tooltipTitle: "Displays a list of other service of Device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}},
          { label: "Service Type", name: "serviceType", filter: {type: 'text'}},
          { label: "Customer ID", name: "customerId", filter: {type: 'text'}},
          { label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          { label: "Address", name: "address", filter: {type: 'text'}},
          { label: "Installed Date", name: "installedDate", filter: {type: 'text'}},
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      var labelSettings = {
        key: "serviceType",
        title: "Service Type",
        definition: { link: 'view', title: 'name', content: 'name' },
        data: data.provisionedServices,
        action: {
          remove: { link: 'delete', label: "Remove Service Type"},
          add: { label: "Add Service Type"},
        },
        modal : {
          key: "addServiceType",
          title: "Add Service Type",
          form: {
            url: data.links.addServiceType.url,
            fields: [
              { name: "deviceId", type: "hidden", value: data.id},
              { name: "serviceTypeId", label: "Service Type", type: "select", placeholder: "Select service type", settings: {remote: {url: "/serviceType/data", method: "GET", extraData: { "columns[0][name]": 'name', "columns[0][search][value]": " ", "length": 0, "order[0][column]": 0, "order[0][dir]": 'asc'}}, resultMapping: { dataIndex: 'data', label: 'name', value: [':id']}}},
            ],
            callback: {
              onSuccess: () => {
                window.location.reload();
              }
            },
          },
        }
      }
    include ../component/new/labels
    -
      tableSettings = {
        key: "reservation",
        title: "Reservation",
        tooltipTitle: "List of reservation that served by this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    br
    br
  .ui.bottom.attached.tab.segment(data-tab='tab6')
    -
      let photosSettings = {
        title: "Photo Location",
        class : "openAddPhoto",
        key : "photoLocation",
        data : [
          {
            uid: "123321",
            name : "Gedung IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Ruang IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Parkiran IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Tower IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          }
        ]
      }
    
    include ../component/new/photos
    -
      tableSettings = {
        key: "video",
        title: "Video",
        tooltipTitle: "Associated video of this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "document",
        title: "Document",
        tooltipTitle: "List of document about this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "virtualReality",
        title: "Virtual Reality",
        tooltipTitle: "List of virtual reality about this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab7')
    -
      tableSettings = {
        key: "hardware",
        title: "Hardware",
        tooltipTitle: "Associated hardware that belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "capex",
        title: "Capex",
        tooltipTitle: "Associated CAPEX (Capital Expend) that belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "opex",
        title: "Opex",
        tooltipTitle: "Associated OPEX (Operational Expend) that belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab8')
    -
      tableSettings = {
        key: "responsible",
        title: "Responsible",
        tooltipTitle: "List of person or unit who resposible to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "accountable",
        title: "Accountable",
        tooltipTitle: "List of person or unit who accountable to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "controlled",
        title: "Controlled",
        tooltipTitle: "List of person or unit who control to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "informed",
        title: "Informaed",
        tooltipTitle: "List of person or unit who informed of this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
  .ui.bottom.attached.tab.segment(data-tab='tab9')
    -
      tableSettings = {
        key: "maintenance",
        title: "Maintenance",
        tooltipTitle: "List of maintenance event belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "incident",
        title: "Incident",
        tooltipTitle: "List of incident event belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "fault",
        title: "Fault",
        tooltipTitle: "List of fault event belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "sales",
        title: "Sales",
        tooltipTitle: "List of sales event belong to this device",
        collapse: true,
        columns: [
          { label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}}
        ],
        filterable: true,
        data: {
          url: "",
          method: "",
          cached: true,
        }
      }
    include ../component/new/table





  -
    var modalForm = {
      key: "addConnectionVRF",
      title: "Associate device with VRF",
      trigger: {
        className: "vrfOpenModalButton",
      },
      form: {
        url: data.links.addVrf.url,
        fields: [
          { name: "deviceId", type: "hidden", value: data.id },
          { name: "vrfId", label: "VRF", type: "search", placeholder: "Search VRF", validate: 'empty', required:true,
            settings: {
              remote : {
                url: data.links.queryVrf.url,
                query: "columns[0][search][value]",
                extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'},
              },
              resultMapping: { dataIndex: 'data', info: 'customer' ,label: 'name', value: [':id'] },
              minChar: 1
            },
          },
          { name: "rd", label: "RD", placeholder: "ex. 17974:107", validate: 'empty', required:true},
        ],
        callback: {
          onSuccess: () => {
            window.location.reload();
          }
        },
      },
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addConnection",
      title: "New Device Connection",
      trigger: {
        className: "openAddConnectionModalForm",
      },
      form: {
        url: "/device/"+data.id+"/connection",
        fields: [
          { name: "sourceNodeId", type: "hidden", value: data.id },
          { name: "targetNodeId", label: "Target Device", type: "search", placeholder: "Please type device name", validate: 'empty', required:true,
            settings: {
              remote : {
                url: "/device/data",
                query: "columns[0][search][value]",
                extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'},
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
              minChar: 3
            },
          },
          { name: "relationName", label: 'Connection Type', type: "select", placeholder: "Select connection type", validate: 'empty', required:true,
            settings: {
              options: [ {label: "AN_METROE", value: "AN_METROE"}, {label: "PE_METROE", value: "PE_METROE"}, {label: "SBC_METROE", value: "SBC_METROE"} ]
            },
          }
        ],
      }
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addPort",
      title: "Add New Port",
      form: {
        url: data.links.addPort.url,
        fields: [
            { name: "name", label: "Name", placeholder: "ex. 1-1-10", validate: 'empty', required:true},
            { name: "deviceId", type: "hidden", value: data.id},
            { name: "deviceName", type: "hidden", value: data.name},
            { name: "deviceIp", type: "hidden", value: data.ipAddress},
        ],
      },
      trigger: {
        className: "openAddPortModal"
      }
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addPop",
      title: "Add POP Relation",
      form: {
        url: data.links.addPop.url,
        fields: [
            { name: "deviceId", type: "hidden", value: data.id},
            { name: "popId", label: 'POP', type: "select", validate: 'empty', required:true,  placeholder: "Select POP", settings: {remote: {url: "/area/nodes", method: "GET", extraData: { 'group' : 'POP', 'name': ' ' }}, resultMapping: { dataIndex: 'nodes', label: 'name', info: 'description', value: 'id'}}},
            { name: "role", label: "Role", type: "text", validate: 'empty', required:true, placeholder: "ex. Main"},
            { name: "serviceTypeIdName", label: "Service Type", validate: 'empty', required:true, placeholder: "Select service type", type: "select", settings: { remote: { url: "/serviceType/data", method: "GET", extraData: { "columns[0][name]": 'name', "columns[0][search][value]": " ", "length": 0, "order[0][column]": 0, "order[0][dir]": 'asc'}}, resultMapping: { dataIndex: 'data', label: 'name', value: [':id', '_', ':name']}}},
        ],
      },
      trigger: {
        className: "openAddPOPModal"
      }
    }
  include ../component/new/modalForm

  -
    modalForm = {
      key: "setManufacturer",
      title: "Set Manufacturer",
      form: {
        url: data.links.addManufacture.url,
        method: data.manufacture? "PUT" : "POST",
        fields: [
            { name: "manufactureId", label: "Manufacturer Name", type: "select", validate: 'empty', required:true, settings: {remote: {url: '/manufacturer/data'}, resultMapping: {label: "name", value: "id"}}},
            { name: "model", label: "Model", placeholder: "ex. ZX3200", validate: 'empty', required:true},
            { name: "relationId", type: "hidden", value: data.manufacture ? data.manufacture.relationId : ""},
        ],
      },
      trigger: {
        className: "openSetManufactureModal"
      }
    }
  include ../component/new/modalForm

  each item in data.others
    div
      div= JSON.stringify(item)
