extends ../layout

block script
  script.
    function unsetManufacture() {
      if (confirm("Are you sure?") === true) {
        sendDelete({
          url: "!{data.manufacture ? data.manufacture.links.delete.url : ''}"
        });
      }
    }

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Device', url: '/device'})

block content
  -
    const actionTab  = {
      key: "editDeviceInfo",
      delete: {
        url: data.links.delete.url,
        info: "Delete this device",
        label: "Delete this device"
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "deviceInfo",
      title: "Device Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "ipAddress", label: "IP Address", type: 'text', value: data.ipAddress},
        {name: "type", label: "Type", type: 'select', value: data.type, settings: {remote: {url: '/device/type'}, resultMapping: {label: "name", value: 'name'}}},
        {name: "networkRole", label: "Network Role", type: 'text', value: data.networkRole},
        {name: "nat", label: "NAT", type: 'text', value: data.nat}
      ],
      actions: {
        edit: {
          url: data.links.edit.url
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {label: "Status", name: "status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {label: "Location", name: "location", type: 'readonly', value: (data.location ? data.location + (data.latlong ?  "(" + data.latlong + ")" : "") : null)},
        {label: "Installed Date", name: "installedDate", type: 'readonly', value: data.installedDate},
        {label: "Created At", name: "createdAt", type: 'readonly', value: data.createdAt},
        {label: "Created By", name: "createdBy", type: 'readonly', value: data.createdBy},
        {label: "Source", name: "source", type: 'readonly', value: data.source}
      ],
      actions: {
        edit: {
          url: data.links.edit.url
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "manufactureInfo",
      title: "Manufacturer",
      hiddenFields: [],
      fields: [
        {label: "Name", name: "name", type: 'readonly', value: (data.manufacture ? data.manufacture.name : '')},
        {label: "Device Model", name: "model", type: 'readonly', value: (data.manufacture ? data.manufacture.model : '')},
        {label: "Max VLAN", name: "maxVlan", type: 'readonly', value: (data.manufacture ? data.manufacture.maxVLAN : '')}
      ],
      actions: {
        custom: [
          { id: 'deleteManufacture', key: "Remove", label: "Unset Manufacturer", color: 'red', displayed: data.manufacture ? true: false, callback: "unsetManufacture", icon: "trash" },
          { class: 'openSetManufactureModal', key: "Update", label: "Set Manufacturer", color: 'green', icon: "checkmark" }
        ]
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "deviceConnection",
      title: "Connected Device",
      columns: [
        {label: "Connection Type", name: "relationName", type: 'relationship'},
        {label: "Name", name: "name", link: "view"},
        {label: "IP Address", name: "ipAddress"},
        {label: "Network Role", name: "networkRole", type: 'network-role'},
        {label: "Type", name: "type"}
      ],
      data: data.linkedDevices,
      buttons: {
        add: {label: "Add device connection", className: "openAddConnectionModalForm"},
        delete: {label: "Remove this connection", link: "delete"}
      }
    }
  include ../component/new/table

  -
    tableSettings = {
      key: "module",
      title: "Module Information",
      columns: [
        { label: "Sync", name: "syncData", filter: {type: 'boolean'}, type: 'toggle', link: ['syncSet','syncUnset']},
        { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        { label: "IP Address", name: "ipAddress", filter: {type: "text"}},
        { label: "NAT", name: "nat", filter: {type: "text"}},
        { label: "Hostname", name: "hostname", filter: {type: "text"}},
        { label: "Status", name: "status", filter: {type: 'text'}, type: 'status'},
        { label: "Created By", name: "createdBy", filter: {type: 'text'}},
        { label: "Created At", name: "createdAt", filter: {type: 'text'}}
      ],
      filterable: true,
      data: data.modules,
      buttons: {
        add: {label: "Add new module to this device", className: "openAddModuleModal"}
      }
    }
  include ../component/new/table

  -
    tableSettings = {
      key: "port",
      title: "Port Information",
      columns: [
        { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        { label: "Status", name: "status", filter: {type: 'text'}, type: 'status'},
        { label: "Max Bandwidth", name: "maxBandwidth", filter: {type: 'text'}},
        { label: "Used Bandwidth", name: "usedBandwidth", filter: {type: 'text'}},
        { label: "On Reserved Bandwidth", name: "reservedBandwidth", filter: {type: 'text'}},
        { label: "Max VLAN", name: "maxVlan", filter: {type: 'text'}},
        { label: "Used VLAN", name: "usedVlan", filter: {type: 'text'}},
        { label: "On Reserved VLAN", name: "reservedVlan", filter: {type: 'text'}}
      ],
      filterable: true,
      data: {
        url: data.links.ports.url,
        method: data.links.ports.method,
        cached: true
      },
      buttons: {
        add: {label: "Add new port to this device", className: "openAddPortModal"}
      }
    }
  include ../component/new/table

  -
    var modalForm = {
      key: "addConnection",
      title: "New Device Connection",
      trigger: {
        className: "openAddConnectionModalForm"
      },
      form: {
        url: "/device/"+data.id+"/connection",
        fields: [
          { name: "sourceNodeId", type: "hidden", value: data.id },
          { name: "targetNodeId", label: "Target Device", type: "search", placeholder: "Please type device name", validate:'empty',
            settings: {
              remote : {
                url: "/device/data",
                query: "columns[0][search][value]",
                extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
              minChar: 3
            }
          },
          { name: "relationName", label: 'Connection Type', type: "select", placeholder: "Select connection type", validate:'empty',
            settings: {
              options: [ {label: "WAC_METROE", value: "WAC_METROE"}, {label: "WAC_WAG", value: "WAC_WAG"} ]
            }
          }
        ]
      }
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addPort",
      title: "Add New Port",
      form: {
        url: data.links.addPort.url,
        fields: [
            { name: "name", label: "Name", placeholder: "ex. 1-1-10", validate: 'empty'},
            { name: "status", label: "Status", type: "select", placeholder: "ex. ACTIVE", value: 'ACTIVE', settings: {options: [{ label: "ACTIVE", value: "ACTIVE" }, { label: "INACTIVE", value: "INACTIVE" }]}},
            { name: "deviceId", type: "hidden", value: data.id},
            { name: "deviceName", type: "hidden", value: data.name},
            { name: "deviceIp", type: "hidden", value: data.ipAddress}
        ]
      },
      trigger: {
        className: "openAddPortModal"
      }
    }
  include ../component/new/modalForm

  -
    var modalForm = {
      key: "addModule",
      title: "Add New Module",
      form: {
        url: data.links.addModule.url,
        fields: [
            { name: "name", label: "Name", placeholder: "ex. 0-7", validate: "empty", required:true},
            { name: "status", label: "Status", type: "select", placeholder: "ex. ACTIVE", value: 'ACTIVE', settings: {options: [{ label: "ACTIVE", value: "ACTIVE" }, { label: "INACTIVE", value: "INACTIVE" }]}},
            { name: "type", label: "Type", placeholder: "ex. SVC-WISM2-K-K9"},
            { name: "model", label: "Model", placeholder: "ex. SVC-WISM2-K-K9"},
            { name: "serialNumber", label: "Serial Number", placeholder: "ex. 2JKT-JTN0806"},
            { name: "description", label: "Description", placeholder: "ex. serial:2JKT-JTN0806/ipaddress:0.0.0.0"},
            { name: "ipAddress", label: "IP Address", placeholder: "ex. 0.0.0.0", validate:"ipaddress"},
            { name: "nat", label: "NAT", placeholder: "ex. 0.0.0.0", validate:"ipaddress"},
            { name: "hostname", label: "Hostname", placeholder: "ex. N/A"},
            { name: "deviceId", type: "hidden", value: data.id}
        ]
      },
      trigger: {
        className: "openAddModuleModal"
      }
    }
  include ../component/new/modalForm

  -
    modalForm = {
      key: "setManufacturer",
      title: "Set Manufacturer",
      form: {
        url: data.links.addManufacture.url,
        method: data.manufacture? "PUT" : "POST",
        fields: [
            { name: "manufactureId", label: "Manufacturer Name", type: "select", settings: {remote: {url: '/manufacturer/data'}, resultMapping: {label: "name", value: "id"}}},
            { name: "model", label: "Model", placeholder: "ex. ZX3200"},
            { name: "relationId", type: "hidden", value: data.manufacture ? data.manufacture.relationId : ""}
        ]
      },
      trigger: {
        className: "openSetManufactureModal"
      }
    }
  include ../component/new/modalForm
