mixin addVLAN(type, url, hiddenFields)
  -
    var modalForm = {
      key: "addVLAN",
      title: "Add New VLAN",
      form: {
        url: url,
        fields: [
            { name: "name", label: "Name", placeholder: "ex. 2854", required: true, validate: {rules: [{type: "empty"}]}},
            (type === 'interface' ?
              { name: "purpose", label: "Purpose", placeholder: "ex. @wifi.id", required: true, validate: {rules: [{type: "empty"}]}}
              :''),
            (type === 'interface' ?
              { name: "intervlanName", label: "Interface VLAN Name", placeholder: "ex. ssid_wifi.id", required: true, validate: {rules: [{type: "empty"}]}}
              :''),
            { name: "status", label: "Status", type: "select", placeholder: "ex. ACTIVE", validate: {rules: [{type: "empty"}]}, value: 'ACTIVE', settings: {options: [{ label: "ACTIVE", value: "ACTIVE" }, { label: "INACTIVE", value: "INACTIVE" }]}},
            { name: "encapsulationType", label: "Encapsulation Type", type: "select", placeholder: "ex. DOT1Q", validate: {rules: [{type: "empty"}]}, value: 'DOT1Q', settings: {options: [{ label: "DOT1Q", value: "DOT1Q" }, { label: "QINQ", value: "QINQ" }]}},
            { name: "mode", label: "Mode", type: "select", validate: {rules: [{type: "empty"}]}, placeholder: "ex. TRUNK", settings: {options: [{ label: "TRUNK", value: "TRUNK" }, { label: "ACCESS", value: "ACCESS" }]}},
            { name: "mtu", label: "MTU", placeholder: "ex. 1500", validate: {rules: [{type: "integer"}]}},
            { name: "netmask", label: "Netmask", placeholder: "ex. 24", validate: {rules: [{type: "integer[1..31]",prompt: "{name} must be 1 to 31"}]}},
            { name: "networkId", label: "Network Id", placeholder: "ex.10.11.20.0", validate: {rules: [{type: "ipaddress",prompt: "{name} must be a valid IP Address"}]}},
            { name: "number", label: "Number", placeholder: "ex. 2854", validate: {rules: [{type: "integer[1..4096]",prompt: "{name} must be 1 to 4096"}]}},
            { name: "translation", label: "Translation", placeholder: "ex. 2854 for CVLAN", validate: {rules: [{type: "integer[1..4096]",prompt: "{name} must be between 1 to 4096"}]}},
            { name: "type", label: "Type", type: "select", placeholder: "ex. ETHERNET", validate: {rules: [{type: "empty"}]}, settings: {options: [{ label: "ETHERNET", value: "ETHERNET" }, { label: "FDDI", value: "FDDI" }, { label: "FDDINET", value: "FDDINET" }, { label: "TRCRF", value: "TRCRF" }, { label: "TRBRF", value: "TRBRF" }]}},
            (type === 'an' ?
              { name: "serviceTypeId", label: "Configured for Service Type", validate: {rules: [{type: "empty"}]}, required:true, type: "select", settings: {remote: {url: '/serviceType/data?json=true'}, resultMapping: {label: "name", value: "id"}}}
              :''),
            (type === 'an' ?
              { name: "manufactureId", label: "Configured for Manufacturer", validate: {rules: [{type: "empty"}]}, required:true, type: "select", settings: {remote: {url: '/manufacturer/data'}, resultMapping: {label: "name", value: "id"}}}
              :''),
        ]
      },
      trigger: {
        className: "openAddVlanModal"
      }
    }

  // add hidden fields
  if hiddenFields
    each val, index in hiddenFields
      - modalForm.form.fields.push({name:index, type: 'hidden', value: val})

  // remove blank fields caused by conditional above
  - var fields = [];
  each field in modalForm.form.fields
    if typeof field === 'object'
      - fields.push(field)
  - modalForm.form.fields = fields

  include ../component/new/modalForm
