extends ../layout

block breadcrumb
  +breadcrumb(
    data.name,
    {text: 'Home', url: '/'},
    {text: 'Device', url: '/device'},
    {text: data.device.name, url: data.device.links.view.url},
    {text: data.module.name, url: data.module.links.view.url},
    {text: data.port.name, url: data.port.links.view.url}
  )

block content
  -
    const actionTab  = {
      key: "deleteVlan",
      delete: {
        url: data.links.delete.url,
        info: "Delete this VLAN",
        label: "Delete this VLAN",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "editVlan",
      title: "VLAN Information",
      fields: [
        {name: "name", label: "Name", type: 'text', value: data.name},
        {name: "number", label: "Number", type: 'text', value: data.number},
        {name: "mode", label: "Mode", type: 'select', value: data.mode, settings: {options: [{ label: "TRUNK", value: "TRUNK" }, { label: "ACCESS", value: "ACCESS" }]}},
        {name: "networkId", label: "Network Id", type: 'text', value: data.networkId},
        {name: "netmask", label: "Netmask", type: 'text', value: data.netmask},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {name: "encapsulationType", label: "Encapsulation Type", type: 'select', value: data.encapsulationType, settings: {options: [{ label: "DOT1Q", value: "DOT1Q" }, { label: "QINQ", value: "QINQ" }]}},
        {name: "mtu", label: "MTU", type: 'text', value: data.mtu},
        {name: "translation", label: "Translation", type: 'text', value: data.translation},
        {name: "type", label: "Type", type: 'select', value: data.type, settings: {options: [{ label: "ETHERNET", value: "ETHERNET" }, { label: "FDDI", value: "FDDI" }, { label: "FDDINET", value: "FDDINET" }, { label: "TRCRF", value: "TRCRF" }, { label: "TRBRF", value: "TRBRF" }]}},

      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: "Edit VLAN Information",
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        {name: "intervlanName", label: "Interface VLAN Name", type: 'text', value: data.intervlanName},
        {name: "purpose", label: "Purpose", type: 'text', value: data.purpose},
        {name: "createdAt", label: "Created At", type: 'readonly', value: new Date(data.createdAt).toUTCString()},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "linkedVlan",
      title: "WISM VLAN",
      columns: [
        { label: "Device", name: "device", link: 'deviceView', filter: {type: 'text'}},
        { label: "Module", name: "module", link: 'moduleView', filter: {type: 'text'}},
        { label: "VLAN", name: "name", link: 'view', filter: {type: 'text'}},
      ],
      filterable: true,
      data: {
        url: data.links.linkWISMVLAN.url,
        method: data.links.linkWISMVLAN.method,
        cached: true
      },
      buttons: {
        add: {label: "Connect WISM VLAN to this", className: "openConnectVlanModal"},
        delete: {label: "Remove this connection", link: "delete"}
      }
    }
  include ../component/new/table 

  -
   var modalForm = {
     key: "linkedVlan",
     title: "Connect New WISM VLAN",
     form: {
       url: data.links.addLinkWISMVLAN.url,
       fields: [
           { name: "deviceId", type: "hidden", value: data.device._id },
           { name: "vlanId", type: "hidden", value: data.id },
           { name: "wacId", label: "Target WAC", type: "search", placeholder: "Please type WAC name", required:true, validate:'empty',
             settings: {
               remote : {
                 url: "/device/data",
                 query: "columns[0][search][value]",
                 extraData: { "columns[0][name]": 'name', "columns[1][name]": 'networkRole', "columns[1][search][value]": 'WAC', "length": 20, "order[0][column]": 0, "order[0][dir]": 'asc'}
               },
               resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
               minChar: 3
             }
           },
           { name: "wismVLANId", label: "Target VLAN", type: "search", placeholder: "Please type VLAN name", required:true, validate:'empty',
             settings: {
               remote : {
                 url: "/device/{{wacId}}/naModuleVLAN",
                 urlParam: {
                   wacId: '$("#_wacId_ > input[name=wacId]").val()',
                   wismId: '$("#_wismId_ > input[name=wismId]").val()'
                 },
                 query: "columns[0][search][value]",
                 extraData: { "columns[0][name]": 'name', "length": 20, "order[0][column]": 0, "order[0][dir]": 'asc'}
               },
               resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
               minChar: 1
             }
           }
       ]
     },
     trigger: {
       className: "openConnectVlanModal"
     }
   }
  include ../component/new/modalForm

  each item in data.others
    div
      div= JSON.stringify(item)