extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Employee', url: '/employee'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteEmployee',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editEmployee',
      title: 'Employee Information',
      fields: [
        {name: 'employeeNum', label: 'Employee Number', type: 'text', value: data.employeeNum},
        {name: 'nik', label: 'Nik', type: 'text', value: data.nik},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Female", value: "Female"}, {label: "Male", value: "Male"}]}},
        {name: 'bod', label: 'Bod', type: 'text', value: data.bod},
        {name: 'email', label: 'email', type: 'text', value: data.email},
        {name: 'telp', label: 'Phone', type: 'text', value: data.telp},
        {name: 'division', label: 'division', type: 'text', value: data.division},
        {name: 'job_title', label: 'Job Title', type: 'text', value: data.job_title},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "REGISTER", value: "REGISTER"}, {label: "UNREGISTER", value: "UNREGISTER"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList