extends ../layout

block breadcrumb
  +breadcrumb('Building', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Building",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        //- add: {label: "Create a new Building", callback: "createBuilding"},
      }
    }
  include ../component/new/table

  script.
    function createBuilding() {
      var windowedMap = window.open("/map","_map_","location=no,status=no,titlebar=no,width=auto,height=auto");
      windowedMap.onbeforeunload = function(event) { location.reload() };
    }