extends layout

block style
  style.
    .welcome {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 80vh;
    }
    .welcome span{
      font-family: 'Raleway', sans-serif;
      font-size: 100px;
    }
    .welcome p{
      text-align: center;
    }

block content
  div.welcome
    div
      span= status
      div.ui.divider
      p= message
