extends ../layout

block breadcrumb
  +breadcrumb('Rack', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Rack",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Rack", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createRack",
      title: "Create Rack",
      form: {
        url: "/rack",
        fields: [
            { name: "name", label: "Nama Rak", placeholder: "ex. RACK-B1", validate:'empty', required:true},
            { name: 'locationName', label: 'Location Rack', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/location/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
            //- { name: "id_buku", label: "ID Buku", placeholder: "-B1", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm