extends ../layout

block breadcrumb
  +breadcrumb('Object Type', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "ObjectType",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new ObjectType", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addObjectType",
      title: "Create ObjectType",
      form: {
        url: "/objectType",
        fields: [
            { name: "objectId", label: "Object", type: "select", placeholder: "Select Object", settings: {remote: {url: "/object/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "nameAlias", label: "Name Alias", placeholder: "ex. BDG", validate:'empty', required:true},
            { name: "description", label: "Description", placeholder: "ex. Administrator", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
