div(style="height:50px")
h3.ui.dividing.header= labeledPile.nodeName
div
  if (labeledPile.nodeConnectionData.length === 0)
    div.ui.secondary.center.aligned.segment
      p No Information Available
  else
    each item in labeledPile.nodeConnectionData
      div.ui.basic.label
        if(item.links && item.links.view)
          a(href=item.links.view.url data-tooltip=item.label?item.label:item.description)= item.name
          if (item.links.deleteRelationship)
            i(class="delete icon notVisible " + labeledPile.nodeName + "DeleteButton" remove-url=item.links.deleteRelationship.url)
        else
          span(data-tooltip=item.label?item.label:item.description)= item.name
          if (item.links && item.links.deleteRelationship)
            i(class="delete icon notVisible " + labeledPile.nodeName + "DeleteButton" remove-url=item.links.deleteRelationship.url)

if (labeledPile.addNodeConnectionUrl)
  div(style="height:15px")
  div(style="float: right")
    a(class="ui tiny orange button " + labeledPile.nodeName + "EditButton" data-tooltip="Remove Connection to "+labeledPile.nodeName) Remove #{labeledPile.nodeName}
    a(class="ui tiny blue button " + labeledPile.nodeName + "OpenModalButton" data-tooltip="Add Connection to "+labeledPile.nodeName) Add #{labeledPile.nodeName}
  form(id=labeledPile.nodeName + "RemoveNodeConnectionForm" method="DELETE" style="display:none")

-
  var modal= labeledPile.modal
if (labeledPile.addNodeConnectionUrl)
  include createByReferenceModal

script.
  $(document).ready(function () {
    $(".!{labeledPile.nodeName}EditButton").on("click", function (event) {
      $(".!{labeledPile.nodeName}DeleteButton").toggleClass("notVisible");
    });

    $(".!{labeledPile.nodeName}DeleteButton").on("click", function (event) {
      sendDelete({
          url: this.getAttribute("remove-url"),
          done: function() {
            window.location = "!{labeledPile.nodeViewUrl}"
          }
      });
    });
  });

