div(style="height:10px")
h3.ui.dividing.header= tableOptions.title
if (tableOptions.isEmpty)
  div.ui.secondary.center.aligned.segment
    p No Information Available
else
  table(class="ui very basic selectable table")
    thead
      tr
        each row in tableOptions.rows
          th= row.label
        if (tableOptions.actions)
          th Action
    tbody
      each item, itemIndex in tableOptions.data
        - let tooltip = ""
        if(tableOptions.tooltip)
          each tooltioData, tooltipIndex in tableOptions.tooltip
            - tooltip += (tooltioData && tooltioData.startsWith(":") ? item[tooltioData.substring(1)] : tooltioData)
        tr
          each row, index in tableOptions.rows
            - const text = (row.value && row.value.startsWith(":") ? item[row.value.substring(1)] : row.value)
            - const text2 = row.type === "date" ? new Date(text).toUTCString() : text
            - const id = (row.id && row.id.startsWith(":") ? row.label+item[row.id.substring(1)] : row.id)
            - let attr = {};
            if(row.attr)
              each dataValue, dataKey in row.attr
                - attr[dataKey] = dataValue.startsWith(":") ? item[dataValue.substring(1)] : dataValue
            if (row.link)
              td
                a(id=(row.id ? id : tableOptions.key+"TableRow-"+itemIndex+"-"+index) class=(row.class?row.class:tableOptions.key+"TableCol-"+index) row=itemIndex col=index data=row.data?text:"" href=item.links[row.link].url )&attributes(attr)= (text2 ? text2  : '-')
            else
              td(id=(row.id ? id : tableOptions.key+"TableRow-"+itemIndex+"-"+index) class=(row.class?row.class:tableOptions.key+"TableCol-"+index) row=itemIndex col=index data=row.data?text:"" )&attributes(attr)= (text2 ? text2  : '-')
          if (tableOptions.actions)
            td
              each actionItem, actionIndex in tableOptions.actions
                - let data = {};
                if(actionItem.data)
                  each dataValue, dataKey in actionItem.data
                    - data[dataKey] = dataValue.startsWith(":") ? item[dataValue.substring(1)] : dataValue
                if (actionItem.type === "delete")
                    button(class="ui mini red icon button " + (actionItem.className ? actionItem.className : "DeleteButton" + tableOptions.key) data-tooltip=actionItem.label link=item.links[actionItem.link].url)&attributes(data)
                      i.delete.icon
                if (actionItem.type === "activate")
                    button(class="ui mini green icon button " + actionItem.className data-tooltip=actionItem.label link=item.links[actionItem.link].url method=item.links[actionItem.link].method)&attributes(data)
                      i.checkmark.box.icon

  -
    var functionScript = "";
    if (tableOptions.actions)
      tableOptions.actions.forEach(function(item, index){
        if(item.type === "delete"){
          if(!item.callback){
            functionScript += '$(".DeleteButton'+tableOptions.key+'").on("click", function (event) { if (confirm("Are you sure?") == true) { sendDelete({ url: this.getAttribute("link") }); }});'
          } else {
            functionScript += '\n$(".'+item.className+'").on("click", function (event) { window["'+item.callback+'"](this); });';
          }
        } else {
          functionScript += '\n$(".'+item.className+'").on("click", function (event) { window["'+item.callback+'"](this); });';
        }
      });

  script.
    $(document).ready(function () {
      !{functionScript}
    });
