extends ../layout

block breadcrumb
  +breadcrumb('Employee', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Employee",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Employee", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addEmployee",
      title: "Create Employee",
      form: {
        url: "/employee",
        fields: [
            //- { name: "objectId", label: "Object", type: "select", placeholder: "Select Object", settings: {remote: {url: "/object/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "employeeNum", label: "Employee Number", placeholder: "ex. 001",        validate:'empty', required:true},
            { name: "nik",         label: "NIK",             placeholder: "ex. 001",        validate:'empty', required:true},
            { name: "name",        label: "Name",            placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender",      label: "Gender",          placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "bod",         label: "BOD: "            ex. Jalan Jalan", validate:'empty', required:true},
            { name: "email",       label: "Email",           placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp",        label: "Phone",           placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "division",    label: "Division",        placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "job_title",   label: "Jobtitle",        placeholder: "ex. Manager", validate:'empty', required:true},        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
