extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Anggota', url: '/anggota'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteAnggota',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editAnggota',
      title: 'Anggota Information',
      fields: [
        {name: 'kd_anggota', label: 'Code Anggota', type: 'text', value: data.kd_anggota},
        {name: 'name', label: 'Anggota name', type: 'text', value: data.name},
        {name: 'gender', label: 'Gender', type: 'text', value: data.gender},
        {name: 'address', label: 'Address', type: 'text', value: data.address},
        {name: 'email', label: 'Email', type: 'text', value: data.email},
        {name: 'telp', label: 'Phone', type: 'text', value: data.telp},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList