extends ../layout

block breadcrumb
  +breadcrumb('Anggota', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Anggota",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Anggota", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addAnggota",
      title: "Create Anggota",
      form: {
        url: "/anggota",
        fields: [
            //- { name: "objectId", label: "Object", type: "select", placeholder: "Select Object", settings: {remote: {url: "/object/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            //- { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: 'kd_anggota', label: 'Code Anggota',placeholder:"ex.A-001" ,link: 'view', validate:'empty', required:true},
            { name: 'name', label: 'Anggota name',placeholder:"ex.Aham Oil" , validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: 'bod', label: 'Birth of date',placeholder:"ex.07-07-2001" , type: 'date' ,validate:'empty', required:true},
            { name: 'address', label: 'Address',placeholder:"ex.Jl.jalan" , validate:'empty', required:true},
            { name: 'email', label: 'Email',placeholder:"ex.Email@gmail.com" , validate:'empty', required:true},
            { name: 'telp', label: 'Phone',placeholder:"ex.08571218326" , validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
