extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Object', url: '/object'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteObject',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editObject',
      title: 'Object Information',
      fields: [
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'nameAlias', label: 'Name Alias', type: 'text', value: data.nameAlias},
        {name: 'description', label: 'Description', type: 'text', value: data.description},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "tableObjectType",
      title: "Object Type",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Description", name: "description"},
        {label: "Enabled", name: "enabled", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.objectType,
      buttons: {
        add: {label: "Add ObjectType", className: "openAddObjectType"},
        delete: {label: "Remove Object Types from this Object", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table

  -
    var labelSettings = {
      key: "labelObjectType",
      title: "Object Type",
      definition: { title: 'name', content: 'name', link:'view' },
      data: data.objectType,
      action: {
        remove: { link: 'delete', label: "Remove Object Type"},
        add: { label: "Assign Object Type"}
      },
      modal : {
        key: "addObjectType",
        title: "Assign Object Type",
        form: {
          url: data.links.addObjectType.url,
          fields: [
            { name: "objectId", type: "hidden", value: data._id },
            { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "nameAlias", label: "Name Alias", placeholder: "ex. BDG", validate:'empty', required:true},
            { name: "description", label: "Description", placeholder: "ex. Administrator", validate:'empty', required:true}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addObjectType2",
      title: "Create ObjectType",
      form: {
        url: "/objectType",
        fields: [
            { name: "objectId", type: "hidden", value: data._id },
            { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "nameAlias", label: "Name Alias", placeholder: "ex. BDG", validate:'empty', required:true},
            { name: "description", label: "Description", placeholder: "ex. Administrator", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddObjectType"
      }
    }
  include ../component/new/modalForm