div.ui.small.basic.test.modal.transition.forceModal(id= forceModal.key + "ForceModal")
    div.ui.icon.header
      i.warning.sign.icon
      span= forceModal.title
    div.content
      p= forceModal.message
    div.actions
      div.ui.red.basic.cancel.inverted.button(id=(forceModal.negative.id ? forceModal.negative.id : forceModal.key + "ForceModalNegativeButton"))
        i.remove.icon
        span= forceModal.negative.label
      div.ui.green.ok.inverted.button(id=(forceModal.negative.id ? forceModal.positive.id : forceModal.key + "ForceModalPositiveButton"))
        i.checkmark.icon
        span= forceModal.positive.label

-
  const modalTrigger = forceModal.trigger && forceModal.trigger.className ? '$("body").on("click", ".'+ forceModal.trigger.className+'", function(){ $("#'+ forceModal.key +'ForceModal").modal("show") });' : ''

script.
  $(document).ready(function () {
      $('#!{forceModal.key}ForceModal')
            .modal({
              closable: true,
              onDeny: !{forceModal.negative.callback},
              onApprove: !{forceModal.positive.callback},
            });

      !{modalTrigger}
  });