- var tableOptions = tableWithCreateByReferenceModalOptions.tableOptions
include tabular

div(style="float: right")
  a(class="ui tiny blue button "+tableWithCreateByReferenceModalOptions.connectionModal.triggerClassName  data-tooltip=tableWithCreateByReferenceModalOptions.addButtonLabel)= tableWithCreateByReferenceModalOptions.addButtonLabel

- var modal = tableWithCreateByReferenceModalOptions.connectionModal
include createByReferenceModal

