extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Tenant', url: '/tenant'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteTenant',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editTenant',
      title: 'Tenant Information',
      fields: [
        {name: 'tenantNum', label: 'Tenant Number', type: 'text', value: data.tenantNum},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'floor', label: 'Floor', type: 'text', value: data.floor},
        {name: 'height', label: 'Height', type: 'text', value: data.height},
        {name: 'width', label: 'Phone', type: 'text', value: data.width},
        {name: 'length', label: 'Length', type: 'text', value: data.length},
        {name: 'employeeId', label: 'Employee ID', type: 'text', value: data.employeeId},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "RENT", value: "RENT"}, {label: "RESIDENCE", value: "RESIDENCE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList