extends ../layout

block breadcrumb
  +breadcrumb('Tenant', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Tenant",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Tenant", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addTenant",
      title: "Create Tenant",
      form: {
        url: "/tenant",
        fields: [
            { name: "tenantNum", label: "Tenant Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. ", validate:'empty', required:true},
            { name: "floor", label: "Floor", placeholder: "ex. ", validate:'empty', required:true},
            { name: "height", label: "Height", placeholder: "ex. 40",validate:'empty', required:true},
            { name: "width", label: "Width", placeholder: "ex. 20", validate:'empty', required:true},
            { name: "length", label: "length", placeholder: "ex. 43", validate:'empty', required:true},
            { name: "employeeId", label: "Employee ID", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "RENT", value: "RENT"}, {label: "RESIDENCE", value: "RESIDENCE"}]}}      
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
