extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Buku', url: '/buku'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteBuku',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editBuku',
      title: 'Buku Information',
      fields: [
        {name: 'id_buku', label: 'Book ID', type: 'text', value: data.id_buku},
        {name: 'book_code', label: 'Book Code', type: 'text', value: data.book_code},
        {name: 'judul', label: 'Judul', type: 'text', value: data.judul},
        {name: 'penulis', label: 'Penulis', type: 'text', value: data.penulis},
        {name: 'penerbit', label: 'Penerbit', type: 'text', value: data.penerbit},
        {name: 'terbit', label: 'Tahun Terbit', type: 'text', value: data.terbit},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList