extends ../layout

block breadcrumb
  +breadcrumb('Buku', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Buku",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Book", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addBuku",
      title: "Create Buku",
      form: {
        url: "/buku",
        fields: [
            //- { name: "objectId", label: "Object", type: "select", placeholder: "Select Object", settings: {remote: {url: "/object/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            //- { name: "name", label: "Name", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: 'id_buku', label: 'Book ID', link: 'view', validate:'empty', required:true},
            { name: 'book_code', label: 'Book Code', validate:'empty', required:true},
            { name: 'judul', label: 'Judul', link: 'view', validate:'empty', required:true},
            { name: 'penulis', label: 'Penulis', validate:'empty', required:true},
            { name: 'penerbit', label: 'Penerbit', validate:'empty', required:true},
            { name: 'terbit', label: 'Tahun Terbit', validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
