extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Validation Visitor', url: '/valid_visit'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deletevalidVisit',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editValidvisit',
      title: 'Validvisit Information',
      fields: [
        {name: 'verifi_name', label: 'Verifi visitor ', type: 'text', value: data.verifi_name},
        {name: 'name', label: 'Name', type: 'text', value: data.nameAlias},
        {name: 'check_in', label: 'Check-in', type: 'date', value: data.check_in},
        {name: 'check_out', label: 'Check-out', type: 'date', value: data.check_out}
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

   -
    tableSettings = {
      key: "tableVisitor",
      title: "Visitor",
      filterable: true,
      columns: [
         { name: "visitnum", label: "Visite Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "address", label: "Address", placeholder: "ex. Jalan Jalan", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "institution", label: "Institution", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "jobtitle", label: "Jobtitle", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "meet_with", label: "Meet With", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "floor", label: "Floor", placeholder: "ex. Lantai !", validate:'empty', required:true},
            { name: "purpose", label: "Purpose", placeholder: "ex. meeting", validate:'empty', required:true},        ]
      ],
      data: data.visitor,
      buttons: {
        add: {label: "add Visitor", className: "openAddVisitor"},
        delete: {label: "Remove Visitor from this visitor", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    var labelSettings = {
      key: "labelVisitor",
      title: "Data Visitor",
      definition: { title: 'validId', content: 'validId', link:'view' },
      data: data.visitor,
      action: {
        remove: { link: 'delete', label: "Remove Visitor"},
        add: { label: "Assign Visitor"}
      },
      modal : {
        key: "addVisitor",
        title: "Assign Visitor",
        form: {
          url: data.links.addVisitor.url,
          fields: [
            { name: "validId", type: "hidden", value: data._id },
            { name: "visitnum", label: "Visite Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "address", label: "Address", placeholder: "ex. Jalan Jalan", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "institution", label: "Institution", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "jobtitle", label: "Jobtitle", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "meet_with", label: "Meet With", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "floor", label: "Floor", placeholder: "ex. Lantai !", validate:'empty', required:true},
            { name: "visitor", label: "Visitor", placeholder: "ex. meeting", validate:'empty', required:true},        ]
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modal= {
      key: "addVisitor",
      title: "Assign Visitor",
      form: {
        url: "/visitor",
        fields: [
            { name: "validId", type: "hidden", value: data._id },
            { name: "visitnum", label: "Visite Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "address", label: "Address", placeholder: "ex. Jalan Jalan", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "institution", label: "Institution", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "jobtitle", label: "Jobtitle", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "meet_with", label: "Meet With", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "floor", label: "Floor", placeholder: "ex. Lantai !", validate:'empty', required:true},
            { name: "visitor", label: "Visitor", placeholder: "ex. meeting", validate:'empty', required:true},      
          ]
      },
      trigger: {
        className: "openaddVisitor"
      }
    }
  include ../component/new/modal