extends ../layout

block breadcrumb
  +breadcrumb('Valid_tenant', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Valid_tenant",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Valid Tenant", className: "openAddModal"},
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "createvalid_tenant",
      title: "Add New Valid Tenant",
      form: {
        url: "/Valid_tenant",
        fields: [
            { name: "valid_tenant", label: "Valid Tenant", placeholder: "ex. ", validate:'empty', required:true},
            { name: "verifi_Tenantname", label: "Verifi Tenant Name", placeholder: "ex. ", validate:'empty', required:true},
            { name: "employee", label: "Employee(QR Code)", placeholder: "ex. ", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
