extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Visitor', url: '/visitor'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteVisitor',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editVisitor',
      title: 'Visitor Information',
      fields: [
        {name: 'visitnum', label: 'Visit Number', type: 'text', value: data.visitnum},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Female", value: "Female"}, {label: "Male", value: "Male"}]}},
        {name: 'address', label: 'Address', type: 'text', value: data.address},
        {name: 'email', label: 'Email', type: 'text', value: data.email},
        {name: 'telp', label: 'Phone', type: 'text', value: data.telp},
        {name: 'institution', label: 'Institution', type: 'text', value: data.institution},
        {name: 'jobtitle', label: 'Job Title', type: 'text', value: data.jobtitle},
        {name: 'meet_with', label: 'Meet with', type: 'text', value: data.meet_with},
        {name: 'floor', label: 'Floor', type: 'text', value: data.floor},
        {name: 'purpose', label: 'Meet with', type: 'text', value: data.purpose},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "REGISTER", value: "REGISTER"}, {label: "UNREGISTER", value: "UNREGISTER"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList