extends ../layout

block breadcrumb
  +breadcrumb('Visitor', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Visitor",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Visitor", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addVisitor",
      title: "Create Visitor",
      form: {
        url: "/visitor",
        fields: [
            //- { name: "objectId", label: "Object", type: "select", placeholder: "Select Object", settings: {remote: {url: "/object/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "visitnum", label: "Visite Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "address", label: "Address", placeholder: "ex. Jalan Jalan", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "institution", label: "Institution", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "jobtitle", label: "Jobtitle", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "meet_with", label: "Meet With", placeholder: "ex. Manager", validate:'empty', required:true},
            { name: "floor", label: "Floor", placeholder: "ex. Lantai !", validate:'empty', required:true},
            { name: "purpose", label: "Purpose", placeholder: "ex. meeting", validate:'empty', required:true},        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
