extends ../layout

block breadcrumb
  +breadcrumb(
    data.name,
    {text: 'Home', url: '/'},
    {text: 'Device', url: '/device'},
    {text: data.device.name, url: data.device.links.view.url},
    {text: data.module.name, url: data.module.links.view.url}
  )


block content
  -
    const actionTab  = {
      key: "deleteVlan",
      delete: {
        url: data.links.delete.url,
        info: "Delete this VLAN",
        label: "Delete this VLAN",
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: "editVlan",
      title: "VLAN Information",
      fields: [
        {name: "name", label: "Name", type: 'readOnly', value: data.name},
        {name: "number", label: "Number", type: 'text', value: data.number},
        {name: "mode", label: "Mode", type: 'select', value: data.mode, settings: {options: [{ label: "TRUNK", value: "TRUNK" }, { label: "ACCESS", value: "ACCESS" }]}},
        {name: "networkId", label: "Network Id", type: 'text', value: data.networkId},
        {name: "netmask", label: "Netmask", type: 'text', value: data.netmask},
        {name: "status", label: "Status", type: 'select', value: data.status, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
        {name: "encapsulationType", label: "Encapsulation Type", type: 'select', value: data.encapsulationType, settings: {options: [{ label: "DOT1Q", value: "DOT1Q" }, { label: "QINQ", value: "QINQ" }]}},
        {name: "mtu", label: "MTU", type: 'text', value: data.mtu},
        {name: "translation", label: "Translation", type: 'text', value: data.translation},
        {name: "type", label: "Type", type: 'select', value: data.type, settings: {options: [{ label: "ETHERNET", value: "ETHERNET" }, { label: "FDDI", value: "FDDI" }, { label: "FDDINET", value: "FDDINET" }, { label: "TRCRF", value: "TRCRF" }, { label: "TRBRF", value: "TRBRF" }]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: "Edit VLAN Information",
        }
      }
    }
  include ../component/new/fieldList

  -
    detailView = {
      key: "additionalInfo",
      title: "Additional Information",
      fields: [
        data.module.name === 'NA' ?
            {name: "intervlanName", label: "Interface VLAN Name", type: 'text', value: data.intervlanName}:{},
        data.module.name === 'NA' ?
            {name: "purpose", label: "Purpose", type: 'text', value: data.purpose}:{},
        {name: "createdAt", label: "Created At", type: 'readonly', value: new Date(data.createdAt).toUTCString()},
        {name: "createdBy", label: "Created By", type: 'readonly', value: data.createdBy},
      ],
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "service",
      title: "Service",
      columns: [
        {label: "Reservation ID", name: "reservationId", link: "view"},
        {label: "Service ID", name: "sid"},
      ],
      data: data.services,
    }
  include ../component/new/table

  if data.module.name === 'NA'
    -
      tableSettings = {
        key: "vlan",
        title: "Linked WAG VLAN",
        columns: [
          {label: "Device", name: "device", link: "viewDevice"},
          {label: "Module", name: "module", link: "viewModule"},
          {label: "Port", name: "port", link: "viewPort"},
          {label: "VLAN", name: "name", link: "view"},
        ],
        data: {
          url: data.links.linkedWAGVLAN.url,
          method: data.links.linkedWAGVLAN.method,
          cached: true
        },
        buttons: {
          add: {label: "Connect other WAG VLAN to this", className: "openConnectWAGVlanModal"},
          delete: {label: "Remove this connection", link: "delete"}
        }
      }
    include ../component/new/table

    -
      var modalForm = {
        key: "linkedWAGVlan",
        title: "Connect New WAG VLAN",
        form: {
          url: data.links.linkedWAGVLAN.url,
          fields: [
              { name: "deviceId", type: "hidden", value: data.device._id },
              { name: "moduleId", type: "hidden", value: data.module._id },
              { name: "vlanId", type: "hidden", value: data.id },
              { name: "targetDeviceId", label: "Target Device", type: "search", placeholder: "Please type WAG device name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/data",
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "columns[1][name]": 'networkRole', "columns[1][search][value]": 'WAG', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 3
                }
              },
              { name: "targetModuleId", label: "Target Module", type: "search", placeholder: "Please type Module name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/{{targetDeviceId}}/module/data",
                    urlParam: {
                      targetDeviceId: '$("#_targetDeviceId_ > input[name=targetDeviceId]").val()'
                    },
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 1
                }
              },
              { name: "targetPortId", label: "Target Port", type: "search", placeholder: "Please type Port name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/{{targetDeviceId}}/module/{{targetModuleId}}/port",
                    urlParam: {
                      targetDeviceId: '$("#_targetDeviceId_ > input[name=targetDeviceId]").val()',
                      targetModuleId: '$("#_targetModuleId_ > input[name=targetModuleId]").val()'
                    },
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 1
                }
              },
              { name: "targetVLANId", label: "Target VLAN", type: "search", placeholder: "Please type VLAN name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/{{targetDeviceId}}/module/{{targetModuleId}}/port/{{targetPortId}}/vlan",
                    urlParam: {
                      targetDeviceId: '$("#_targetDeviceId_ > input[name=targetDeviceId]").val()',
                      targetModuleId: '$("#_targetModuleId_ > input[name=targetModuleId]").val()',
                      targetPortId: '$("#_targetPortId_ > input[name=targetPortId]").val()'
                    },
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 1
                }
              }
          ]
        },
        trigger: {
          className: "openConnectWAGVlanModal"
        }
      }
    include ../component/new/modalForm
  else
    -
      tableSettings = {
        key: "vlan",
        title: "Linked AN VLAN",
        columns: [
          {label: "Device", name: "device", link: "viewDevice"},
          {label: "VLAN", name: "name", link: "view"},
        ],
        data: {
          url: data.links.linkedVlan.url,
          method: data.links.linkedVlan.method,
          cached: true
        },
        buttons: {
          add: {label: "Connect other AN VLAN to this", className: "openConnectVlanModal"},
          delete: {label: "Remove this connection", link: "delete"}
        }
      }
    include ../component/new/table

    -
      var modalForm = {
        key: "linkedVlan",
        title: "Connect New AN VLAN",
        form: {
          url: data.links.linkedVlan.url,
          fields: [
              { name: "deviceId", type: "hidden", value: data.device._id },
              { name: "moduleId", type: "hidden", value: data.module._id },
              { name: "vlanId", type: "hidden", value: data.id },
              { name: "targetDeviceId", label: "Target Device", type: "search", placeholder: "Please type AN device name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/data",
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "columns[1][name]": 'networkRole', "columns[1][search][value]": 'AN', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 3
                }
              },
              { name: "targetVLANId", label: "Target VLAN", type: "search", placeholder: "Please type VLAN name", required:true, validate:'empty',
                settings: {
                  remote : {
                    url: "/device/{{targetDeviceId}}/vlan",
                    urlParam: {
                      targetDeviceId: '$("#_targetDeviceId_ > input[name=targetDeviceId]").val()'
                    },
                    query: "columns[0][search][value]",
                    extraData: { "columns[0][name]": 'name', "length": 10, "order[0][column]": 0, "order[0][dir]": 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':id'] },
                  minChar: 1
                }
              }
          ]
        },
        trigger: {
          className: "openConnectVlanModal"
        }
      }
    include ../component/new/modalForm

  each item in data.others
    div
      pre= JSON.stringify(item,null,2)
