extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Peminjaman', url: '/peminjaman'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'delete',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editPeminjaman',
      title: 'Peminjaman Information',
      fields: [
        {name: 'id_peminjaman', label: 'id_peminjaman', type: 'text', value: data.id_peminjaman},
        {name: 'tanggal_pinjam', label: 'tanggal_pinjam', type: 'text', value: data.tanggal_pinjam},
        {name: 'tanggal_kembali', label: 'tanggal_kembali', type: 'text', value: data.tanggal_kembali},
        {name: 'id_buku', label: 'id_buku', type: 'text', value: data.id_buku},
        {name: 'id_anggota', label: 'id_anggota', type: 'text', value: data.id_anggota},
        {name: 'id_petugas', label: 'id_petugas', type: 'text', value: data.id_petugas},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "tablePeminjaman",
      title: "Peminjaman",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "valId", name: "valId", link: "view", filter: {type: 'text'}},
        {label: "employeeNum", name: "employeeNum", link: "view", filter: {type: 'text'}},
        {label: "nik", name: "nik"},
        {label: "name", name: "name"},
        {label: "gender", name: "gender"},
        {label: "bod", name: "bod"},
        {label: "email", name: "email"},
        {label: "telp", name: "telp"},
        {label: "division", name: "division"},
        {label: "job_title", name: "job_title"},
        {label: "status", name: "status", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.employee,
      buttons: {
        add: {label: "AddEmployee", className: "openAddEmployee"},
        delete: {label: "Remove Employee from this validasi", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    var labelSettings = {
      key: "labelEmployee",
      title: "Employee",
      definition: { title: 'name', content: 'name', link:'view' },
      data: data.employee,
      action: {
        remove: { link: 'delete', label: "Remove Employee"},
        add: { label: "Assign Employee"}
      },
      modal : {
        key: "addEmployee",
        title: "Assign Employee",
        form: {
          url: data.links.addEmployee.url,
          fields: [
            //- { name: "objectId", type: "hidden", value: data._id },
            { name: "valId", type: "hidden", value: data._id },
            { name: "employeeNum", label: "Employee Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "nik", label: "Nik", placeholder: "ex. 0826348776218726", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "bod", label: "Bod", placeholder: "ex. 21-07-2001", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. 0821303137", validate:'empty', required:true},
            { name: "division", label: "Division", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "job_title", label: "Dob_title", placeholder: "ex. Manager", validate:'empty', required:true}
          ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addEmployee2",
      title: "Create Employee",
      form: {
        url: "/employee",
        fields: [
            //- { name: "objectId", type: "hidden", value: data._id },
            { name: "valId", type: "hidden", value: data._id },
            { name: "employeeNum", label: "Employee Number", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "nik", label: "Nik", placeholder: "ex. 0826348776218726", validate:'empty', required:true},
            { name: "name", label: "Name", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
            { name: "gender", label: "Gender", placeholder: "Select Gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
            { name: "bod", label: "Bod", placeholder: "ex. 21-07-2001", validate:'empty', required:true},
            { name: "email", label: "Email", placeholder: "ex. Danihamdani866@gmail.com", validate:'empty', required:true},
            { name: "telp", label: "Phone", placeholder: "ex. 0821303137", validate:'empty', required:true},
            { name: "division", label: "Division", placeholder: "ex. Telkom", validate:'empty', required:true},
            { name: "job_title", label: "Dob_title", placeholder: "ex. Manager", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddEmployee"
      }
    }
  include ../component/new/modalForm