extends ../layout

block breadcrumb
  +breadcrumb('Peminjaman', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Peminjaman",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Rak", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createPeminjaman",
      title: "Create Peminjaman",
      form: {
        url: "/peminjaman",
        fields: [
            { name: "id_peminjaman", label: "id peminjaman", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "tanggal_pinjam", label: "tanggal_pinjam", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "tanggal_kembali", label: "tanggal_kembali", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "bukuId", label: "bukuId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'book_code', value: [':_id']}}},
            { name: "kd_anggota", label: "id_anggota", type: "select", placeholder: "Select Type", settings: {remote: {url: "/anggota/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'kd_anggota', value: [':_id']}}},
            { name: "nama_petugas", label: "nama petugas", type: "select", placeholder: "Select Type", settings: {remote: {url: "/petugas/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'nama_petugas', value: [':_id']}}},        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm