extends ../layout

block breadcrumb
  +breadcrumb(data.nis, {text: 'Home', url: '/'}, {text: 'Petugas', url: '/petugas'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deletePetugas',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editPetugas',
      title: 'Petugas Information',
      fields: [
        {name: 'kd_petugas', label: 'Nama Petugas', type: 'text', value: data.kd_petugas},
        {name: 'nama_petugas', label: 'Nama Petugas', type: 'text', value: data.nama_petugas},
        {name: 'jabatan_petugas', label: 'Full Name', type: 'text', value: data.jabatan_petugas},
        {name: 'no_telp_petugas', label: 'Address', type: 'text', value: data.no_telp_petugas},
        {name: 'alamat_petugas', label: 'Alamat', type: 'text', value: data.alamat_petugas},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList