extends ../layout

block breadcrumb
  +breadcrumb('Petugas', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Petugas",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Petugas", className: "openAddModal"},
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "createPetugas",
      title: "Add New Petugas",
      form: {
        url: "/petugas",
        fields: [
          { name: "kd_petugas", label: "Code Petugas", placeholder: "ex. X11", validate:'empty', required:false},
          { name: "nama_petugas", label: "Nama Petugas", placeholder: "ex. Dea", validate:'empty', required:false},
          { name: "jabatan_petugas", label: "Jabatan Petugas", placeholder: "ex. Admin", validate:'empty', required:false},
          { name: "no_telp_petugas", label: "No. Telepon", placeholder: "ex. 08774343xx", validate:'empty', required:false},
          { name: "alamat_petugas", label: "Alamat", placeholder: "ex. Jl. Lembong No.15 Bandung", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm