extends ../layout

block breadcrumb
  +breadcrumb('Space', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Space",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
      }
    }
  include ../component/new/table