extends ../layout

block breadcrumb
  +breadcrumb('Rak', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Rak",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Rak", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createRak",
      title: "Create Rak",
      form: {
        url: "/rak",
        fields: [
            { name: "bookId", label: "bookId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'id_buku', value: [':_id']}}},
            { name: "name", label: "Nama Rak", placeholder: "ex. Bandung", validate:'empty', required:true},
            { name: "location", label: "Location Rak", placeholder: "ex. BDG", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm