extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Peminjaman', url: '/peminjaman'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deletePeminjaman',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editPeminjaman',
      title: 'Peminjaman Information',
      fields: [
        //- { name: 'bukuId', label: 'bukuId', type: 'text', value: data.bukuId},
        { name: "bukuId", label: "bukuId", type: "select", value: data.bukuId, settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'id_buku', value: [':_id']}}},
        { name: "petugasId", label: "Petugas ID", type: "select", value: data.petugasId, settings: {remote: {url: "/petugas/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'kd_petugas', value: [':_id']}}},
        { name: "memId", label: "memId", type: "select", value: data.memId, settings: {remote: {url: "/anggota/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
        { name: 'id_peminjaman', label: 'Pinjaman Id', type: 'text', value: data.id_peminjaman},
        { name: 'tgl_pinjam', label: 'Tanggal Pinjam', type: 'date', value: data.tgl_pinjam},
        { name: 'tgl_kembali', label: 'Tanggal Kembali', type: 'date', value: data.tgl_kembali}
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList
  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Buku
    a.item(data-tab='tab2') Anggota
    a.item(data-tab='tab3') Petugas
     .ui.bottom.attached.tab.segment.active(data-tab='tab1')
  -
    tableSettings = {
      key: "tableBuku",
      title: "Buku",
      filterable: true,
      columns: [
        {label: "Book Id", placeholder: "ex. 07191199", name: "id_buku", link: "view", filter: {type: 'text'}},
        {label: "Judul", placeholder: "ex. Judul Buku", name: "judul"},
        {label: "Penulis", placeholder: "ex. Sariatmadja", name: "penulis"},
        {label: "Penerbit", placeholder: "ex. Erlangga", name: "penerbit"},
        {label: "Tahun Terbit", placeholder: "ex. 2011", name: "terbit"},
        {label: "status", name: "status", type: "boolean", filter: {type: 'text'}}
      ],
      data: data.buku,
      buttons: {
        add: {label: "AddBuku", className: "openAddBuku"},
        delete: {label: "Remove Buku from this Rak", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    var labelSettings = {
      key: "labelBuku",
      title: "Buku",
      definition: { title: 'book_code', content: 'book_code', link:'view' },
      data: data.buku,
      action: {
        remove: { link: 'delete', label: "Remove Buku"},
        add: { label: "Assign Buku"}
      },
      modal : {
        key: "addBuku",
        title: "Assign Buku",
        form: {
          url: data.links.addBuku.url,
          fields: [
            { name: "pinjamId", type: "hidden", value: data._id },
            { name: 'id_buku', label: 'Book ID', type: 'text', value: data.id_buku},
            { name: 'book_code', label: 'Book Code', type: 'text', value: data.book_code},
            { name: 'judul', label: 'Judul', type: 'text', value: data.judul},
            { name: 'penulis', label: 'Penulis', type: 'text', value: data.penulis},
            { name: 'penerbit', label: 'Penerbit', type: 'text', value: data.penerbit},
            { name: 'terbit', label: 'Tahun Terbit', type: 'text', value: data.terbit},
            { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addBuku2",
      title: "Create Book",
      form: {
        url: "/buku",
        fields: [
            //- { name: "objectId", type: "hidden", value: data._id },
            { name: "pinjamId", type: "hidden", value: data._id },
            { name: 'id_buku', label: 'Book ID', link: 'view', validate:'empty', required:true},
            { name: 'book_code', label: 'Book Code', validate:'empty', required:true},
            { name: 'judul', label: 'Judul', link: 'view', validate:'empty', required:true},
            { name: 'penulis', label: 'Penulis', validate:'empty', required:true},
            { name: 'penerbit', label: 'Penerbit', validate:'empty', required:true},
            { name: 'terbit', label: 'Tahun Terbit', validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddBuku"
      }
    }
  include ../component/new/modalForm

  -
    tableSettings = {
      key: "tableAnggota",
      title: "Anggota",
      filterable: true,
      columns: [
        {label: "Kode Anggota", placeholder: "ex. 0988721-A", name: "kd_anggota", link: "view", filter: {type: 'text'}},
        {label: "Name", placeholder: "ex. hedonss", name: "name"},
        {label: "Gender", placeholder: "Select Gender", name: "gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
        {label: "Birth Of Date", placeholder: "ex. 07-09-2019", name: "bod"},
        {label: "Address", placeholder: "ex. Jalan Sukawening", name: "address"},
        {label: "Email", placeholder: "ex. dani@gmail.com", name: "email"},
        {label: "Phone", name: "telp", placeholder:"08934893409",filter: {type: 'text'}}
      ],
      data: data.anggota,
      buttons: {
        add: {label: "AddAnggota", className: "openAddAnggota"},
        delete: {label: "Remove Anggota from this Peminjaman", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    var labelSettings = {
      key: "labelAnggota",
      title: "Anggota",
      definition: { title: 'kd_anggota', content: 'kd_anggota', link:'view' },
      data: data.anggota,
      action: {
        remove: { link: 'delete', label: "Remove Anggota"},
        add: { label: "Assign Anggota"}
      },
      modal : {
        key: "addAnggota",
        title: "Assign Anggota",
        form: {
          url: data.links.addAnggota.url,
          fields: [
            { name: "orderId", type: "hidden", value: data._id },
            { name: 'kd_anggota', label: 'Kode Anggota', type: 'text', value: data.kd_anggota},
            { name: 'name', label: 'Anggota name', type: 'text', value: data.namr},
            { name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Laki-Laki", value: "laki-laki"}, {label: "PEREMPUAN", value: "perempuan"}]}},
            { name: 'address', label: 'Address', type: 'text', value: data.address},
            { name: 'email', label: 'Email', type: 'text', value: data.email},
            { name: 'telp', label: 'Phone', type: 'text', value: data.telp},
            { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addAnggota2",
      title: "Create Anggota",
      form: {
        url: "/anggota",
        fields: [
            //- { name: "objectId", type: "hidden", value: data._id },
            { name: "orderId", type: "hidden", value: data._id },
            { name: 'kd_anggota', label: 'Kode Anggota', type: 'text', value: data.kd_anggota},
            { name: 'name', label: 'Anggota name', type: 'text', value: data.namr},
            { name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Laki-Laki", value: "laki-laki"}, {label: "PEREMPUAN", value: "perempuan"}]}},
            { name: 'bod', label: 'Birth of Days', type: 'text', value: data.bod},
            { name: 'address', label: 'Address', type: 'text', value: data.address},
            { name: 'email', label: 'Email', type: 'text', value: data.email},
            { name: 'telp', label: 'Phone', type: 'text', value: data.telp},
            { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
        ]
      },
      trigger: {
        className: "openAddAnggota"
      }
    }
  include ../component/new/modalForm