extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Location', url: '/Location'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.location.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    //- function deleteAnggota(element, data) {
    //-   if (confirm("Are you sure?") == true) {
    //-     sendDelete ({
    //-       url: data.location.links[element.getAttribute("link")].url,
    //-       done: function(){
    //-         window.location.reload();
    //-       }
    //-     });
    //-   }
    //- }
    //- function deletePetugas(element, data) {
    //-   if (confirm("Are you sure?") == true) {
    //-     sendDelete ({
    //-       url: data.location.links[element.getAttribute("link")].url,
    //-       done: function(){
    //-         window.location.reload();
    //-       }
    //-     });
    //-   }
    //- }

    //- function deletePhoto(locid,uid){
    //-   alert('DELETED !')
    //- }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deletePeminjaman',
      delete: {
        url: data.location.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editPeminjaman',
      title: 'Peminjaman Information',
      fields: [
        //- { name: 'bukuId', label: 'bukuId', type: 'text', value: data.bukuId},
        { name: "bukuId", label: "bukuId", type: "select", value: data.bukuId, settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'id_buku', value: [':_id']}}},
        { name: "petugasId", label: "petugasId", type: "select", value: data.petugasId, settings: {remote: {url: "/petugas/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
        { name: "memId", label: "memId", type: "select", value: data.memId, settings: {remote: {url: "/anggota/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
        { name: 'id_peminjaman', label: 'Pinjaman Id', type: 'text', value: data.id_peminjaman},
        { name: 'tgl_pinjam', label: 'Tanggal Pinjam', type: 'date', value: data.tgl_pinjam},
        { name: 'tgl_kembali', label: 'Tanggal Kembali', type: 'date', value: data.tgl_kembali}
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList


  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Buku
    a.item(data-tab='tab2') Anggota
    a.item(data-tab='tab3') Petugas
   
  .ui.bottom.attached.tab.segment.active(data-tab='tab1')
    -
      tableSettings = {
        key: "tableBuku",
        title: "Buku",
        filterable: true,
        columns: [
          {label: "Book Id", placeholder: "ex. 07191199", name: "id_buku", link: "view", filter: {type: 'text'}},
          {label: "Judul", placeholder: "ex. Judul Buku", name: "judul"},
          {label: "Penulis", placeholder: "ex. Sariatmadja", name: "penulis"},
          {label: "Penerbit", placeholder: "ex. Erlangga", name: "penerbit"},
          {label: "Tahun Terbit", placeholder: "ex. 2011", name: "terbit"},
          {label: "status", name: "status", type: "boolean", filter: {type: 'text'}}
        ],
        data: data.buku,
        buttons: {
          add: {label: "AddBuku", className: "openAddBuku"},
          delete: {label: "Remove Buku from this Rak", link: "delete", callback: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      var labelSettings = {
        key: "labelBuku",
        title: "Buku",
        definition: { title: 'book_code', content: 'book_code', link:'view' },
        data: data.buku,
        action: {
          remove: { link: 'delete', label: "Remove Buku"},
          add: { label: "Assign Buku"}
        },
        modal : {
          key: "addBuku",
          title: "Assign Buku",
          form: {
            url: data.links.addBuku.url,
            fields: [
              { name: "pinjamId", type: "hidden", value: data._id },
              { name: 'id_buku', label: 'Book ID', type: 'text', value: data.id_buku},
              { name: 'book_code', label: 'Book Code', type: 'text', value: data.book_code},
              { name: 'judul', label: 'Judul', type: 'text', value: data.judul},
              { name: 'penulis', label: 'Penulis', type: 'text', value: data.penulis},
              { name: 'penerbit', label: 'Penerbit', type: 'text', value: data.penerbit},
              { name: 'terbit', label: 'Tahun Terbit', type: 'text', value: data.terbit},
              { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ],
            callback: {
              onSuccess: function() {
                window.location.reload();
              }
            }
          }
        }
      }
    include ../component/new/labels

    -
      modalForm = {
        key: "addBuku2",
        title: "Create Book",
        form: {
          url: "/buku",
          fields: [
              //- { name: "objectId", type: "hidden", value: data._id },
              { name: "pinjamId", type: "hidden", value: data._id },
              { name: 'id_buku', label: 'Book ID', link: 'view', validate:'empty', required:true},
              { name: 'book_code', label: 'Book Code', validate:'empty', required:true},
              { name: 'judul', label: 'Judul', link: 'view', validate:'empty', required:true},
              { name: 'penulis', label: 'Penulis', validate:'empty', required:true},
              { name: 'penerbit', label: 'Penerbit', validate:'empty', required:true},
              { name: 'terbit', label: 'Tahun Terbit', validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddBuku"
        }
      }
    include ../component/new/modalForm
  .ui.bottom.attached.tab.segment(data-tab='tab2')
    -
      tableSettings = {
        key: "tableAnggota",
        title: "Anggota",
        filterable: true,
        columns: [
          {label: "Member Code", placeholder: "ex. 0988721-A", name: "kd_anggota", link: "view", filter: {type: 'text'}},
          {label: "Name", placeholder: "ex. hedonss", name: "name"},
          {label: "Gender", placeholder: "Select Gender", name: "gender",type: "select", settings: {options: [{label: "Male", value: "Male"}, {label: "Female", value: "Female"}]}},
          {label: "Birth Of Date", placeholder: "ex. 07-09-2019", name: "bod"},
          {label: "Address", placeholder: "ex. Jalan Sukawening", name: "address"},
          {label: "Email", placeholder: "ex. dani@gmail.com", name: "email"},
          {label: "Phone", name: "telp", placeholder:"08934893409",filter: {type: 'text'}}
        ],
        data: data.anggota,
        buttons: {
          add: {label: "AddAnggota", className: "openAddAnggota"},
          delete: {label: "Remove Anggota from this Peminjaman", link: "delete", callback: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      var labelSettings = {
        key: "labelAnggota",
        title: "Anggota",
        definition: { title: 'kd_anggota', content: 'kd_anggota', link:'view' },
        data: data.anggota,
        action: {
          remove: { link: 'delete', label: "Remove Anggota"},
          add: { label: "Assign Anggota"}
        },
        modal : {
          key: "addAnggota",
          title: "Assign Anggota",
          form: {
            url: data.links.addAnggota.url,
            fields: [
              { name: "orderId", type: "hidden", value: data._id },
              { name: 'kd_anggota', label: 'Kode Anggota', type: 'text', value: data.kd_anggota},
              { name: 'name', label: 'Anggota name', type: 'text', value: data.namr},
              { name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Laki-Laki", value: "laki-laki"}, {label: "PEREMPUAN", value: "perempuan"}]}},
              { name: 'address', label: 'Address', type: 'text', value: data.address},
              { name: 'email', label: 'Email', type: 'text', value: data.email},
              { name: 'telp', label: 'Phone', type: 'text', value: data.telp},
              { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ],
            callback: {
              onSuccess: function() {
                window.location.reload();
              }
            }
          }
        }
      }
    include ../component/new/labels

    -
      modalForm = {
        key: "addAnggota2",
        title: "Create Anggota",
        form: {
          url: "/buku",
          fields: [
              //- { name: "objectId", type: "hidden", value: data._id },
              { name: "orderId", type: "hidden", value: data._id },
              { name: 'kd_anggota', label: 'Kode Anggota', type: 'text', value: data.kd_anggota},
              { name: 'name', label: 'Anggota name', type: 'text', value: data.namr},
              { name: 'gender', label: 'Gender', type: 'select', value: data.gender, action:data.links.patch, settings: {options: [{label: "Laki-Laki", value: "laki-laki"}, {label: "PEREMPUAN", value: "perempuan"}]}},
              { name: 'address', label: 'Address', type: 'text', value: data.address},
              { name: 'email', label: 'Email', type: 'text', value: data.email},
              { name: 'telp', label: 'Phone', type: 'text', value: data.telp},
              { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddBuku"
        }
      }
    include ../component/new/modalForm


  .ui.bottom.attached.tab.segment(data-tab='tab3')
    -
      tableSettings = {
        key: "tablePowerSource",
        title: "Power Source",
        tooltipTitle : "list of power source that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add PowerSource", className: "openAddPowerSource"},
          delete : {label: "Delete PowerSource", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddPowerSource",
        title: "Create PowerSource",
        form: {
          url: "/electricity",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "powerid", label: "Power Source ID", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "powername", label: "Power Source Name", placeholder: "ex. power", validate:'empty', required:true},
              { name: "powerlabel", label: "Power Source Label", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "output", label: "Output (voltage v)", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "output", label: "Output (Current v)", placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: 'output', label: 'Output (Type)', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: 'manufacturer', label: 'Manufacturer', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: "date", label: "Date",type:"date", placeholder: "ex. Gedung A", validate:'empty', required:true},
              { name: 'model', label: 'model', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: "labelingcodbuildinge", label: "Labeling Code", placeholder: "ex. Abc", validate:'empty', required:true},
              { name: "purpose", label: "Purpose", placeholder: "ex. abc", validate:'empty', required:true},
              { name: "Height", label: "Dimensions (Height)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "length", label: "Dimensions (length)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "width", label: "Dimensions (width)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "Square", label: "Dimensions (Square)", placeholder: "ex. 100 x 100", validate:'empty', required:true},
              { name: "qrcode", label: "Show qr code", placeholder: "ex. qr code", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddPowerSource"
        }
      }
    include ../component/new/modalForm
   
    -
      tableSettings = {
        key: "tablePowerEquitment",
        title: "Power Equipment",
        tooltipTitle : "list of Power Equipment that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete PowerEquipment", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
     
    -
      tableSettings = {
        key: "tablePowerDistribution",
        title: "Power Distribution",
        tooltipTitle : "list of Power Distribution that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete PowerDistribution", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    
    -
      tableSettings = {
        key: "tableBattery",
        title: "Battery",
        tooltipTitle : "list of Battery that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "#Cell", name: "Cell", filter: {type: 'text'}},
          {label: "Cell (A/V)", name: "Cellc", filter: {type: 'text'}},
          {label: "Manufacturer", name: "Manufacturer", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete Battery", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    
  .ui.bottom.attached.tab.segment(data-tab='tab4')
    -
      tableSettings = {
        key: "tableConnectivity",
        title: "Network Element",
        tooltipTitle: "List of network element that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "IP Address", name: "ip_address", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Role", name: "role", filter: {type: 'text'}},
          { label: "Manufacturer", name: "manufacturer", filter: {type: 'text'}},
          { label: "Model", name: "model", filter: {type: 'text'}},
          { label: "Port", name: "port", filter: {type: 'text'}},
          { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
      }
    include ../component/new/table

    -
      tableSettings = {
        key: "tableDistributionFrame",
        title: "Distribution Frame",
        tooltipTitle: "List of distribution frame that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "Label", name: "label", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Role", name: "role", filter: {type: 'text'}},
          { label: "#Frame Unit", name: "frameunit", filter: {type: 'text'}},
          { label: "#Port", name: "port", filter: {type: 'text'}},
          { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add DistributionFrame ", className: "openAddDistributionFrame"},
          delete : {label: "Delete DistributionFrame ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddDistributionFrame",
        title: "Create Distribution Frame",
        form: {
          url: "/distributionframe",
          fields: [
              { name: "deviceId", type: "hidden", value: data._id },
              { name: "name", label: "Name", validate:'empty', required:true},
              { name: "label", label: "Label",  validate:'empty', required:true},
              { name: "type", label: "Type", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},    
              { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "model", label: "Model", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "purpose", label: "Purpose", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "network_location", label: "Network Location ID",  validate:'empty', required:true}, 
              { name: "network_role", label: "Network role", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},  
              { name: "instant_date", label: "Instant Date", placeholder: "ex. Device ID", validate:'empty',typ: "date", required:true},
              { name: "labeling_code", label: "Labeling Code", validate:'empty', required:true},
              { name: "geometry", label: "Geometry", validate:'empty', required:true}
          ] 
        },
        trigger: {
          className: "openAddDistributionFrame"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableCable",
        title: "Cable",
        tooltipTitle: "List of cable that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "type", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Role", name: "role", filter: {type: 'text'}},
          {label: "Route Section", name: "routesection", filter: {type: 'text'}},
          {label: "Length(m)", name: "length", filter: {type: 'text'}},
          {label: "#Core (T/U/B)", name: "core", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Cable", className: "openAddCable"},
          delete : {label: "Delete Cable ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddCable",
        title: "Create Cable",
        form: {
          //- url: "/objectModel",
          fields: [
              { name: "name", label: "Name", type: 'text', placeholder: "ex. DS-LBG-FE-10-05-01/03-03", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "notes", label: "Notes", type: 'text', placeholder: "ex. PRONET"},
              { name: "division", label: "Division", type: 'text', placeholder: "ex. OSP", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "measuredlength", label: "Measured Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
              rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "calculatedlength", label: "Calculated Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
              rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "estimatedloss", label: "Estimated Loss (dB)", type: 'number', placeholder: "ex. 0"}, 
              { name: "start_locn", label: "Start Locn", type: 'search', placeholder: "ex. KT2G",
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
                  settings: {
                    remote : {
                      url: "/info/locn",
                      query: "locnQuery",
                    },
                    resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                    minChar: 3
                  },
              },
              { name: "end_locn", label: "End Locn", type: 'search', placeholder: "ex. SLPC",
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
                  settings: {
                    remote : {
                      url: "/info/locn",
                      query: "locnQuery",
                    },
                    resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                    minChar: 3
                  },
              },
              { name: "type", label: "Type", type: 'select', placeholder: "ex. JUNC KD-G655", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {remote: {url: '/info/type'}, resultMapping: {label: "name", value: 'key'}}},
              { name: "productname", label: "Product Name", type: 'select', placeholder: "ex. C1.12PIRELLI", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
              settings: {remote: {url: '/info/productName'}, resultMapping: {label: "name", value: "name"}}},
              { name: "networkrole", label: "Network Role", type: 'select', placeholder: "ex. BACKBONE", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
              settings: {remote: {url: '/info/cableNetworkRole'}, resultMapping: {label: "name", value: "name"}}}
            ]
        },
        trigger: {
          className: "openAddCable"
        }
      }
    include ../component/new/modalForm

  .ui.bottom.attached.tab.segment(data-tab='tab5')
    -
      tableSettings = {
        key: "tableCustomer",
        title: "Customer",
        tooltipTitle: "List of Customer that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Customer ID", name: "customerId", link: "view", filter: {type: 'text'}},
          {label: "Name", name: "name", filter: {type: 'text'}},
          {label: "Nick Name", name: "nickname", filter: {type: 'text'}},
          {label: "Segment", name: "segment", filter: {type: 'text'}},
          {label: "Address", name: "address", filter: {type: 'text'}},
          {label: "#Service", name: "service", filter: {type: 'text'}},
          {label: "Registered Date", name: "registeredDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},

        ],
        data: [],
        buttons: {
          add: {label: "Add Customer", className: "openAddCustomer"},
          delete : {label: "Delete Customer", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCustomer",
        title: "Create Customer",
        form: {
          url: "/location/customer",
          fields: [
              { name: 'customerId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "nickname", label: "Nick Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "segment", label: "Segment", placeholder: "ex. ", validate:'empty', required:true},
              { name: "address", label: "Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "service", label: "Service", placeholder: "ex. ", validate:'empty', required:true},
              { name: "registeredDate", label: "Registered Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddCustomer"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableService",
        title: "Service",
        tooltipTitle: "List of Service that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Number", name: "number", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Install Address", name: "installAddress", filter: {type: 'text'}},
          {label: "Install Date", name: "installDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Service", className: "openAddService"},
          delete : {label: "Delete Service", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddService",
        title: "Create Service",
        form: {
          url: "/location/service",
          fields: [
              { name: 'serviceId', type: 'hidden', value: data._id},
              { name: "type", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "number", label: "Number", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installAddress", label: "Install Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installDate", label: "Install Date", placeholder: "ex. ", type: "date", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddService"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableReservation",
        title: "Reservation",
        tooltipTitle: "List of Reservation that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Reservation ID", name: "reservationId", link: "view", filter: {type: 'text'}},
          {label: "Service Type", name: "serviceType", filter: {type: 'text'}},
          {label: "Requester System", name: "requesterSystem", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Reserve Date", name: "reserveDate", filter: {type: 'text'}},
          {label: "Expired Date", name: "expiredDate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Reservation", className: "openAddReservation"},
          delete : {label: "Delete Reservation", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddReservation",
        title: "Create Reservation",
        form: {
          url: "/location/reservation",
          fields: [
              { name: 'reservationId', type: 'hidden', value: data._id},
              { name: "serviceType", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "requesterSystem", label: "Requester System", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "reserveDate", label: "Reserve Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "expiredDate", label: "expired Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddReservation"
        }
      }
    include ../component/new/modalForm
    
  .ui.bottom.attached.tab.segment(data-tab='tab6')
    -
      let photosSettings = {
        title: "Photo",
        tooltipTitle: "Associafed photo of this location",
        collapse: true,
        class : "openAddPhoto",
        key : "photoLocation",
        data : [
          {
            uid: "123321",
            name : "Gedung IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Ruang IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Tower IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          }
        ]
      }
    
    include ../component/new/photos
    -
      modalForm = {
        key: "openAddPhoto",
        title: "Add New Photo",
        form: {
          url: "/location/photo",
          fields: [
              { name: 'locationId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex. Image Name", validate:'empty', required:true},
              { name: 'filephoto', label: 'Select Photo', type: 'file', validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddPhoto"
        }
      }
    include ../component/new/modalForm

    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableVideo",
        title: "Video",
        tooltipTitle: "Associafed video of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Video", className: "openAddVideo"},
          delete : {label: "Delete Video", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableDocument",
        title: "Document",
        tooltipTitle: "Associafed document of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Document", className: "openAddDocument"},
          delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableView",
        title: "360 View",
        tooltipTitle: "Associafed view of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add View", className: "openAddView"},
          delete : {label: "Delete View", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: "openAddVideo",
          title: "Create Video",
          form: {
            url: "/location/video",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddVideo"
          }
        }
      include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddDocument",
          title: "Create Document",
          form: {
            url: "/location/document",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddDocument"
          }
        }
      include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddView",
          title: "Create View",
          form: {
            url: "/location/view",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddView"
          }
        }
      include ../component/new/modalForm
      
    
      

  .ui.bottom.attached.tab.segment(data-tab='tab7')
    -
      tableSettings = {
        key: "tableCapex",
        title: "Capex",
        tooltipTitle : "Associated Capex (Capital Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Capex", className: "openAddCapex"},
          delete : {label: "Delete Capex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCapex",
        title: "Create Capex",
        form: {
          url: "/Capex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date",placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddCapex"
        }
      }
    include ../component/new/modalForm  
    -
      tableSettings = {
        key: "tableOpex",
        title: "Opex",
        tooltipTitle : "Associated Opex (Operational Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Opex", className: "openAddOpex"},
          delete : {label: "Delete Opex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddOpex",
        title: "Create Opex",
        form: {
          url: "/Opex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date", placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddOpex"
        }
      }
    include ../component/new/modalForm        
  .ui.bottom.attached.tab.segment(data-tab='tab8')
    
    -
      tableSettings = {
        key: "tableResponsiblePerson",
        title: "Responsible Person",
        tooltipTitle: "List of person or unit who are responsible for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Responsible Person ", className: "openAddResponsiblePerson"},
          delete : {label: "Delete Responsible Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddResponsiblePerson",
        title: "Create Responsible Person",
        form: {
          url: "/responsibleperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddResponsiblePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableAccountablePerson",
        title: "Accountable Person",
        tooltipTitle: "List of person or unit who are accountable for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Accountable Person ", className: "openAddAccountablePerson"},
          delete : {label: "Delete Accountable Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddAccountablePerson",
        title: "Create Accountable Person",
        form: {
          url: "/accountableperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddAccountablePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableControllerPerson",
        title: "Controller Person",
        tooltipTitle: "List of person or unit who control to this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Controller Person ", className: "openAddControllerPerson"},
          delete : {label: "Delete Controller Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddControllerPerson",
        title: "Create Controller Person",
        form: {
          url: "/controllerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddControllerPerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableInformerPerson",
        title: "Informer Person",
        tooltipTitle: "List of person or unit who are informed of this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Informer Person ", className: "openAddInformerPerson"},
          delete : {label: "Delete Informer Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddInformerPerson",
        title: "Create Informer Person",
        form: {
          url: "/informerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddInformerPerson"
        }
      }
    include ../component/new/modalForm


  .ui.bottom.attached.tab.segment(data-tab='tab9')
    -
      tableSettings = {
        key: "tableMaintenance",
        title: "Maintenance",
        tooltipTitle: "List of Maintenance that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Activity", name: "activity", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "PIC", name: "pic", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
          {label: "Start Date", name: "startDate", filter: {type: 'text'}},
          {label: "End Date", name: "endDate", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},

        ],
        data: [],
        buttons: {
          add: {label: "Add Maintenance", className: "openAddMaintenance"},
          delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddMaintenance",
        title: "Create Maintenance",
        form: {
          url: "/location/maintenance",
          fields: [
              { name: 'maintenanceId', type: 'hidden', value: data._id},
              { name: "activity", label: "Activity", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
              { name: "pic", label: "PIC", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
              { name: "startDate", label: "Start Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "endDate", label: "End Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 5", validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddMaintenance"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableProject",
        title: "Project",
        tooltipTitle: "List of project that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractNumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractDate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Project", className: "openAddProject"},
          delete : {label: "Delete Project", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddProject",
        title: "Create Project",
        form: {
          url: "/location/project",
          fields: [
              { name: 'projectId', type: 'hidden', value: data._id},
              { name: "contractNumber", label: "Contract Number", placeholder: "ex. ", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. ", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. ", validate:'empty', required:true},
              { name: "contractDate", label: "Contract Date (Start - End)", placeholder: "ex. ", validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddProject"
        }
      }
    include ../component/new/modalForm

  -
    modalForm = {
      key: "addLocationMap",
      title: "Add New Map Location",
      form: {
        url: "/mapHandler/",
        fields: [
            { name: 'uid', type: 'hidden', value: data.uid},
            { name: 'type', type: 'hidden', value: data.type},
            { name: 'objectType', type: 'hidden', value: "location"},
            { name: "wkt", label: "WKT", placeholder: "ex. POINT(112.93911918997765 -2.5198508118083525)", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "addLocationMap"
      }
    }
  include ../component/new/modalForm

