extends ../layout

block breadcrumb
  +breadcrumb('Peminjaman', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Peminjaman",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Peminjaman", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createPeminjaman",
      title: "Create Peminjaman",
      form: {
        url: "/peminjaman",
        fields: [
            { name: "bukuId", label: "bukuId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'id_buku', value: [':_id']}}},
            { name: "petugasId", label: "Nama Petugas", type: "select", placeholder: "Select Type", settings: {remote: {url: "/petugas/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'kd_petugas', value: [':_id']}}},
            { name: "memId", label: "Nama Member", type: "select", placeholder: "Select Type", settings: {remote: {url: "/anggota/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "id_peminjaman", label: "id_pinjam", placeholder: "ex. 07191199", validate:'empty', required:true},
            { name: "tgl_pinjam", label: "Tanggal Pinjam", placeholder: "ex. 07-09-2001",type:'date', validate:'empty', required:true},
            { name: "tgl_kembali", label: "Tanggal Kembali", placeholder: "ex. 09-09-2001",type:'date', validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm