mixin inputText(form, field, defaultValue, attr)
  label= field.label
  input(type="text" name=field.name id=(field.id ? field.id : form.key + "FormInput" + field.name) value=defaultValue placeholder=(field.placeholder ? field.placeholder : ""))&attributes(attr)

form.ui.form(id=form.key + "Form" action=form.url method=form.method?form.method:"POST")
  each formField in form.fields
    -
      let defaultValue = (formField.value ? formField.value : "") + "";
      defaultValues[formField.name] = defaultValue;
      let attr = {}
    
    if(formField.type==='group')
      .field
        label= formField.label
      each formFieldGroup in formField.fieldGroup
        -
          defaultValue = (formFieldGroup.value ? formFieldGroup.value : "") + "";
          defaultValues[formFieldGroup.name] = defaultValue;
          attr = {}
        div.ui.input  
          if(formFieldGroup.type==='hidden')
            input(type="hidden" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name) value=defaultValue)&attributes(attr)

          else if(formFieldGroup.type==='disabled')
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container" class=(formFieldGroup.required ? "required" : ""))
              label= formFieldGroup.label
              input(type="text" readonly="true" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name) value=defaultValue placeholder=(formFieldGroup.placeholder ? formFieldGroup.placeholder : ""))&attributes(attr)

          else if(formFieldGroup.type==='select')
            -
              selectContainer.push(formFieldGroup);
            div.field(id=( formFieldGroup.id ? formFieldGroup.id : form.key +"FormInput"+ formFieldGroup.name ) +"Container" class=(formFieldGroup.required ? "required" : ""))
              label= formFieldGroup.label
              div(class="ui fluid search selection dropdown "+ (formFieldGroup.settings && formFieldGroup.settings.multiple === true ? "multiple" : "") id=formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)&attributes(attr)
                input(type="hidden" name=formFieldGroup.name id=form.key+"FormInputInner"+formFieldGroup.name value=defaultValue)
                i.dropdown.icon
                div.default.text=(formFieldGroup.placeholder ? formFieldGroup.placeholder : "")
                div.menu
                  if(formFieldGroup.settings && formFieldGroup.settings.options)
                    each item in formFieldGroup.settings.options
                      div.item(data-value=item.value)= item.label ? item.label : item.value

          else if(formFieldGroup.type==='multiple_input')
            -
              multipleInputContainer.push(formFieldGroup);
            div.field(id=( formFieldGroup.id ? formFieldGroup.id : form.key +"FormInput"+ formFieldGroup.name ) +"Container" class=(formFieldGroup.required ? "required" : ""))
              label= formFieldGroup.label
              div(class="ui fluid search selection dropdown multiple" id=formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)&attributes(attr)
                input(type="hidden" name=formFieldGroup.name id=form.key+"FormInputInner"+formFieldGroup.name value=defaultValue)
                i
                div.default.text=(formFieldGroup.placeholder ? formFieldGroup.placeholder : "")

          else if(formFieldGroup.type==='checkbox')
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container" class=(formFieldGroup.required ? "required" : ""))
              div.ui.toggle.checkbox
                input.notVisible(type="checkbox" tabindex="0" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name))&attributes(attr)
                label= formFieldGroup.label

          else if(formFieldGroup.type==='search')
            -
              searchContainer.push(formFieldGroup);
            div.field(id=( formFieldGroup.id ? formFieldGroup.id : form.key +"FormInput"+ formFieldGroup.name ) +"Container" class=(formFieldGroup.required ? "required" : ""))
              label= formFieldGroup.label
              div.ui.fluid.search.selection.dropdown(id=formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)&attributes(attr)
                input(type="hidden" name=formFieldGroup.name id=form.key+"FormInputInner"+formFieldGroup.name value=defaultValue)
                i.search.icon
                div.default.text= (formFieldGroup.placeholder ? formFieldGroup.placeholder : "")

          else if(formFieldGroup.type==='date')
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container" class=(formFieldGroup.required ? "required" : ""))
              label= formFieldGroup.label
              input(type="date" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name) value=defaultValue placeholder=(formFieldGroup.placeholder?formFieldGroup.placeholder:""))&attributes(attr)
          
          else if(formFieldGroup.type==='password')
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container")
              label= formFieldGroup.label
              input(type="password" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name) value=defaultValue placeholder=(formFieldGroup.placeholder?formFieldGroup.placeholder:""))&attributes(attr)
          
          else if(formFieldGroup.type==='file')
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container")
              label= formFieldGroup.label
              input(type="file" name=formFieldGroup.name id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name) value=defaultValue placeholder=(formFieldGroup.placeholder?formFieldGroup.placeholder:""))&attributes(attr)
          
          else if (formFieldGroup)
            div.field(id=(formFieldGroup.id ? formFieldGroup.id : form.key+"FormInput"+formFieldGroup.name)+"Container" class=(formFieldGroup.required? "required":""))
              +inputText(form, formFieldGroup, defaultValue, attr)
          br
    else
      if(formField.type==='hidden')
        input(type="hidden" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name) value=defaultValue)&attributes(attr)

      else if(formField.type==='disabled')
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          input(type="text" readonly="true" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name) value=defaultValue placeholder=(formField.placeholder ? formField.placeholder : ""))&attributes(attr)

      else if(formField.type==='select')
        -
          selectContainer.push(formField);
        div.field(id=( formField.id ? formField.id : form.key +"FormInput"+ formField.name ) +"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          div(class="ui fluid search selection dropdown "+ (formField.settings && formField.settings.multiple === true ? "multiple" : "") id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i.dropdown.icon
            div.default.text=(formField.placeholder ? formField.placeholder : "")
            div.menu
              if(formField.settings && formField.settings.options)
                each item in formField.settings.options
                  div.item(data-value=item.value)= item.label ? item.label : item.value

      else if(formField.type==='multiple_input')
        -
          multipleInputContainer.push(formField);
        div.field(id=( formField.id ? formField.id : form.key +"FormInput"+ formField.name ) +"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          div(class="ui fluid search selection dropdown multiple" id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i
            div.default.text=(formField.placeholder ? formField.placeholder : "")

      else if(formField.type==='checkbox')
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required ? "required" : ""))
          div.ui.toggle.checkbox
            input.notVisible(type="checkbox" tabindex="0" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name))&attributes(attr)
            label= formField.label

      else if(formField.type==='search')
        -
          searchContainer.push(formField);
        div.field(id=( formField.id ? formField.id : form.key +"FormInput"+ formField.name ) +"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          div.ui.fluid.search.selection.dropdown(id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i.search.icon
            div.default.text= (formField.placeholder ? formField.placeholder : "")

      else if(formField.type==='date')
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          input(type="date" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name) value=defaultValue placeholder=(formField.placeholder?formField.placeholder:""))&attributes(attr)
      
      else if(formField.type==='password')
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container")
          label= formField.label
          input(type="password" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name) value=defaultValue placeholder=(formField.placeholder?formField.placeholder:""))&attributes(attr)
      
      else if(formField.type==='file')
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container")
          label= formField.label
          input(type="file" name=formField.name id=(formField.id ? formField.id : form.key+"FormInput"+formField.name) value=defaultValue placeholder=(formField.placeholder?formField.placeholder:""))&attributes(attr)
      
      else if (formField)
        div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required? "required":""))
          +inputText(form, formField, defaultValue, attr)

  div.ui.error.message