extends ../layout

block breadcrumb
  +breadcrumb('Shelf', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Shelf",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Shelf", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createShelf",
      title: "Create Shelf",
      form: {
        url: "/shelf",
        fields: [
            { name: "rackId", label: "Rack", type: "select", placeholder: "ex. RACK-B1", validate:'empty', required:true, settings: {remote: {url: "/rack/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "name", label: "Name", placeholder: "ex. SUB-RACK-B1.1", validate:'empty', required:true},
            { name: "number", label: "Shelf Number", placeholder: "ex. 1", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Sub Rack B1.1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
            { name: "height", label: "Height (cm)", placeholder: "ex. 80", validate:'empty', required:true},
            { name: "width", label: "Width (cm)", placeholder: "ex. 60", validate:'empty', required:true},
            { name: "length", label: "Length (cm)", placeholder: "ex. 120", validate:'empty', required:true},
            { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
            { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm