doctype html
html
  head
    title #{title ? title : 'IDC'}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/dataTables.semanticui.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/iziToast.min.css')
    link(rel='stylesheet' type='text/css' href='/semantic-ui/semantic.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/gruvbox-dark.min.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,600' rel='stylesheet' type='text/css')
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/jquery.dataTables.min.js')
    script(src='/javascripts/dataTables.semanticui.min.js')
    script(src='/javascripts/highlight.min.js')
    script(src='/javascripts/iziToast.min.js')
    script(src='/semantic-ui/semantic.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/lodash.min.js')
    script(src='/javascripts/moment.min.js')
    block style
    script.
      hljs.initHighlightingOnLoad();
      $.fn.form.settings.prompt.ipaddress = '<b>{name}</b> must be a valid IP Address';
      $.fn.form.settings.prompt.empty = $.fn.form.settings.prompt.empty.replace('{name}', '<b>{name}</b>')
      $.fn.form.settings.prompt.integer = $.fn.form.settings.prompt.integer.replace('{name}', '<b>{name}</b>')
      $.fn.form.settings.prompt.minLength = $.fn.form.settings.prompt.minLength.replace('{name}', '<b>{name}</b>')
      $.fn.form.settings.rules.ipaddress = function (param) {
        if (typeof param === 'undefined' || param.length === 0)
          return true;

        return !!param.match(/^(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))\.(\d|[1-9]\d|1\d\d|2([0-4]\d|5[0-5]))$/);
      }
