doctype html
html
  head
    title= 'Map'
    link(href='https://fonts.googleapis.com/css?family=Tauri&display=swap' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Francois+One|Magra:100,400,600' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/stylesheets/dataTables.semanticui.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/iziToast.min.css')
    link(rel='stylesheet' href='/semantic-ui/semantic.min.css')
    link(rel='stylesheet' href='/map/style.css')
    link(rel='stylesheet' href='/map/leaflet/leaflet.css')
    link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-geocoder.css')
    link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-geoman.css')
    link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-easybutton.css')
    link(rel='stylesheet' href='/map/leaflet/plugins/leaflet-contextmenu.css')

    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/jquery.dataTables.min.js')
    script(src='/javascripts/dataTables.semanticui.min.js')
    script(src='/javascripts/uuid_v4@latest.js')
    script(src='/javascripts/iziToast.min.js')
    script(src='/semantic-ui/semantic.min.js')
    script(src='/map/jquery.easy-autocomplete.min.js')
    script(src='/map/jquery.geo-1.0.0-rc1.1.min.js')
    script(src='/map/leaflet/leaflet.js')
    script(src='/map/leaflet/plugins/leaflet-contextmenu.js')
    script(src='/map/leaflet/plugins/leaflet-geocoder.js')
    script(src='/map/leaflet/plugins/leaflet-easybutton.js')
    script(src='/map/leaflet/plugins/leaflet-edgescalebar.js')
    script(src='/map/leaflet/plugins/leaflet-textpath.js')
    script(src='/map/leaflet/plugins/leaflet-geoman.min.js')
    script(src='/map/turf.min.js')
    script(src='/map/wellknown.js')

  body
    include form-modal
    #map.themap(style='width:100%; height:100vh;')
    script.
      const mapConfig = !{JSON.stringify(config)}
      const mapLayers = {}
      const mapFunc = {}
      const map = L.map('map', {
        center: [-1.914744, 120],
        zoom: 5,
        zoomControl: false,
        contextmenu: true,
        contextmenuWidth: 140,
        contextmenuItems: []
      })
      $(document).ready( function () {
        $('.ui.dropdown').dropdown()
      })

    script(src='/map/core/functions/layer.js')
    script(src='/map/core/functions/request.js')
    script(src='/map/core/functions/common.js')
    script(src='/map/core/functions/handler.js')

    script(src='/map/core/marker.js')
    script(src='/map/core/polygon.js')
    script(src='/map/core/layers.js')
    script(src='/map/core/searchbar.js')
    script(src='/map/core/controls.js')
    script(src='/map/core/current-location.js')
    script(src='/map/core/event.js')
    script(src='/map/core/info.js')
    script(src='/javascripts/script.js')
