extends ../layout

block breadcrumb
  +breadcrumb('Valid_employee', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Valid_employee",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new valid_employee", className: "openAddModal"},
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "createvalid_employee",
      title: "Add New Valid_employee",
      form: {
        url: "/Valid_employee",
        fields: [
            { name: "valid_employee", label: "valid_employee", type: "select", placeholder: "Select Type", settings: {remote: {url: "/employee/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'employeeNum', value: [':employeeNum']}}},
            { name: "verifi_Employeename", label: "verifi_Employeename", placeholder: "ex. 0826348776218726", validate:'empty', required:true},
            { name: "tenant", label: "tenant", placeholder: "ex. Paul Pogba", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
  //- script.
  //-   function createvalid_employee() {
  //-     var windowedMap = window.open("/map","_map_","valid_employee=no,status=no,titlebar=no,width=auto,height=auto");
  //-     windowedMap.onbeforeunload = function(event) { valid_employee.reload() };
  //-   }
