extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Room', url: '/room'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }
    function deletePhoto(locid,uid){
      alert('DELETED !')
    }
    $('.menu .item').tab()

block content
  -
    const actionTab  = {
      key: 'deleteRoom',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this room',
        label: 'Delete this room',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRoom',
      title: 'Room Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/ROOM_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'uid', label: 'UID', type: 'text', value: data.uid},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'squareMeter', label: 'Square Meter (m²)', type: 'text', value: data.squareMeter},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit room information',
        }
      }
    }
  include ../component/new/fieldList

  .ui.top.attached.tabular.menu
    a.item.active(data-tab='tab1') Map
    a.item(data-tab='tab2') Space
    a.item(data-tab='tab3') Electricity
    a.item(data-tab='tab4') Connectivity
    a.item(data-tab='tab5') Service
    a.item(data-tab='tab6') Attachment
    a.item(data-tab='tab7') Asset
    a.item(data-tab='tab8') Contact
    a.item(data-tab='tab9') Event
  .ui.bottom.attached.tab.segment.active(data-tab='tab1')
    -
      let mapSettings = {
        key : "mapLocation",
        objectType : 'location',
        objectTitle : "Location",
        title: "Map Location",
        data : [],
        function : {
          edit : {
            url : "/mapHandler/"
          },
          delete : {
            url : "/mapHandler/"
          },
          add : {
            className : "addLocationMap",
          }
        }
      }
    include ../component/new/map  
  .ui.bottom.attached.tab.segment(data-tab='tab2')
    -
      tableSettings = {
        key: "tableBuilding",
        title: "Building",
        tooltipTitle : "list of Building that served by this device",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "ID", name: "_id", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Code", name: "labelingCode", filter: {type: 'text'}},
          {label: "Built date", name: "builtDate", filter: {type: 'text'}},
          {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
          {label: "Floor", name: "floor", filter: {type: 'text'}},
        ],
        data: data.building,
        buttons: {
          add: {label: "Add Building", className: "openAddBuilding"},
          delete : {label: "Delete Building", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: "openAddBuilding",
          title: "Create Building",
          form: {
            url: "/room/building",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "name", label: "Building Name", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "builtDate", label: "Built Date", type: "date",placeholder: "ex. 5", validate:'empty', required:true},
                { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/info/buildingType", method: "GET"}, resultMapping: { label: 'name', value: "name"}}},
                { name: "height", label: "Height (m)", placeholder: "ex. 30", validate:'empty', required:true},
                { name: "width", label: "Width (m)", placeholder: "ex. 20", validate:'empty', required:true},
                { name: "lengthBuilding", label: "Length (m)", placeholder: "ex. 40", validate:'empty', required:true},
                { name: "squareMeter", label: "Square Meter", placeholder: "ex. 40", validate:'empty', required:true},
                { name: "floor", label: "Number Of Floor", type: 'number', placeholder: "ex. 5", validate:'empty', required:true},
                { name: "labelingCode", label: "Labeling Code", placeholder: "ex. 5", validate:'empty', required:true},
                { name: "geometry", label: " Geometry", placeholder: "ex. 5", validate:'empty', required:true}
            ]
          },
          trigger: {
            className: "openAddBuilding"
          }
        }
      include ../component/new/modalForm
    
    -
      tableSettings = {
        key: "tableFloor",
        title: "Floor",
        tooltipTitle : "list of Floor that served by this device",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Code", name: "labelingCode", filter: {type: 'text'}},
          {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
        ],
        //- data: data.buildingData,
        data: data.floor,
        buttons: {
          add: {label: "Add Floor", className: "openAddFloor"},
          delete : {label: "Delete Floor", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: "openAddFloor",
          title: "Create Floor",
          form: {
            url: "/room/floor",
            fields: [
                { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
                  settings: {
                    remote : {
                      url: '/room/data',
                      query: 'columns[0][search][value]',
                      extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'},
                    },
                    resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
                    minChar: 3
                  }
                },
                  { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
                  settings: {
                    remote : {
                      url: '/room/{{locationName}}/building',
                      urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
                      query: 'columns[0][search][value]',
                      extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'},
                    },
                    resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
                    minChar: 3
                  }
                },
                { name: "locationId",label:"Location ID", type: "readonly", value: data._id},
                { name: "type", label: "Type", type: "select", settings: {remote: {url: "/info/buildingType", method: "GET"}, resultMapping: { label: "name", value: "name"}}},
                { name: "label", label: "Label", placeholder: "ex. IDC Lembong", validate:"empty", required:true},
                { name: "level", label: "level", placeholder: "ex. IDC Lembong", validate:"empty", required:true},
                { name: "height", label: "Height (m)", placeholder: "ex. 30", validate:"empty", required:true},
                { name: "width", label: "Width (m)", placeholder: "ex. 20", validate:"empty", required:true},
                { name: "length", label: "Length (m)", placeholder: "ex. 40", validate:"empty", required:true}
              ]
            },
            trigger: {
              className: "openAddFloor"
          }
        }
      include ../component/new/modalForm
      
    -
      tableSettings = {
        key: "tableRack",
        title: "Rack",
        tooltipTitle : "list of Rack that served by this device",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "_id", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Serial Number", name: "serialnumber", filter: {type: 'text'}},
          {label: "Size(H/W/L/S)", name: "size", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
          {label: "Shelf", name: "shelf", filter: {type: 'text'}},
          {label: "Slot", name: "slot", filter: {type: 'text'}},
        ],
        data:[],
        buttons: {
          add: {label: "Add Rack", className: "openAddRack"},
          delete : {label: "Delete Rack", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: 'openAddRack',
          title: 'Create Rack',
          form: {
            url: '/room/rack',
            fields:[
              { name: 'locationName', label: 'Location', type: 'search', placeholder: 'Please type Location name', required:true, validate:'empty',
                settings: {
                  remote : {
                    url: '/room/data',
                    query: 'columns[0][search][value]',
                    extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
                  minChar: 3
                }
              },
              { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
                settings: {
                  remote : {
                    url: '/room/{{locationName}}/building',
                    urlParam: {locationName: '$("#_locationName_ > input[name=locationName]").val()'},
                    query: 'columns[0][search][value]',
                    extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
                  minChar: 3
                }
              },
              { name: 'floorId', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
                settings: {
                  remote : {
                    url: '/building/{{buildingName}}/floor',
                    urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
                    query: 'columns[0][search][value]',
                    extraData: { 'columns[0][_id]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
                  },
                  resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
                  minChar: 1
                }
              },
            { name: "type", label: "Type", type: "select", placeholder: "ex. SUB-RACK", validate:'empty', required:true, settings: {remote: {url: "/ReferenceObject/RACK_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "name", label: "Name", placeholder: "ex. RACK-B1", validate:'empty', required:true},
            { name: "label", label: "Label", placeholder: "ex. Rack B1 Ruang IT Hall Gedung C Lantai 4", validate:'empty', required:true},
            { name: "height", label: "Height (cm)", placeholder: "ex. 200", validate:'empty', required:true},
            { name: "width", label: "Width (cm)", placeholder: "ex. 60", validate:'empty', required:true},
            { name: "length", label: "Length (cm)", placeholder: "ex. 120", validate:'empty', required:true},
            { name: "serialNumber", label: "Serial Number", placeholder: "ex. GOOD1234DOSI", validate:'empty', required:true},
            { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "ex. GDLT", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "model", label: "Model", type: "select", placeholder: "ex. GT-N022", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            { name: "purpose", label: "Purpose", type: "select", placeholder: "ex. COMMERCIAL", validate:'empty', required:true,settings: {remote: {url: "/ReferenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
            ]
          },
          trigger: {
            className: "openAddRack"
          }
        }
      include ../component/new/modalForm


  .ui.bottom.attached.tab.segment(data-tab='tab3')
    -
      tableSettings = {
        key: "tablePowerSource",
        title: "Power Source",
        tooltipTitle : "list of power source that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add PowerSource", className: "openAddPowerSource"},
          delete : {label: "Delete PowerSource", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddPowerSource",
        title: "Create PowerSource",
        form: {
          url: "/electricity",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "powerid", label: "Power Source ID", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "powername", label: "Power Source Name", placeholder: "ex. power", validate:'empty', required:true},
              { name: "powerlabel", label: "Power Source Label", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "output", label: "Output (voltage v)", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "output", label: "Output (Current v)", placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: 'output', label: 'Output (Type)', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: 'type', label: 'Type', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: 'manufacturer', label: 'Manufacturer', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: "date", label: "Date",type:"date", placeholder: "ex. Gedung A", validate:'empty', required:true},
              { name: 'model', label: 'model', type: 'select', settings: {remote: {url: "/referenceObject/BUILDING_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
              { name: "labelingcodbuildinge", label: "Labeling Code", placeholder: "ex. Abc", validate:'empty', required:true},
              { name: "purpose", label: "Purpose", placeholder: "ex. abc", validate:'empty', required:true},
              { name: "Height", label: "Dimensions (Height)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "length", label: "Dimensions (length)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "width", label: "Dimensions (width)", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "Square", label: "Dimensions (Square)", placeholder: "ex. 100 x 100", validate:'empty', required:true},
              { name: "qrcode", label: "Show qr code", placeholder: "ex. qr code", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddPowerSource"
        }
      }
    include ../component/new/modalForm
   
    -
      tableSettings = {
        key: "tablePowerEquitment",
        title: "Power Equipment",
        tooltipTitle : "list of Power Equipment that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete PowerEquipment", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
     
    -
      tableSettings = {
        key: "tablePowerDistribution",
        title: "Power Distribution",
        tooltipTitle : "list of Power Distribution that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "Output (A/V/Type)", name: "output", filter: {type: 'text'}},
          {label: "Input (A/V/Type)", name: "input", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete PowerDistribution", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    
    -
      tableSettings = {
        key: "tableBattery",
        title: "Battery",
        tooltipTitle : "list of Battery that associated with this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "label", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Purpose", name: "purpose", filter: {type: 'text'}},
          {label: "#Cell", name: "Cell", filter: {type: 'text'}},
          {label: "Cell (A/V)", name: "Cellc", filter: {type: 'text'}},
          {label: "Manufacturer", name: "Manufacturer", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          delete : {label: "Delete Battery", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    
  .ui.bottom.attached.tab.segment(data-tab='tab4')
    -
      tableSettings = {
        key: "tableConnectivity",
        title: "Network Element",
        tooltipTitle: "List of network element that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "IP Address", name: "ip_address", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Role", name: "role", filter: {type: 'text'}},
          { label: "Manufacturer", name: "manufacturer", filter: {type: 'text'}},
          { label: "Model", name: "model", filter: {type: 'text'}},
          { label: "Port", name: "port", filter: {type: 'text'}},
          { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
      }
    include ../component/new/table

    -
      tableSettings = {
        key: "tableDistributionFrame",
        title: "Distribution Frame",
        tooltipTitle: "List of distribution frame that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          { label: "Label", name: "label", filter: {type: 'text'}},
          { label: "Type", name: "type", filter: {type: 'text'}},
          { label: "Role", name: "role", filter: {type: 'text'}},
          { label: "#Frame Unit", name: "frameunit", filter: {type: 'text'}},
          { label: "#Port", name: "port", filter: {type: 'text'}},
          { label: "Instant Date", name: "instant_date", filter: {type: 'text'}},
          { label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add DistributionFrame ", className: "openAddDistributionFrame"},
          delete : {label: "Delete DistributionFrame ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddDistributionFrame",
        title: "Create Distribution Frame",
        form: {
          url: "/distributionframe",
          fields: [
              { name: "deviceId", type: "hidden", value: data._id },
              { name: "name", label: "Name", validate:'empty', required:true},
              { name: "label", label: "Label",  validate:'empty', required:true},
              { name: "type", label: "Type", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},    
              { name: "manufacturer", label: "Manufacturer", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "model", label: "Model", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "purpose", label: "Purpose", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},          
              { name: "network_location", label: "Network Location ID",  validate:'empty', required:true}, 
              { name: "network_role", label: "Network role", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},  
              { name: "instant_date", label: "Instant Date", placeholder: "ex. Device ID", validate:'empty',typ: "date", required:true},
              { name: "labeling_code", label: "Labeling Code", validate:'empty', required:true},
              { name: "geometry", label: "Geometry", validate:'empty', required:true}
          ] 
        },
        trigger: {
          className: "openAddDistributionFrame"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableCable",
        title: "Cable",
        tooltipTitle: "List of cable that located at this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
          {label: "Label", name: "type", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Role", name: "role", filter: {type: 'text'}},
          {label: "Route Section", name: "routesection", filter: {type: 'text'}},
          {label: "Length(m)", name: "length", filter: {type: 'text'}},
          {label: "#Core (T/U/B)", name: "core", filter: {type: 'text'}},
          {label: "Install Date", name: "installdate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Cable", className: "openAddCable"},
          delete : {label: "Delete Cable ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddCable",
        title: "Create Cable",
        form: {
          //- url: "/objectModel",
          fields: [
              { name: "name", label: "Name", type: 'text', placeholder: "ex. DS-LBG-FE-10-05-01/03-03", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "notes", label: "Notes", type: 'text', placeholder: "ex. PRONET"},
              { name: "division", label: "Division", type: 'text', placeholder: "ex. OSP", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "measuredlength", label: "Measured Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
              rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "calculatedlength", label: "Calculated Length (meter)", type: 'number', placeholder: "ex. 7300 | 7300.5", 
              rules:[{type:'regExp', value:'^\\d*\\.?\\d*$'},{type:'empty', prompt:'{name} must have a value'}], required:true},
              { name: "estimatedloss", label: "Estimated Loss (dB)", type: 'number', placeholder: "ex. 0"}, 
              { name: "start_locn", label: "Start Locn", type: 'search', placeholder: "ex. KT2G",
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
                  settings: {
                    remote : {
                      url: "/info/locn",
                      query: "locnQuery",
                    },
                    resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                    minChar: 3
                  },
              },
              { name: "end_locn", label: "End Locn", type: 'search', placeholder: "ex. SLPC",
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
                  settings: {
                    remote : {
                      url: "/info/locn",
                      query: "locnQuery",
                    },
                    resultMapping: { dataIndex: '', label: 'name', value: 'name' },
                    minChar: 3
                  },
              },
              { name: "type", label: "Type", type: 'select', placeholder: "ex. JUNC KD-G655", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true,
              settings: {remote: {url: '/info/type'}, resultMapping: {label: "name", value: 'key'}}},
              { name: "productname", label: "Product Name", type: 'select', placeholder: "ex. C1.12PIRELLI", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
              settings: {remote: {url: '/info/productName'}, resultMapping: {label: "name", value: "name"}}},
              { name: "networkrole", label: "Network Role", type: 'select', placeholder: "ex. BACKBONE", 
              rules:[{type:'empty', prompt:'{name} must have a value'}], required:true, 
              settings: {remote: {url: '/info/cableNetworkRole'}, resultMapping: {label: "name", value: "name"}}}
            ]
        },
        trigger: {
          className: "openAddCable"
        }
      }
    include ../component/new/modalForm

  .ui.bottom.attached.tab.segment(data-tab='tab5')
    -
      tableSettings = {
        key: "tableCustomer",
        title: "Customer",
        tooltipTitle: "List of Customer that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Customer ID", name: "customerId", link: "view", filter: {type: 'text'}},
          {label: "Name", name: "name", filter: {type: 'text'}},
          {label: "Nick Name", name: "nickname", filter: {type: 'text'}},
          {label: "Segment", name: "segment", filter: {type: 'text'}},
          {label: "Address", name: "address", filter: {type: 'text'}},
          {label: "#Service", name: "service", filter: {type: 'text'}},
          {label: "Registered Date", name: "registeredDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},

        ],
        data: [],
        buttons: {
          add: {label: "Add Customer", className: "openAddCustomer"},
          delete : {label: "Delete Customer", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCustomer",
        title: "Create Customer",
        form: {
          url: "/room/customer",
          fields: [
              { name: 'customerId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "nickname", label: "Nick Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "segment", label: "Segment", placeholder: "ex. ", validate:'empty', required:true},
              { name: "address", label: "Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "service", label: "Service", placeholder: "ex. ", validate:'empty', required:true},
              { name: "registeredDate", label: "Registered Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddCustomer"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableService",
        title: "Service",
        tooltipTitle: "List of Service that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Service ID", name: "serviceId", link: "view", filter: {type: 'text'}},
          {label: "Type", name: "type", filter: {type: 'text'}},
          {label: "Number", name: "number", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Install Address", name: "installAddress", filter: {type: 'text'}},
          {label: "Install Date", name: "installDate", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Service", className: "openAddService"},
          delete : {label: "Delete Service", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddService",
        title: "Create Service",
        form: {
          url: "/room/service",
          fields: [
              { name: 'serviceId', type: 'hidden', value: data._id},
              { name: "type", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "number", label: "Number", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installAddress", label: "Install Address", placeholder: "ex. ", validate:'empty', required:true},
              { name: "installDate", label: "Install Date", placeholder: "ex. ", type: "date", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
          ]
        },
        trigger: {
          className: "openAddService"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableReservation",
        title: "Reservation",
        tooltipTitle: "List of Reservation that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Reservation ID", name: "reservationId", link: "view", filter: {type: 'text'}},
          {label: "Service Type", name: "serviceType", filter: {type: 'text'}},
          {label: "Requester System", name: "requesterSystem", filter: {type: 'text'}},
          {label: "Customer Id", name: "customerId", filter: {type: 'text'}},
          {label: "Customer Name", name: "customerName", filter: {type: 'text'}},
          {label: "Reserve Date", name: "reserveDate", filter: {type: 'text'}},
          {label: "Expired Date", name: "expiredDate", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Reservation", className: "openAddReservation"},
          delete : {label: "Delete Reservation", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddReservation",
        title: "Create Reservation",
        form: {
          url: "/room/reservation",
          fields: [
              { name: 'reservationId', type: 'hidden', value: data._id},
              { name: "serviceType", label: "Type", placeholder: "ex. ", validate:'empty', required:true},
              { name: "requesterSystem", label: "Requester System", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerId", label: "Customer Id", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "reserveDate", label: "Reserve Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "expiredDate", label: "expired Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddReservation"
        }
      }
    include ../component/new/modalForm
    
  .ui.bottom.attached.tab.segment(data-tab='tab6')
    -
      let photosSettings = {
        title: "Photo",
        tooltipTitle: "Associafed photo of this location",
        collapse: true,
        class : "openAddPhoto",
        key : "photoLocation",
        data : [
          {
            uid: "123321",
            name : "Gedung IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Ruang IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          },
          {
            uid: "123321",
            name : "Tower IDC Cimahi",
            image : "/images/avatar/steve.jpg",
            date : "11-08-2020",
            button : {
              delete : "deletePhoto"
            }
          }
        ]
      }
    
    include ../component/new/photos
    -
      modalForm = {
        key: "openAddPhoto",
        title: "Add New Photo",
        form: {
          url: "/room/photo",
          fields: [
              { name: 'locationId', type: 'hidden', value: data._id},
              { name: "name", label: "Name", placeholder: "ex. Image Name", validate:'empty', required:true},
              { name: 'filephoto', label: 'Select Photo', type: 'file', validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddPhoto"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableVideo",
        title: "Video",
        tooltipTitle: "Associafed video of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Video", className: "openAddVideo"},
          delete : {label: "Delete Video", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableDocument",
        title: "Document",
        tooltipTitle: "Associafed document of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Document", className: "openAddDocument"},
          delete : {label: "Delete Document", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      tableSettings = {
        key: "tableView",
        title: "360 View",
        tooltipTitle: "Associafed view of this location",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Title", name: "title", link: "view", filter: {type: 'text'}},
          {label: "URL", name: "url", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", link: "view", filter: {type: 'text'}},
          {label: "Created Date", name: "createdAt", filter: {type: 'text'}},
          {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add View", className: "openAddView"},
          delete : {label: "Delete View", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
      -
        modalForm = {
          key: "openAddVideo",
          title: "Create Video",
          form: {
            url: "/room/video",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddVideo"
          }
        }
      include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddDocument",
          title: "Create Document",
          form: {
            url: "/room/document",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddDocument"
          }
        }
      include ../component/new/modalForm
      -
        modalForm = {
          key: "openAddView",
          title: "Create View",
          form: {
            url: "/room/view",
            fields: [
                { name: 'locationId',label:"Location ID", type: 'readonly', value: data._id},
                { name: "title", label: "Title", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "url", label: "URL", placeholder: "ex. Gedung A", validate:'empty', required:true},
                { name: "description", label: "Description", placeholder: "ex. Gedung A", validate:'empty', required:true},
  
            ]
          },
          trigger: {
            className: "openAddView"
          }
        }
      include ../component/new/modalForm
      
    
      

  .ui.bottom.attached.tab.segment(data-tab='tab7')
    -
      tableSettings = {
        key: "tableCapex",
        title: "Capex",
        tooltipTitle : "Associated Capex (Capital Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Capex", className: "openAddCapex"},
          delete : {label: "Delete Capex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddCapex",
        title: "Create Capex",
        form: {
          url: "/Capex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date",placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddCapex"
        }
      }
    include ../component/new/modalForm  
    -
      tableSettings = {
        key: "tableOpex",
        title: "Opex",
        tooltipTitle : "Associated Opex (Operational Extend) that belong to this location",
        collapse : true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractnumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractdate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Opex", className: "openAddOpex"},
          delete : {label: "Delete Opex", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddOpex",
        title: "Create Opex",
        form: {
          url: "/Opex",
          fields: [
              { name: 'locationId', label: "Location ID",type: 'text', value: data._id},
              { name: "contractnumber", label: "Contract Number", placeholder: "ex. 001", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. power", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. power A", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. 9 v", validate:'empty', required:true},
              { name: "contractdatestart", label: "Contract Date (Start)", type: "date", placeholder: "ex. 10 v", validate:'empty', required:true},
              { name: "contractdateend", label: "Contract Date (End)", type: "date",placeholder: "ex. 100", validate:'empty', required:true},
              { name: "party", label: "Party", placeholder: "ex. 100", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 100", validate:'empty', required:true},
          ]
        },
        trigger: {
          className: "openAddOpex"
        }
      }
    include ../component/new/modalForm        
  .ui.bottom.attached.tab.segment(data-tab='tab8')
    
    -
      tableSettings = {
        key: "tableResponsiblePerson",
        title: "Responsible Person",
        tooltipTitle: "List of person or unit who are responsible for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Responsible Person ", className: "openAddResponsiblePerson"},
          delete : {label: "Delete Responsible Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddResponsiblePerson",
        title: "Create Responsible Person",
        form: {
          url: "/responsibleperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddResponsiblePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableAccountablePerson",
        title: "Accountable Person",
        tooltipTitle: "List of person or unit who are accountable for this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Accountable Person ", className: "openAddAccountablePerson"},
          delete : {label: "Delete Accountable Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddAccountablePerson",
        title: "Create Accountable Person",
        form: {
          url: "/accountableperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddAccountablePerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableControllerPerson",
        title: "Controller Person",
        tooltipTitle: "List of person or unit who control to this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Controller Person ", className: "openAddControllerPerson"},
          delete : {label: "Delete Controller Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddControllerPerson",
        title: "Create Controller Person",
        form: {
          url: "/controllerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddControllerPerson"
        }
      }
    include ../component/new/modalForm
    -
      tableSettings = {
        key: "tableInformerPerson",
        title: "Informer Person",
        tooltipTitle: "List of person or unit who are informed of this location",
        collapse: true,
        filterable: true,
        columns: [
          { label: "PIC Name", name: "pic_name", link: "view", filter: {type: 'text'}},
          { label: "Contacts", name: "contacts", filter: {type: 'text'}},
          { label: "Workgroups", name: "workgroups", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Informer Person ", className: "openAddInformerPerson"},
          delete : {label: "Delete Informer Person ", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table

    -
      modalForm = {
        key: "openAddInformerPerson",
        title: "Create Informer Person",
        form: {
          url: "/informerperson",
          fields: [
              { name: "workgroups", label: "Workgroups", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}}
          ] 
        },
        trigger: {
          className: "openAddInformerPerson"
        }
      }
    include ../component/new/modalForm


  .ui.bottom.attached.tab.segment(data-tab='tab9')
    -
      tableSettings = {
        key: "tableMaintenance",
        title: "Maintenance",
        tooltipTitle: "List of Maintenance that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Activity", name: "activity", link: "view", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "PIC", name: "pic", filter: {type: 'text'}},
          {label: "Status", name: "status", filter: {type: 'text'}},
          {label: "Start Date", name: "startDate", filter: {type: 'text'}},
          {label: "End Date", name: "endDate", filter: {type: 'text'}},
          {label: "#Attach", name: "attach", filter: {type: 'text'}},

        ],
        data: [],
        buttons: {
          add: {label: "Add Maintenance", className: "openAddMaintenance"},
          delete : {label: "Delete Maintenance", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddMaintenance",
        title: "Create Maintenance",
        form: {
          url: "/room/maintenance",
          fields: [
              { name: 'maintenanceId', type: 'hidden', value: data._id},
              { name: "activity", label: "Activity", placeholder: "ex.  ", validate:'empty', required:true},
              { name: "description", la-
    tableSettings = {
      key: "tableSpace",
      title: "Space",
      filterable: true,
      columns: [
        {label: "Name", name: "name", link: "view", filter: {type: 'text'}},
        {label: "Type", name: "type", filter: {type: 'text'}},
        {label: "Label", name: "label", filter: {type: 'text'}},
        {label: "Width (m)", name: "width", filter: {type: 'text'}},
        {label: "Length (m)", name: "length", filter: {type: 'text'}},
        {label: "Purpose", name: "purpose", filter: {type: 'text'}},
        {label: "Created At", name: "createdAt", filter: {type: 'text'}},
        {label: "Created By", name: "createdBy", filter: {type: 'text'}},
        {label: "Creted On", name: "createdOn", filter: {type: 'text'}},
      ],
      data: data.spaceData,
      buttons: {
        add: {label: "Add Space", className: "openAddSpace"},
        delete: {label: "Remove Spaces from this Room", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    modalForm = {
      key: "openAddSpace",
      title: "Create Space",
      form: {
        url: "/space",
        fields: [
            { name: "roomId", type: "hidden", value: data._id },
            //- { name: "type", label: "Type", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/SPACE_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
            { name: "type", label: "Type", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/FLOOR_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
            { name: "name", label: "Name", placeholder: "ex. Space 1", validate:'empty', required:true},
            { name: "label", label: "Label (m)", placeholder: "ex. Lantai 1", validate:'empty', required:true},
            { name: "width", label: "Width  (m)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "length", label: "Length (m)", placeholder: "ex. 10", validate:'empty', required:true},
            { name: "purpose", label: "Purpose", validate:'empty', required:true, type: "select", settings: {remote: {url: "/referenceObject/SPACE_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'value', value: [':value']}}},
        ]
      },
      trigger: {
        className: "openAddSpace"
      }
    }
  include ../component/new/modalFormbel: "Description", placeholder: "ex. ", validate:'empty', required:true},
              { name: "pic", label: "PIC", placeholder: "ex. ", validate:'empty', required:true},
              { name: "status", label: "Status", type: "select", value: "", action:"", settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
              { name: "startDate", label: "Start Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "endDate", label: "End Date", type: "date", placeholder: "ex. ", validate:'empty', required:true},
              { name: "attach", label: "#Attach", placeholder: "ex. 5", validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddMaintenance"
        }
      }
    include ../component/new/modalForm

    -
      tableSettings = {
        key: "tableProject",
        title: "Project",
        tooltipTitle: "List of project that served by this device",
        collapse: true,
        filterable: true,
        columns: [
          {label: "Contract Number", name: "contractNumber", link: "view", filter: {type: 'text'}},
          {label: "Subject", name: "subject", filter: {type: 'text'}},
          {label: "Description", name: "description", filter: {type: 'text'}},
          {label: "Amount", name: "amount", filter: {type: 'text'}},
          {label: "Contract Date (Start - End)", name: "contractDate", filter: {type: 'text'}},
          {label: "Party", name: "party", filter: {type: 'text'}},
        ],
        data: [],
        buttons: {
          add: {label: "Add Project", className: "openAddProject"},
          delete : {label: "Delete Project", link: "delete", callBack: "deleteCallback"}
        }
      }
    include ../component/new/table
    -
      modalForm = {
        key: "openAddProject",
        title: "Create Project",
        form: {
          url: "/room/project",
          fields: [
              { name: 'projectId', type: 'hidden', value: data._id},
              { name: "contractNumber", label: "Contract Number", placeholder: "ex. ", validate:'empty', required:true},
              { name: "subject", label: "Subject", placeholder: "ex. ", validate:'empty', required:true},
              { name: "description", label: "Description", placeholder: "ex. ", validate:'empty', required:true},
              { name: "customerName", label: "Customer Name", placeholder: "ex. ", validate:'empty', required:true},
              { name: "amount", label: "Amount", placeholder: "ex. ", validate:'empty', required:true},
              { name: "contractDate", label: "Contract Date (Start - End)", placeholder: "ex. ", validate:'empty', required:true}
          ]
        },
        trigger: {
          className: "openAddProject"
        }
      }
    include ../component/new/modalForm

  -
    modalForm = {
      key: "addLocationMap",
      title: "Add New Map Location",
      form: {
        url: "/mapHandler/",
        fields: [
            { name: 'uid', type: 'hidden', value: data.uid},
            { name: 'type', type: 'hidden', value: data.type},
            { name: 'objectType', type: 'hidden', value: "location"},
            { name: "wkt", label: "WKT", placeholder: "ex. POINT(112.93911918997765 -2.5198508118083525)", validate:'empty', required:true},
        ]
      },
      trigger: {
        className: "addLocationMap"
      }
    }
  include ../component/new/modalForm