- var selectContainer = []

mixin inputHidden(namespace, id, name, label, value, placeholder, attrs)
  input(type="hidden" name=name id=(id ? id : namespace +"FormInput"+ name) value=value)&attributes(attrs)

mixin inputDisabled(namespace, id, name, label, value, placeholder, attrs)
  div.field(id=(id ? id : namespace +"FormInput"+ name)+"Container")
    label= label
    input(type="text" readonly="true" name=name id=(id ? id : namespace +"FormInput"+ name) value=value placeholder=(placeholder ? placeholder : ""))&attributes(attrs)

mixin inputSelect(namespace, id, name, label, value, placeholder, options, isMultiple, attrs)
  div.field(id=( id ? id : namespace +"FormInput"+ name ) +"Container")
    label= label
    div(class="ui fluid search selection dropdown"+ (isMultiple === true ? " multiple" : "") id=id ? id : namespace +"FormInput"+ name)&attributes(attrs)
      input(type="hidden" name=name id=namespace +"FormInputInner"+ name value=value)
      i.dropdown.icon
      div.default.text=(placeholder ? placeholder : "")
      div.menu
        if(options)
          each item in options
            div.item(data-value=item.value)= item.label ? item.label : item.value

mixin inputCheckBox(namespace, id, name, label, value, placeholder, attrs)
  div.field(id=(id ? id : namespace +"FormInput"+ name)+"Container")
    div.ui.toggle.checkbox
      input.notVisible(type="checkbox" tabindex="0" name=name id=(id ? id : namespace +"FormInput"+ name))&attributes(attrs)
      label= label

mixin inputSearch(namespace, id, name, label, value, placeholder, attrs)
  div.field(id=(id ? id : namespace +"FormInput"+ name) +"Container")
    label= label
    div.ui.fluid.search.selection.dropdown(id=id ? id : namespace +"FormInput"+ name)&attributes(attrs)
      input(type="hidden" name=name id=namespace +"FormInputInner"+ name value=value)
      i.search.icon
      div.default.text= (placeholder ? placeholder : "")

mixin inputText(namespace, id, name, label, value, placeholder, attrs, state)
  label= label
  div.ui.fluid.labeled.input(id=(id ? id : namespace +"FormInput"+ name)+"Container")
    input(type="text" name=name id=(id ? id : namespace +"FormInput"+ name) value=value placeholder=(placeholder?placeholder:""))&attributes(attrs)
  if(state)
    div(id=(id ? id +"State" : namespace +"FormInputState"+ name) class="ui pink pointing notVisible label "+ (namespace +"FormInputState") style="position: absolute; z-index:2" data-state-old=state.old data-state-new=state.new)= state.text ? state.text : 'Not Set'

mixin inputDate(namespace, id, name, label, value, placeholder, attrs, state)
  label= label
  div.ui.fluid.labeled.input(id=(id ? id : namespace +"FormInput"+ name)+"Container")
    input(type="date" name=name id=(id ? id : namespace +"FormInput"+ name) value=value placeholder=(placeholder?placeholder:""))&attributes(attrs)
  if(state)
    div(id=(id ? id +"State" : namespace +"FormInputState"+ name) class="ui pink pointing notVisible label "+ (namespace +"FormInputState") style="position: absolute; z-index:2" data-state-old=state.old data-state-new=state.new)= state.text ? state.text : 'Not Set'

mixin string(namespace, id, name, label, value, placeholder, attrs, state)
  div.ui.fluid.labeled.input(id=(id ? id : namespace +"FormInput"+ name)+"Container")
    label= label
    input(type="text" name=name id=(id ? id : namespace +"FormInput"+ name) value=value placeholder=(placeholder?placeholder:"") disabled="" style="opacity: 1")&attributes(attrs)
    if(state)
      input(class="disappear "+ (namespace +"FormInputState") type="text" fieldId=(id ? id : namespace +"FormInput"+ name) id=(id ? id +"State" : namespace +"FormInputState"+ name) value=(state.text ? state.text : 'Not Set') placeholder=(placeholder?placeholder:"") disabled="" data-state-old=state.old data-state-new=state.new)

mixin inputComponent(namespace, field)
  if(field.type==='string')
    +string(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes, field.state)
  else if(field.type==='hidden')
    +inputHidden(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes)
  else if(field.type==='disabled')
    +inputDisabled(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes)
  else if(field.type==='select')
    -
      selectContainer.push(field);
    +inputSelect(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.options, field.isMultiple, field.attributes)
  else if(field.type==='checkbox')
    +inputCheckBox(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes)
  else if(field.type==='search')
    +inputSearch(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes)
  else if(field.type==='date')
    +inputDate(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes, field.state)
  else
    +inputText(namespace, field.id, field.name, field.label, field.value, field.placeholder, field.attributes, field.state)


mixin inputSearchJs(namespace, field)
  -
    let resultGenerator = "";
    if(field.settings.resultMapping.value) {
        if(Array.isArray(field.settings.resultMapping.value)){
          resultGenerator +=
            'let realValue = "";' +
            'const format= ' + JSON.stringify(field.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
            'format.forEach(function(valueFormat, valueFormatIndex){' +
              'if(valueFormat.startsWith(":")){' +
                'realValue += value[valueFormat.substring(1)];' +
              '} else{' +
                'realValue += valueFormat;' +
              '}' +
            '});';
        } else {
          resultGenerator += 'const realValue = value["'+ field.settings.resultMapping.value +'"];';
        }
    } else {
      resultGenerator += 'const realValue = value["value"];';
    }
    resultGenerator +=
      'response.results.push({' +
        'text: value["'+ (field.settings.resultMapping.label ? field.settings.resultMapping.label : 'label') +'"],' +
        'value: realValue,' +
        'name: ' +(field.settings.resultMapping.info? 'value["'+ (field.settings.resultMapping.label ? field.settings.resultMapping.label : 'label') +'"] + (value["'+ field.settings.resultMapping.info +'"] ? " - "+ value["'+ field.settings.resultMapping.info +'"] : "")' : 'value["'+ (field.settings.resultMapping.label ? field.settings.resultMapping.label : 'label') +'"]') +
      '});';


    const limit = field.settings.limit ? field.settings.limit : -1;


    const responseProcessor =
      'const response = {' +
        'results: []' +
      '};' +
      'let results = 0;' +
      'try{' +
        'const serverData = serverResponse'+ (field.settings.resultMapping.dataIndex? '["'+ field.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
        'serverData.forEach((value, key) => {' +
          'if(results === '+ limit +') {' +
            'throw BreakException;' +
          '}' +
          (field.settings.local ? field.settings.local.matcher : '') +
          resultGenerator +
          'results++;' +
        '});' +
      '} catch(e){' +
      '}';

    let searchBodyScript = "";

    if(field.settings.local) {
      // local settings

      const opt = field.settings.local;
      const appender = opt.queryAppender;
      const query = 'settings.urlData.query.toLowerCase()';

      searchBodyScript =
        'apiSettings: {' +
          'cache: '+ (field.settings && field.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = '+ (appender ? (appender.prefix ? appender.prefix +'+' : '') + query : query) +';' +
            'const serverResponse = '+ opt.data +';' +
            responseProcessor +
            'callback(response);' +
          '}' +
        '},';
    }

    if(field.settings.remote) {
      // remote settings

      let requestData = "";
      for(var key in field.settings.remote.extraData) {
        if(field.settings.remote.extraData.hasOwnProperty(key)){
          requestData += "&" + key +"="+ field.settings.remote.extraData[key];
        }
      }

      searchBodyScript =
        (field.callback && field.callback.onSelected ? 'onChange: function(value, text, selectedItem){ '+ field.callback.onSelected +'(value, text, selectedItem) },' : '') +
        'apiSettings: {' +
          'cache: '+ (field.settings && field.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = settings.urlData.query.toLowerCase();' +
            'const requestData = "'+ (requestData ? requestData + '&' : '') + field.settings.remote.query +'=" + query;' +
            'sendGet({' +
              'url: "'+ field.settings.remote.url +'",' +
              'data: requestData,' +
              'dataType: "json",' +
              'done: (status, data, responseText, defaultDone) => {' +
                'const serverResponse = data;' +
                responseProcessor +
                'callback(response)' +
              '},' +
              'fail: (status, data, responseText, defaultFail) => {' +
                'callback({ results: [] });' +
              '}' +
            '})' +
          '}' +
        '},';
    }

    const searchScript =
      '$("#'+ (field.id ? field.id : namespace +"FormInput"+ field.name) +'").dropdown({' +
          'minCharacters: '+ (field.settings && field.settings.minChar ? field.settings.minChar : '1') +',' +
          'selectOnKeydown: false,' +
          searchBodyScript +
      '});';

  script.
    $(document).ready(function () {
      !{searchScript}
    });

mixin selectScriptJS(namespace, field)
  -
    var selectScript = ""
    selectContainer.forEach(function(item, index){
      if(field.settings) {
        let optionGenarator = "";
        if(field.settings.resultMapping && field.settings.resultMapping.value) {
            if(Array.isArray(field.settings.resultMapping.value)){
              optionGenarator +=
                'let realValue = "";' +
                'const format= ' + JSON.stringify(field.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
                'format.forEach(function(valueFormat, valueFormatIndex){' +
                  'if(valueFormat.startsWith(":")){' +
                    'realValue += item[valueFormat.substring(1)];' +
                  '} else{' +
                    'realValue += valueFormat;' +
                  '}' +
                '});';
            } else {
              optionGenarator += 'const realValue = item["'+ field.settings.resultMapping.value +'"];';
            }
        } else {
          optionGenarator += 'const realValue = item["value"];';
        }
        optionGenarator +=
          'options.push({' +
            'name: item["'+ (field.settings.resultMapping && field.settings.resultMapping.label ? field.settings.resultMapping.label : 'label') +'"],' +
            'value: realValue,' +
          '});';


        if(field.settings && field.settings.remote) {
          selectScript +=
            'sendGet({' +
                'url: "'+ field.settings.remote.url +'",' +
                'data: '+ JSON.stringify(field.settings.remote.extraData ? field.settings.remote.extraData : '{}').replace(/<\//g, '<\\/') +',' +
                'done: function(status, serverData, text) {' +
                  'if (!serverData) return;' +
                  'const options = [];' +
                  'const data = serverData'+ (field.settings.resultMapping.dataIndex? '["'+ field.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
                  'data.forEach(function(item, index){' +
                    optionGenarator +
                  '});' +
                  '$("#'+ (field.id ? field.id : namespace +"FormInput"+ field.name) +'").dropdown("change values", options);' +
                '},' +
                'fail: function(status, data, text) {' +
                  '$("#'+ (field.id ? field.id : namespace +"FormInput"+ field.name) +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
                '}' +
            '});';
        }
      }

      selectScript +=
        '$("#'+ (field.id ? field.id : namespace +"FormInput"+ field.name) +'").dropdown({' +
          'allowReselection: true,' +
          'fullTextSearch: true,' +
        '});';
    });
  
  script.
    $(document).ready(function () {
      !{selectScript}
    });

mixin validateFormJS(namespace, field)
  -
    var formValidation = '$("#'+namespace+'Form").form({' +
      'fields: {';
  each field in modalForm.form.fields
    if field.validate
      - formValidation += field.name + ': ' + JSON.stringify(field.validate) + ','
  - formValidation += '}});'
  script.
    $(document).ready(function () {
      !{formValidation}
    })