//- - var searchContainer = [];
//- - var selectContainer = [];
//- - var multipleInputContainer = [];
//- - var defaultValues = {};
- var listOfPowerUnit = []
div.ui.modal.transition(id=modalForm.key + "Modal")
  div.header= modalForm.title
  div.content
    //- include form
    input#pduname(type="hidden" value=modalForm.name)
    input#pduuid(type="hidden" value=modalForm.pduUid)
    .ui.form
      .field
        label Category
        select#listofcategorytype.selection
          option(value="") - Select Category -
      .field
        label Spesification Type
        select#listoftype.selection
          option(value="") - Select Type -
    br
    .ui.styled.fluid.accordion
      .title.active
        i.dropdown.icon
        |    Spesification Details
      .content.active
        p.transition.visible(style='display: block !important;')
          .ui.grid
            .six.wide.column
              img.disabled.medium.ui.image(src='/images/avatar/steve.jpg')
            .ten.wide.column
              table.ui.celled.table
                thead
                  tr
                    th Key
                    th Value
                tbody#listofspec
                 
          h4 Electric Line / Port
          hr
          .ui.grid
            .sixteen.wide.column
              table.ui.celled.table
                thead
                  tr
                    th #
                    th Name
                    th Label
                    th Type
                    th Direction
                tbody#listofline
    br
    .ui.styled.fluid.accordion
      .title.active
        i.dropdown.icon
        |    Auto Generate Settings
      .content.active
        .ui.grid.form
          .four.wide.column
            label Mounting Position
          .three.wide.column
            input(type='radio' name='mountingposition' value="X")
            label  Left Right (X)
          .three.wide.column
            input(type='radio' name='mountingposition' value="Y")
            label  Top Down (Y)
          .six.wide.column
          .four.wide.column
            .field
              label Prefix Name
              input#prefixname(type='text' placeholder='ex. MCB#')
          .three.wide.column
            .field
              label Quantity
              select.selection#listofquantity
          .three.wide.column
            .field
              label Start X
              select.selection#listofstartx
          .three.wide.column
            .field
              label Start Y
              select.selection#listofstarty
          .three.wide.column
            br
            .ui.right.fluid.small.teal.labeled.icon.button#generatebutton
              i.cogs.icon
              |  Generate
          

    br
    .ui.styled.fluid.accordion
      .title.active
        i.dropdown.icon
        |   Power Unit (Draft)
      .content.active
        table.ui.compact.celled.definition.table
          thead.full-width
            tr
              th
              th Name
              th Label
              th X Position
              th Y Position
          tbody#listofpowerunitdraft
           
          tfoot.full-width
            tr
              th
                center
                  input.select-all(type='checkbox')
              th(colspan='5')
                .ui.right.floated.small.red.labeled.icon.button.delete-row
                  i.trash.icon
                  |  Remove

  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modalForm.key + "SubmitButton") Submit

-
  var onOpenModalTriggerScript = '';
  if(modalForm.trigger) {
    onOpenModalTriggerScript +=
      '$("body").on("click", ".'+ modalForm.trigger.className +'", function (event) {' +
        'const thisTag = this;';

    if(modalForm.trigger.callback) {
      onOpenModalTriggerScript += modalForm.trigger.callback +'(this);';
    }

    onOpenModalTriggerScript +=
      '$("#'+ modalForm.key +'Modal").modal("show")' +
    '});';
  }

script.
  $(document).ready(function () {
    !{onOpenModalTriggerScript}
    let totalX = 50
    let totalY = 24
    let totalQuantity = 24
    for(let row = 1; row <= totalX; row++){
      $('#listofstartx').append(`<option value="${row}">${row}</option>`)
    }
    for(let row = 1; row <= totalY; row++){
      $('#listofstarty').append(`<option value="${row}">${row}</option>`)
    }
    for(let row = 1; row <= totalQuantity; row++){
      $('#listofquantity').append(`<option value="${row}">${row}</option>`)
    }
  })
  
  sendGet({
    url : "/referenceObject/prefman/boilerPlate",
    data : {
      name : "PowerUnitCategory",
      params : {
        ok : "ok"
      }
    },
    datatype : "json",
    done: (status, data, responseText, defaultDone) => {
      if(data.length > 0){
        data.forEach((i) => {
          $('#listofcategorytype').append(`<option value="${i.name}">${i.label} [${i.description}]</option>`)
        })
      }
    },
    fail: (status, data, responseText, defaultFail) => {
      console.log(status)
    }
  })

  $('#listofcategorytype').change(function(){
    const value = $(this).val()
     $('#prefixname').empty()
    $('#prefixname').val(`${value}#`)
    sendGet({
      url : "/referenceObject/prefman/boilerPlate",
      data : {
        name : "PowerUnitType",
        params : {
          _category : value
        }
      },
      datatype : "json",
      done: (status, data, responseText, defaultDone) => {
        if(data.length > 0){
          data.forEach((i) => {
            $('#listoftype').append(`<option value="${i.name}">${i.label} [${i.description}]</option>`)
          })
        }else{
          
        }
      },
      fail: (status, data, responseText, defaultFail) => {
        console.log(status)
      }
    })
  })

  $('#listoftype').change(function(){
    const value = $(this).val()
   
    sendGet({
      url : "/referenceObject/prefman/boilerPlate",
      data : {
        name : "PowerUnitLine",
        params : {
          _type : value
        }
      },
      datatype : "json",
      done: (status, data, responseText, defaultDone) => {
       $('#listofline').empty()
       if(data.length > 0){
         let no = 1
         data.forEach((i) => {
           $('#listofline').append(`
              <tr>
                <td>${no++}</td>
                <td>${i.name}</td>
                <td>${i.label}</td>
                <td>${i.type}</td>
                <td>${i.direction}</td>
              </tr>
           `)
         })
       }
      },
      fail: (status, data, responseText, defaultFail) => {
        console.log(status)
      }
    })

    sendGet({
      url : "/referenceObject/prefman/boilerPlate",
      data : {
        name : "PowerUnitSpec",
        params : {
          _type : value
        }
      },
      datatype : "json",
      done: (status, data, responseText, defaultDone) => {
       $('#listofspec').empty()
       if(data.length > 0){
         let no = 1
         data.forEach((i) => {
           $('#listofspec').append(`
              <tr>
                <td>${i.name}</td>
                <td>${i.value}</td>
              </tr>
           `)
         })
       }
      },
      fail: (status, data, responseText, defaultFail) => {
        console.log(status)
      }
    })
  })

  $('input[name="mountingposition"]').click(function() {
    const val = $(this).val()
    console.log(val)
    if(val === 'X'){
      console.log("MASUK SINI")
      $('#listofstartx').attr('disabled')
    }else{
      $('#listofstarty').attr('disabled')
    }
  })

  $('#generatebutton').click(function(){
    const prefixName = $('#prefixname').val()
    const quantity  = $('#listofquantity').val()
    const startX  = $('#listofstartx').val()
    const startY = $('#listofstarty').val()
    const mountingPosition = $('input[name="mountingposition"]:checked').val()
    const pduName = $('#pduname').val()
    const type = $('#listoftype').val()
    let no = 1
    let string = ''
    let labelX = parseInt(startX)
    let labelY = parseInt(startY)

    let position = []
    $(`.namedraft`).each(function(idx){
      const x = $(`.xdraft:eq(${idx})`).text()
      const y = $(`.ydraft:eq(${idx})`).text()
      position.push(`${x}.${y}`)
    })
    if(mountingPosition === 'X'){
      for(let row = 0; row < quantity; row++){
        let labelMounting = labelY + row
        let concatPrefix = `${prefixName}${labelX}.${labelMounting}@${pduName}`
        let contactLabel = `${type}(${concatPrefix})`
        if(position.includes(`${labelX}.${labelMounting}`)){
           iziToast.info({
            title : "Sorry !",
            message : `Position ${labelX}.${labelMounting} Already Have Device !`,
            timeout : 3000 
          })
        }else{
          string += `
            <tr>
              <td class="collapsing">
                  <center><input class="select-item" type="checkbox" name="record" /></center>
              </td>
              <td><span class="namedraft">${concatPrefix}</span></td>
              <td><span class="labeldraft">${contactLabel}</span></td>
              <td><span class="xdraft">${labelX}</span></td>
              <td><span class="ydraft">${labelMounting}</span></td>
          </tr>
          `
        }
      }
    }else if(mountingPosition === 'Y'){
      for(let row = 0; row < quantity; row++){
        let labelMounting = labelX + row
        let concatPrefix = `${prefixName}${labelMounting}.${labelY}@${pduName}`
        let contactLabel = `${type}(${concatPrefix})`
        if(position.includes(`${labelMounting}.${labelY}`)){
           iziToast.info({
            title : "Sorry !",
            message : `Position ${labelX}.${labelMounting} Already Have Device !`,
            timeout : 3000 
          })
        }else{
          string += `
            <tr>
              <td class="collapsing">
                  <center><input class="select-item" type="checkbox" name="record" /></center>
              </td>
              <td><span class="namedraft">${concatPrefix}</span></td>
              <td><span class="labeldraft">${contactLabel}</span></td>
              <td><span class="xdraft">${labelMounting}</span></td>
              <td><span class="ydraft">${labelY}</span></td>
          </tr>
          `
        }
      }
    }
    $('#listofpowerunitdraft').append(string)
  })

  $('#openAddPowerUnitSubmitButton').click(function() {
    let dataDraft = []
    const pduUid = $('#pduuid').val()
    $(`.namedraft`).each(function(idx){
      const name = $(this).text()
      const label = $(`.labeldraft:eq(${idx})`).text()
      const x = $(`.xdraft:eq(${idx})`).text()
      const y = $(`.ydraft:eq(${idx})`).text()
      dataDraft.push({
        name: name,
        label: label,
        x: x,
        y:y
      })
    })
    sendPost({
      url : "/powerUnit",
      data : {
          pduUid : pduUid,
          category : $('#listofcategorytype').val(),
          type : $('#listoftype').val(),
          data : dataDraft
      },
      done: (status, data, responseText, defaultDone) => {
        
      },
      fail: (status, data, responseText, defaultFail) => {
        console.log(status)
      }
    })
    console.log(dataDraft)
  })
  
  $(".delete-row").click(function () {
      $("table tbody").find('input[name="record"]').each(function () {
        if ($(this).is(":checked")) {
            $(this).parents("tr").remove();
          }
      })
  })
  
  $(".select-all").click(function () {
    $("input.select-item").each(function (index, item) {
      item.checked = !item.checked
    })
    let all = $("input.select-all")[0]
    let total = $("input.select-item").length
    let len = $("input.select-item:checked:checked").length
    all.checked = len === total
  })
