- var searchContainer = [];
- var selectContainer = [];
- var multipleInputContainer = [];
- var defaultValues = {};
div.ui.modal.transition(id=modalForm.key + "Modal")
  div.header= modalForm.title
  div.content
    -
      var form = modalForm.form;
      form.key = modalForm.key;
    mixin inputText(form, field, defaultValue, attr)
      label= field.label
      input(type=field.type name=field.name id=(field.id ? field.id : form.key + "FormInput" + field.name) value=defaultValue placeholder=(field.placeholder ? field.placeholder : ""))&attributes(attr)

    form.ui.form(id=form.key + "Form" action=form.url method=form.method?form.method:"POST")
      each formField in form.fields
        -
          const defaultValue = (formField.value ? formField.value : "") + "";
          defaultValues[formField.name] = defaultValue;
          const attr = {}
        -
          selectContainer.push(formField);
        div.field(id=( formField.id ? formField.id : form.key +"FormInput"+ formField.name ) +"Container"  class=(formField.required ? "required" : ""))
          label= formField.label
          div(class="ui fluid search selection dropdown "+ (formField.settings && formField.settings.multiple === true ? "multiple" : "") id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i.dropdown.icon
            div.default.text=(formField.placeholder ? formField.placeholder : "")
            div.menu
              if(formField.settings && formField.settings.options)
                each item in formField.settings.options
                  div.item(data-value=item.value)= item.label ? item.label : item.value
      each formField in form.fieldcable
        -
          const defaultValue = (formField.value ? formField.value : "") + "";
          defaultValues[formField.name] = defaultValue;
          const attr = {}
          
        if(formField.type==="hidden")
          div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required? "required":""))
            input(type=formField.type name=formField.name id=(formField.id ? formField.id : form.key + "FormInput" + formField.name) value=defaultValue placeholder=(formField.placeholder ? formField.placeholder : ""))&attributes(attr)
        else
          div.field(id=(formField.id ? formField.id : form.key+"FormInput"+formField.name)+"Container" class=(formField.required? "required":""))
            +inputText(form, formField, defaultValue, attr)
      each formField in modalForm.search.form.fields
        -
          selectContainer.push(formField);
        div.field(id=( formField.id ? formField.id : form.key +"FormInput"+ formField.name ) +"Container"  class=(formField.required ? "required" : ""))
          label= formField.label
          div.ui.fluid.search.selection.dropdown(id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i.dropdown.icon
            div.default.text=(formField.placeholder ? formField.placeholder : "")
            div.menu
              each dataX in modalForm.data
                div.item(data-value=dataX.devicephya)= dataX.devicephya
      div.field(id=(form.key +"FormInputmodule") +"Container" class=("required"))
          label= 'Module(Downstream)'
          div(class="ui fluid search selection dropdown " id=form.key+"FormInputmodule")&attributes(attr)
            input(type="hidden" name="module" id=form.key+"FormInputInnermodule" value=defaultValue)
            i.dropdown.icon
            div.default.text=""
            div.menu
              div.item= ''
      div.field(id=(form.key +"FormInputinterface") +"Container" class=("required"))
          label= 'Interface (Downstream)'
          div(class="ui fluid search selection dropdown " id=form.key+"FormInputInterface")&attributes(attr)
            input(type="hidden" name="interface" id=form.key+"FormInputInnerInterface" value=defaultValue)
            i.dropdown.icon
            div.default.text=""
            div.menu
              div.item= ''
      each formField in modalForm.search.form.fieldsb
        -
          selectContainer.push(formField);
        div.field(id=( formField.id ? formField.id :  form.key +"FormInput"+ formField.name ) +"Container" class=(formField.required ? "required" : ""))
          label= formField.label
          div.ui.fluid.search.selection.dropdown(id=formField.id ? formField.id : form.key+"FormInput"+formField.name)&attributes(attr)
            input(type="hidden" name=formField.name id=form.key+"FormInputInner"+formField.name value=defaultValue)
            i.dropdown.icon
            div.default.text= (formField.placeholder ? formField.placeholder : "")
            div.menu
              each dataY in modalForm.data
                div.item(data-value=dataY.devicephyb)= dataY.devicephyb
      div.field(id=(form.key +"FormInputmoduleb") +"Container" class=("required"))
          label= 'Module(Upstream)'
          div(class="ui fluid search selection dropdown " id=form.key+"FormInputmoduleb")&attributes(attr)
            input(type="hidden" name="moduleup" id=form.key+"FormInputInnermoduleb" value=defaultValue)
            i.dropdown.icon
            div.default.text=""
            div.menu
              div.item= ''
      div.field(id=(form.key +"FormInputInterfaceb") +"Container" class=("required"))
          label= 'Interface (Upstream)'
          div(class="ui fluid search selection dropdown " id=form.key+"FormInputInterfaceb")&attributes(attr)
            input(type="hidden" name="interfaceup" id=form.key+"FormInputInnerinterfaceb" value=defaultValue)
            i.dropdown.icon
            div.default.text=""
            div.menu
              div.item= ''
      div.ui.error.message
  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modalForm.key + "SubmitButton")= modalForm.form.buttonLabel ? modalForm.form.buttonLabel : "Submit"

-
  var searchSection = ""
  if (modalForm.search)
    searchSection =
      '$("#addCableCoreFormInputInnerphysicaldeviceaname").on("change", function (event) {'+
      '  let form = {'+
      '     phy: $("#addCableCoreFormInputInnerphysicaldeviceaname").val()' +
      '   };'+
      '  sendGet({' +
      '    url: "'+ modalForm.search.form.url +'",' +
      '    data: form,' +
      '    done: function (status, data, responseText, defaultDone) {' +
      '        let dataObj = data;' +
      '        if(returnedDataIndex) {' +
      '          dataObj = data[returnedDataIndex];' +
      '        }' +
      '         var optiondata = [];' +
      '        dataObj.forEach(function(item, data){' +
      '         optiondata.push({ name: item.name,value: item.name});' +
      '        $("#'+ (modalForm.key +"FormInputmodule") +'").dropdown("change values", optiondata);' +
      '        });' +
      '    },' +
      '    fail: function(status, data, responseText, defaultFail){' +
      '     $("#'+ (modalForm.key +"FormInputmodule") +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
      '    }' +
      '  });' +
      ' $("#'+ (modalForm.key +"FormInputmodule") +'").dropdown({' +
      '  allowReselection: true,' +
      '  fullTextSearch: true,' +
      ' });'+
      '});';

-
  var searchSectionidown = ""
  if (modalForm.search)
    searchSectionidown =
      '$("#addCableCoreFormInputInnermodule").on("change", function (event) {'+
      '  let form = {'+
      '     phy: $("#addCableCoreFormInputInnerphysicaldeviceaname").val(),' +
      '     interface: $("#addCableCoreFormInputInnermodule").val()' +
      '   };'+
      '  sendGet({' +
      '    url: "'+ modalForm.search.form.urlinterfacedown +'",' +
      '    data: form,' +
      '    done: function (status, data, responseText, defaultDone) {' +
      '        let dataObj = data;' +
      '        if(returnedDataIndex) {' +
      '          dataObj = data[returnedDataIndex];' +
      '        }' +
      '         var optiondata = [];' +
      '        dataObj.forEach(function(item, data){' +
      '         optiondata.push({ name: item.name,value: item.name});' +
      '        $("#'+ (modalForm.key +"FormInputInterface") +'").dropdown("change values", optiondata);' +
      '        });' +
      '    },' +
      '    fail: function(status, data, responseText, defaultFail){' +
      '     $("#'+ (modalForm.key +"FormInputInterface") +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
      '    }' +
      '  });' +
      ' $("#'+ (modalForm.key +"FormInputInterface") +'").dropdown({' +
      '  allowReselection: true,' +
      '  fullTextSearch: true,' +
      ' });'+
      '});';

-
  var searchsectionb = ""
  if(modalForm.search)
    searchsectionb =
      '$("#addCableCoreFormInputInnerphysicaldevicebname").on("change", function (event) {'+
      '  let form = {'+
      '     phy: $("#addCableCoreFormInputInnerphysicaldevicebname").val()' +
      '   };'+
      '  sendGet({' +
      '    url: "'+ modalForm.search.form.url +'",' +
      '    data: form,' +
      '    done: function (status, data, responseText, defaultDone) {' +
      '        let dataObj = data;' +
      '        if(returnedDataIndex) {' +
      '          dataObj = data[returnedDataIndex];' +
      '        }' +
      '         var optiondata = [];' +
      '        dataObj.forEach(function(item, data){' +
      '         optiondata.push({ name: item.name,value: item.name});' +
      '        $("#'+ (modalForm.key +"FormInputmoduleb") +'").dropdown("change values", optiondata);' +
      '        });' +
      '    },' +
      '    fail: function(status, data, responseText, defaultFail){' +
      '     $("#'+ (modalForm.key +"FormInputmoduleb") +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
      '    }' +
      '  });' +
      ' $("#'+ (modalForm.key +"FormInputmoduleb") +'").dropdown({' +
      '  allowReselection: true,' +
      '  fullTextSearch: true,' +
      ' });'+
      '});';

-
  var searchSectioniup = ""
  if (modalForm.search)
    searchSectioniup =
      '$("#addCableCoreFormInputInnermoduleb").on("change", function (event) {'+
      '  let form = {'+
      '     phy: $("#addCableCoreFormInputInnerphysicaldevicebname").val(),' +
      '     interface: $("#addCableCoreFormInputInnermoduleb").val()' +
      '   };'+
      '  sendGet({' +
      '    url: "'+ modalForm.search.form.urlinterfaceup +'",' +
      '    data: form,' +
      '    done: function (status, data, responseText, defaultDone) {' +
      '        let dataObj = data;' +
      '        if(returnedDataIndex) {' +
      '          dataObj = data[returnedDataIndex];' +
      '        }' +
      '         var optiondata = [];' +
      '        dataObj.forEach(function(item, data){' +
      '         optiondata.push({ name: item.name,value: item.name});' +
      '        $("#'+ (modalForm.key +"FormInputInterfaceb") +'").dropdown("change values", optiondata);' +
      '        });' +
      '    },' +
      '    fail: function(status, data, responseText, defaultFail){' +
      '     $("#'+ (modalForm.key +"FormInputInterfaceb") +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
      '    }' +
      '  });' +
      ' $("#'+ (modalForm.key +"FormInputInterfaceb") +'").dropdown({' +
      '  allowReselection: true,' +
      '  fullTextSearch: true,' +
      ' });'+
      '});';

-
    var returnSection = ""
    if (modalForm.returned)
      returnSection =
        "const returnedDataIndex = " + JSON.stringify(modalForm.returned.dataIndex).replace(/<\//g, '<\\/') +";" +
        "const returnedFieldNames = " + JSON.stringify(modalForm.returned.names).replace(/<\//g, '<\\/') +";";

-
  var onOpenModalTriggerScript = '';
  if(modalForm.trigger) {
    onOpenModalTriggerScript +=
      '$("body").on("click", ".'+ modalForm.trigger.className +'", function (event) {' +
        'const thisTag = this;';

    if(modalForm.trigger.callback) {
      onOpenModalTriggerScript += modalForm.trigger.callback +'(this);';
    }

    onOpenModalTriggerScript +=
      '$("#'+ modalForm.key +'Modal").modal("show")' +
    '});';
  }

-
  var clearingFormScript =
      'onHidden: function() {';

   modalForm.form.fields.forEach(function(item, index){
    if(item.type === "search") {
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown("clear");'
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +' .menu").children().remove();'
    } else if(item.type === "select") {
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown("clear");'
      if(!(item.settings && (item.settings.options || item.settings.remote)))
        clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +' .menu").children().remove();'
    } else {
      clearingFormScript += 'document.getElementById("'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").value = "'+ defaultValues[item.name] +'";'
    }
  });

  clearingFormScript +=
      '}';

-
  var searchScript = "";
  searchContainer.forEach(function(item, index){
    let resultGenerator = "";
    if(item.settings.resultMapping.value) {
        if(Array.isArray(item.settings.resultMapping.value)){
          resultGenerator +=
            'let realValue = "";' +
            'const format= ' + JSON.stringify(item.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
            'format.forEach(function(valueFormat, valueFormatIndex){' +
              'if(valueFormat.startsWith(":")){' +
                'realValue += value[valueFormat.substring(1)];' +
              '} else{' +
                'realValue += valueFormat;' +
              '}' +
            '});';
        } else {
          resultGenerator += 'const realValue = value["'+ item.settings.resultMapping.value +'"];';
        }
    } else {
      resultGenerator += 'const realValue = value["value"];';
    }
    resultGenerator +=
      'response.results.push({' +
        'text: value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"],' +
        'value: realValue,' +
        'name: ' +(item.settings.resultMapping.info? 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"] + (value["'+ item.settings.resultMapping.info +'"] ? " - "+ value["'+ item.settings.resultMapping.info +'"] : "")' : 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"]') +
      '});';


    const limit = item.settings.limit ? item.settings.limit : -1;


    const responseProcessor =
      'const response = {' +
        'results: []' +
      '};' +
      'let results = 0;' +
      'try{' +
        'const serverData = serverResponse'+ (item.settings.resultMapping.dataIndex? '["'+ item.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
        'serverData.forEach((value, key) => {' +
          'if(results === '+ limit +') {' +
            'throw BreakException;' +
          '}' +
          (item.settings.local ? item.settings.local.matcher : '') +
          resultGenerator +
          'results++;' +
        '});' +
      '} catch(e){' +
      '}';

    let searchBodyScript = "";

    if(item.settings.local) {
      // local settings

      const opt = item.settings.local;
      const appender = opt.queryAppender;
      const query = 'settings.urlData.query.toLowerCase()';

      searchBodyScript =
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = '+ (appender ? (appender.prefix ? appender.prefix +'+' : '') + query : query) +';' +
            'const serverResponse = '+ opt.data +';' +
            responseProcessor +
            'callback(response);' +
          '}' +
        '},';
    }

    if(item.settings.remote) {
      // remote settings

      let requestData = "";
      for(var key in item.settings.remote.extraData) {
        if(item.settings.remote.extraData.hasOwnProperty(key)){
          requestData += "&" + key +"="+ item.settings.remote.extraData[key];
        }
      }

      searchBodyScript =
        (item.callback && item.callback.onSelected ? 'onChange: function(value, text, selectedItem){ '+ item.callback.onSelected +'(value, text, selectedItem) },' : '') +
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = settings.urlData.query.toLowerCase();' +
            'const requestData = "'+ (requestData ? requestData + '&' : '') + item.settings.remote.query +'=" + query;' +
            'sendGet({' +
              'url: "'+ item.settings.remote.url +'",' +
              'data: requestData,' +
              'dataType: "json",' +
              'done: (status, data, responseText, defaultDone) => {' +
                'const serverResponse = data;' +
                responseProcessor +
                'callback(response)' +
              '},' +
              'fail: (status, data, responseText, defaultFail) => {' +
                'callback({ results: [] });' +
              '}' +
            '})' +
          '}' +
        '},';
    }

    searchScript +=
      '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown({' +
          'minCharacters: '+ (item.settings && item.settings.minChar ? item.settings.minChar : '1') +',' +
          'selectOnKeydown: false,' +
          searchBodyScript +
      '});';
  });

-
  var selectScript = "";
  selectContainer.forEach(function(item, index){
    if(item.settings) {
      let optionGenarator = "";
      if(item.settings.resultMapping && item.settings.resultMapping.value) {
          if(Array.isArray(item.settings.resultMapping.value)){
            optionGenarator +=
              'let realValue = "";' +
              'const format= ' + JSON.stringify(item.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
              'format.forEach(function(valueFormat, valueFormatIndex){' +
                'if(valueFormat.startsWith(":")){' +
                  'realValue += item[valueFormat.substring(1)];' +
                '} else{' +
                  'realValue += valueFormat;' +
                '}' +
              '});';
          } else {
            optionGenarator += 'const realValue = item["'+ item.settings.resultMapping.value +'"];';
          }
      } else {
        optionGenarator += 'const realValue = item["value"];';
      }
      optionGenarator +=
        'options.push({' +
          'name: item["'+ (item.settings.resultMapping && item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"],' +
          'value: realValue,' +
        '});';


      if(item.settings && item.settings.remote) {
        selectScript +=
          'sendGet({' +
              'url: "'+ item.settings.remote.url +'",' +
              'data: '+ JSON.stringify(item.settings.remote.extraData ? item.settings.remote.extraData : '{}').replace(/<\//g, '<\\/') +',' +
              'done: function(status, serverData, text) {' +
                'if (!serverData) return;' +
                'const options = [];' +
                'const data = serverData'+ (item.settings.resultMapping.dataIndex? '["'+ item.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
                'data.forEach(function(item, index){' +
                  optionGenarator +
                '});' +
                '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown("change values", options);' +
              '},' +
              'fail: function(status, data, text) {' +
                '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
              '}' +
          '});';
      }
    }

    selectScript +=
      '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown({' +
        'allowReselection: true,' +
        'fullTextSearch: true,' +
      '});';
  });

-
  var multipleInputScript = "";
  multipleInputContainer.forEach(function(item, index){
    multipleInputScript +=
      '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown({' +
        'allowAdditions: true,' +
      '});';
  });

-
  var formAction =
    'const form = $("#'+ modalForm.key +'Form");' +
    'const formMethod = form.attr("method");' +
    'if(formMethod.toUpperCase() === "POST"){' +
      'sendPost({' +
        'url: form.attr("action"),' +
        'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
      '});' +
    '} else if(formMethod.toUpperCase() === "PUT"){' +
       'sendPut({' +
         'url: form.attr("action"),' +
         'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
       '});' +
    '} else if(formMethod.toUpperCase() === "GET"){' +
       'sendGet({' +
         'url: form.attr("action"),' +
         'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
       '});' +
    '};';
// validation rules
-
  var formValidation = '$("#'+modalForm.key+'Form").form({' +
    'fields: {';
each field in modalForm.form.fields
  if field.rules
    -
      formValidation += field.name + ': {'+
        'identifier: "'+field.name+'",'+
        'rules: [';
    each rules in field.rules
      -
        formValidation +=
          '{'+
            'type   : '+JSON.stringify(rules.type)+',';
              if(rules.type === 'regExp'){
      -
        formValidation += 'value : /'+rules.value+'/i';
              }else{
      -
        formValidation += 'prompt : '+JSON.stringify(field.name+' '+rules.prompt ? rules.prompt : field.name +' must have a value')+'';
              }
      -
        formValidation +='},';
    -
      formValidation += ']'+
      '},';
each field in modalForm.form.fieldcable
  if field.rules
    -
      formValidation += field.name + ': {'+
        'identifier: "'+field.name+'",'+
        'rules: [';
    each rules in field.rules
      -
        formValidation +=
          '{'+
            'type   : '+JSON.stringify(rules.type)+',';
              if(rules.type === 'regExp'){
      -
        formValidation += 'value : /'+rules.value+'/i';
              }else{
      -
        formValidation += 'prompt : '+JSON.stringify(field.name+' '+rules.prompt ? rules.prompt : field.name +' must have a value')+'';
              }
      -
        formValidation +='},';
    -
      formValidation += ']'+
      '},';
each field in modalForm.search.form.fields
  if field.rules
    -
      formValidation += field.name + ': {'+
        'identifier: "'+field.name+'",'+
        'rules: [';
    each rules in field.rules
      -
        formValidation +=
          '{'+
            'type   : '+JSON.stringify(rules.type)+',';
              if(rules.type === 'regExp'){
      -
        formValidation += 'value : /'+rules.value+'/i';
              }else{
      -
        formValidation += 'prompt : '+JSON.stringify(field.name+' '+rules.prompt ? rules.prompt : field.name +' must have a value')+'';
              }
      -
        formValidation +='},';
    -
      formValidation += ']'+
      '},';
each field in modalForm.search.form.fieldsb
  if field.rules
    -
      formValidation += field.name + ': {'+
        'identifier: "'+field.name+'",'+
        'rules: [';
    each rules in field.rules
      -
        formValidation +=
          '{'+
            'type   : '+JSON.stringify(rules.type)+',';
              if(rules.type === 'regExp'){
      -
        formValidation += 'value : /'+rules.value+'/i';
              }else{
      -
        formValidation += 'prompt : '+JSON.stringify(field.name+' '+rules.prompt ? rules.prompt : field.name +' must have a value')+'';
              }
      -
        formValidation +='},';
    -
      formValidation += ']'+
      '},';
    -
      formValidation += 'module' + ': {'+
        'identifier: "module",'+
        'rules: ['+
        '{'+
          'type   : "empty",'+
          'prompt : "module downstream must have a value"'+
        '}'+
        ']'+
      '},';
    -
      formValidation += 'interface' + ': {'+
        'identifier: "interface",'+
        'rules: ['+
        '{'+
          'type   : "empty",'+
          'prompt : "interface downstream must have a value"'+
        '}'+
        ']'+
      '},';
    -
      formValidation += 'moduleup' + ': {'+
        'identifier: "moduleup",'+
        'rules: ['+
        '{'+
          'type   : "empty",'+
          'prompt : "module upstream must have a value"'+
        '}'+
        ']'+
      '},';
    -
      formValidation += 'interfaceup' + ': {'+
        'identifier: "interfaceup",'+
        'rules: ['+
        '{'+
          'type   : "empty",'+
          'prompt : "interface upstream must have a value"'+
        '}'+
        ']'+
      '},';
- formValidation += '}});';

script.
  $(document).ready(function () {
    !{formValidation}
    $("#!{modalForm.key}Modal").modal({
      !{clearingFormScript}
    });

    !{onOpenModalTriggerScript}

    !{searchScript}

    !{selectScript}
    
    !{returnSection}

    !{searchSection}
    !{searchsectionb}
    !{searchSectioniup}
    !{searchSectionidown}
    !{multipleInputScript}
    $("#!{modalForm.key}SubmitButton").on("click", function (event) {
      $("#!{modalForm.key}Form").form('validate form')
      if ($("#!{modalForm.key}Form").form('is valid')) {
        !{formAction}
      }
    });

    $("#!{modalForm.key}Form").on("submit", function (event) {
      event.preventDefault();
      !{formAction}
    });
  });