- var defaultValues = {};
- var searchContainer = [];

div.ui.modal.transition(id=modalFormSettings.key+"Modal")
  div.header= modalFormSettings.title
  div.content
    h4 #{(modalFormSettings.numbering === false ? "" : "1. ") + modalFormSettings.search.caption}
    form.ui.form(id=modalFormSettings.key+"SearchForm" name=modalFormSettings.key+"SearchForm" method="GET")
      div.inline.fields
        each field in modalFormSettings.search.form.fields
          if(field.type==='hidden')
            input(type="hidden" name=field.name id=(field.id ? field.id : modalFormSettings.key+"SearchFormInput"+field.name) value=(field.value ? field.value : ""))
          else if(field.type==='select')
            div.field
              label= field.label
              select.ui.dropdown(name=field.name)
                each item in field.options
                  option(value=item.value)= item.label ? item.label : item.value
          else if(field.type === 'search')
            -
              searchContainer.push(field);
            div.field(id=(field.id ? field.id : form.key + "FormInput" + field.name) + "Container")
              label= field.label
              div.ui.search.selection.dropdown(id=field.id ? field.id : form.key + "FormInput" + field.name)&attributes(attr)
                input(type="hidden" name=field.name id=form.key + "FormInputInner" + field.name value=defaultValue)
                i.search.icon
                div.default.text= (field.placeholder ? field.placeholder : "")
          else if(field.type==='checkbox')
            div.field
              div.ui.toggle.checkbox
                input.notVisible(type="checkbox" tabindex="0" name=field.name id=(field.id ? field.id : modalFormSettings.key+"SearchFormInput"+field.name))
                label= field.label
          else
            div.field
              label= field.label
              input(type="text" name=field.name id=(field.id ? field.id : modalFormSettings.key+"SearchFormInput"+field.name) value=(field.value ? field.value : ""), placeholder=(field.info ? field.info : ""))
        div.one.wide.field
          button.circular.ui.tiny.icon.button(data-tooltip="Search")
            i.ui.icon.zoom
    div.ui.divider
    h4 #{(modalFormSettings.numbering === false ? "" : "2. ") + modalFormSettings.result.caption}
    div.ui.secondary.aligned.center.segment
      div.ui.dimmer
        div.ui.text.loader
          Loading
      div(id=modalFormSettings.key+"SearchResult")
        p #{modalFormSettings.result.message.blank}
    div.ui.divider
    h4 #{(modalFormSettings.numbering === false ? "" : "3. ") + modalFormSettings.submitForm.caption}
    -
      var form = modalFormSettings.submitForm;
      form.key = modalFormSettings.key;
    include form
  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modalFormSettings.key+"FormButton")= modalFormSettings.submitForm.button ? modalFormSettings.submitForm.button.label : "Save"


  -
    functionScript = "";

    if(modalFormSettings.trigger) {
      functionScript +=
        '$("body").on("click", ".'+ modalFormSettings.trigger.className +'", function (event) {' +
          'const thisTag = this;';

      if(modalFormSettings.trigger.callback) {
        functionScript += modalFormSettings.trigger.callback +'(this);';
      }

      functionScript +=
        '$("#'+ modalFormSettings.key +'Modal").modal("show")' +
      '});';
    }

  -
    var returnSection = ""
    if (modalFormSettings.returned)
      returnSection =
        "const returnedDataIndex = " + JSON.stringify(modalFormSettings.returned.dataIndex).replace(/<\//g, '<\\/') +";" +
        "const returnedFieldNames = " + JSON.stringify(modalFormSettings.returned.names).replace(/<\//g, '<\\/') +";" +
        "const returnedFieldLabel = " + JSON.stringify(modalFormSettings.returned.labelFormat).replace(/<\//g, '<\\/') +";";

-
  var searchScript = "";
  searchContainer.forEach(function(item, index){
    let resultGenerator = "";
    if(item.settings.resultMapping.value) {
        if(Array.isArray(item.settings.resultMapping.value)){
          resultGenerator +=
            'let realValue = "";' +
            'const format= ' + JSON.stringify(item.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
            'format.forEach(function(valueFormat, valueFormatIndex){' +
              'if(valueFormat.startsWith(":")){' +
                'realValue += value[valueFormat.substring(1)];' +
              '} else{' +
                'realValue += valueFormat;' +
              '}' +
            '});';
        } else {
          resultGenerator += 'const realValue = value["'+ item.settings.resultMapping.value +'"];';
        }
    } else {
      resultGenerator += 'const realValue = value["value"];';
    }
    resultGenerator +=
      'response.results.push({' +
        'text: value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"],' +
        'value: realValue,' +
        'name: ' +(item.settings.resultMapping.info? 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"] + (value["'+ item.settings.resultMapping.info +'"] ? " - "+ value["'+ item.settings.resultMapping.info +'"] : "")' : 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"]') +
      '});';


    const limit = item.settings.limit ? item.settings.limit : -1;


    const responseProcessor =
      'const response = {' +
        'results: []' +
      '};' +
      'let results = 0;' +
      'try{' +
        'const serverData = serverResponse'+ (item.settings.resultMapping.dataIndex? '["'+ item.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
        'serverData.forEach((value, key) => {' +
          'if(results === '+ limit +') {' +
            'throw BreakException;' +
          '}' +
          (item.settings.local ? item.settings.local.matcher : '') +
          resultGenerator +
          'results++;' +
        '});' +
      '} catch(e){' +
      '}';

    let searchBodyScript = "";

    if(item.settings.local) {
      // local settings

      const opt = item.settings.local;
      const appender = opt.queryAppender;
      const query = 'settings.urlData.query.toLowerCase()';

      searchBodyScript =
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = '+ (appender ? (appender.prefix ? appender.prefix +'+' : '') + query : query) +';' +
            'const serverResponse = '+ opt.data +';' +
            responseProcessor +
            'callback(response);' +
          '}' +
        '},';
    }

    if(item.settings.remote) {
      // remote settings

      let requestData = "";
      for(var key in item.settings.remote.extraData) {
        if(item.settings.remote.extraData.hasOwnProperty(key)){
          requestData += "&" + key +"="+ item.settings.remote.extraData[key];
        }
      }

      searchBodyScript =
        (item.callback && item.callback.onSelected ? 'onChange: function(value, text, selectedItem){ '+ item.callback.onSelected +'(value, text, selectedItem) },' : '') +
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = settings.urlData.query.toLowerCase();' +
            'const requestData = "'+ (requestData ? requestData + '&' : '') + item.settings.remote.query +'=" + query;' +
            'sendGet({' +
              'url: "'+ item.settings.remote.url +'",' +
              'data: requestData,' +
              'dataType: "json",' +
              'done: (status, data, responseText, defaultDone) => {' +
                'const serverResponse = data;' +
                responseProcessor +
                'callback(response)' +
              '},' +
              'fail: (status, data, responseText, defaultFail) => {' +
                'callback({ results: [] });' +
              '}' +
            '})' +
          '}' +
        '},';
    }

    searchScript +=
      '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown({' +
          'minCharacters: '+ (item.settings && item.settings.minChar ? item.settings.minChar : '1') +',' +
          'selectOnKeydown: false,' +
          searchBodyScript +
      '});';
  });

-
    var searchSection = ""
    if (modalFormSettings.search)
      searchSection =
        '$("#'+modalFormSettings.key+'SearchForm").on("submit", function (event) {'+
        '  event.preventDefault();' +
        '  let form = this;' +
        '  sendGet({' +
        '    url: "'+ modalFormSettings.search.form.url +'",' +
        '    data: $(form).serialize(),' +
        '    done: function (status, data, responseText, defaultDone) {' +
        '        addNodeConnectionSearchResult.empty();' +
        '        let dataObj = data;' +
        '        if(returnedDataIndex) {' +
        '          dataObj = data[returnedDataIndex];' +
        '        }' +
        '        if (dataObj && dataObj.length == 0){' +
        '          addNodeConnectionSearchResult.empty();' +
        '          addNodeConnectionSearchResult.append(\u0027<div class="ui tertiary inverted red segment"><p>Data is empty.</p></div>\u0027);' +
        '        }'+
        '        dataObj.forEach(function(item, data){' +
        '            let generatedElement = \u0027<a class="ui basic label"\u0027;' +

        '            returnedFieldNames.forEach(function(returnedName, returnedNameIndex){' +
        '                generatedElement += \u0027 data-result-\u0027 + returnedName + \u0027="\u0027+item[returnedName]+\u0027"\u0027;' +
        '            });' +
        '            generatedElement += ">";' +

        '            returnedFieldLabel.forEach(function(format, formatIndex){' +
        '              if(format.startsWith(":")){' +
        '                generatedElement += item[format.substring(1)]' +
        '              } else{' +
        '                generatedElement += format;' +
        '              }' +
        '            });' +

        '            generatedElement += "</a>";' +

        '            addNodeConnectionSearchResult.append(generatedElement);' +
        '        });' +
        '    },' +
        '    fail: function(status, data, responseText, defaultFail){' +
        '        addNodeConnectionSearchResult.empty();' +
        '        addNodeConnectionSearchResult.append(\u0027<div class="ui tertiary inverted red segment"><p>Data is not found.</p></div>\u0027);' +
        '    }' +
        '  });' +
        '});';


script.
  $(document).ready(function () {
      const addNodeConnectionSearchResult = $("#!{modalFormSettings.key}SearchResult");

      !{returnSection}

      !{searchSection}

      !{searchScript}

      const submitFormFields = !{JSON.stringify(modalFormSettings.submitForm.fields).replace(/<\//g, '<\\/')};
      const submitForm = document.getElementById('!{modalFormSettings.key}Form');

      addNodeConnectionSearchResult.on("click", "a", function (event) {
          const thisTag = this;

          submitFormFields.forEach(function(item, index){
              if(item.valueFormat){
                  let value = "";
                  item.valueFormat.forEach(function(valueFormat, valueFormatIndex){
                    if(valueFormat.startsWith(":")){
                      value += thisTag.getAttribute("data-result-"+valueFormat.substring(1));
                    } else{
                      value += valueFormat;
                    }
                  });
                  submitForm[item.name].setAttribute("value", value);
              }
          });
      });

      $("#!{modalFormSettings.key}FormButton").on("click", function (event) {
        const form = document.forms["!{modalFormSettings.key}Form"];

        let i;
        for (i = 0; i < form.length ;i++) {
            let item = form.elements[i];
            if(item.getAttribute("value-from"))
              item.value = document.getElementById(item.getAttribute("value-from")).value;
        }

        send(form.getAttribute("method").toUpperCase(), {
          url: form.action,
          data: $(form).serialize(),
          done: function(status, data, defaultFunction) {
            window.location.reload();
          },
        });
      });

      !{functionScript}
  });