h3.ui.dividing.header= photosSettings.title
.ui.left.small.blue.labeled.icon.button(class=photosSettings.class style="float:right;" data-tooltip="Add "+ photosSettings.title)
  i.plus.icon
  | New
br
br
br
.ui.special.cards
  each photo in photosSettings.data
    .card(style="width:262px;")
      .blurring.dimmable.image.medium
        .ui.dimmer
          .content
            .center
              a(href=photo.image download target="_blank")
                .ui.inverted.button Download Image
              .ui.red.button(onclick=photo.button.delete) Delete

        img(src=photo.image)
      .content
        a.header= photo.name
        .meta
          span.date Created in 
            span= photo.date
block append script
  script.
    $(document).ready(function () {
      $('.special.cards .image').dimmer({
        on: 'hover'
      })
    })
    

