-
  let settings = {
    tab : [
      {
        name : "Summary",
        key : "tab1",
        content : "<h3>OK 1</h3>",
        active : true
      },{
        name : "Direct Connection",
        key : "tab2",
        content : "<h3>OK 2</h3>",
        active : false

      },{
        name : "Indirect Connection",
        key : "tab3",
        content : "<h3>OK 3</h3>",
        active : false
      }
    ]
  }
br
.ui.top.attached.tabular.menu
  each rowtab in settings.tab
    if(rowtab.active===true)
      a.item.active(data-tab=rowtab.key)= rowtab.name
    else
      a.item(data-tab=rowtab.key)= rowtab.name
each rowtab in settings.tab
  if(rowtab.active===true)
    .ui.bottom.attached.tab.segment.active(data-tab=rowtab.key)= rowtab.content
  else
    .ui.bottom.attached.tab.segment(data-tab=rowtab.key)
    - rowtab.content
block append script
  script.
    $('.menu .item').tab()
