extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Rak', url: '/rak'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteRak',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRak',
      title: 'Rak Information',
      fields: [
        {name: 'bookId', label: 'BookId', type: 'text', value: data.bookId},
        {name: 'name', label: 'Rack Name', type: 'text', value: data.name},
        {name: 'location', label: 'Location Rak', type: 'text', value: data.location}
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList
  -
    tableSettings = {
      key: "tableBuku",
      title: "Buku",
      filterable: true,
      columns: [
        {label: "Book Id", name: "id_buku", link: "view", filter: {type: 'text'}},
        {label: "Judul", name: "judul"},
        {label: "Penulis", name: "penulis"},
        {label: "Penerbit", name: "penerbit"},
        {label: "Tahun Terbit", name: "terbit"},
        {label: "status", name: "status", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.buku,
      buttons: {
        add: {label: "AddBuku", className: "openAddBuku"},
        delete: {label: "Remove Buku from this Rak", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table
  -
    var labelSettings = {
      key: "labelBuku",
      title: "Buku",
      definition: { title: 'book_code', content: 'book_code', link:'view' },
      data: data.buku,
      action: {
        remove: { link: 'delete', label: "Remove Buku"},
        add: { label: "Assign Buku"}
      },
      modal : {
        key: "addBuku",
        title: "Assign Buku",
        form: {
          url: data.links.addBuku.url,
          fields: [
            { name: "rakId", type: "hidden", value: data._id },
            { name: 'id_buku', label: 'Book ID', type: 'text', value: data.id_buku},
            { name: 'book_code', label: 'Book Code', type: 'text', value: data.book_code},
            { name: 'judul', label: 'Judul', type: 'text', value: data.judul},
            { name: 'penulis', label: 'Penulis', type: 'text', value: data.penulis},
            { name: 'penerbit', label: 'Penerbit', type: 'text', value: data.penerbit},
            { name: 'terbit', label: 'Tahun Terbit', type: 'text', value: data.terbit},
            { name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addBuku2",
      title: "Create Book",
      form: {
        url: "/buku",
        fields: [
            //- { name: "objectId", type: "hidden", value: data._id },
            { name: "rakId", type: "hidden", value: data._id },
            { name: 'id_buku', label: 'Book ID', link: 'view', validate:'empty', required:true},
            { name: 'book_code', label: 'Book Code', validate:'empty', required:true},
            { name: 'judul', label: 'Judul', link: 'view', validate:'empty', required:true},
            { name: 'penulis', label: 'Penulis', validate:'empty', required:true},
            { name: 'penerbit', label: 'Penerbit', validate:'empty', required:true},
            { name: 'terbit', label: 'Tahun Terbit', validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddBuku"
      }
    }
  include ../component/new/modalForm