extends ../layout

block breadcrumb
  +breadcrumb('Device', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "device",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method
      },
      buttons: {
        add: {label: "Create a new device", className: "openAddDeviceModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addDevice",
      title: "Create Device",
      trigger: {
        className: "openAddDeviceModal"
      },
      form: {
        url: "/device",
        fields: [
            { name: "name", label: "Name", placeholder: "ex. ME-B-JWB-BTJ", validate:'empty', required:true},
            { name: "ipAddress", label: "IP Address", placeholder: "ex. 172.30.193.68", validate:'ipaddress', required:true},
            { name: "type", label: "Type", type: "select", placeholder: "ex. METROE", validate:'empty', required:true, settings: {remote: {url: '/device/type'}, resultMapping: {label: "name", value: 'name'}}},
            { name: "networkRole", label: "Network Role", validate:'empty', required:true, type: "select", placeholder: "ex. ME", settings: {options: [{ label: "Access Node", value: "AN" }, { label: "Metro", value: "ME" }, { label: "PE Service", value: "PE" }, { label: "WAC", value: "WAC" }, { label: "WAG", value: "WAG" }, { label: "Access Point", value: "AP" }]}},
            { name: "manufactureId", label: "Manufacturer Name", validate:'empty', required:true, type: "select", settings: {remote: {url: '/manufacturer/data'}, resultMapping: {label: "name", value: "id"}}},
            { name: "model", label: "Model", validate:'empty', required:true, placeholder: "ex. ZX3200"},
        ],
        buttonLabel: "Create",
      },
    }
  include ../component/new/modalForm

