extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Power Equipment', url: '/rack'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteRack',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this Rack',
        label: 'Delete this Rack',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editRack',
      title: 'Rack Information',
      fields: [
        {name: 'type', label: 'Type', type: 'select', value: data.type, settings: {remote: {url: "/referenceObject/POWER_EQUIPMENT_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'name', label: 'Name', type: 'text', value: data.name},
        {name: 'label', label: 'Label', type: 'text', value: data.label},
        {name: 'ipAddress', label: 'Ip Address', type: 'text', value: data.laipAddressbel},
        {name: 'height', label: 'Height (m)', type: 'text', value: data.height},
        {name: 'width', label: 'Width (m)', type: 'text', value: data.width},
        {name: 'length', label: 'Length (m)', type: 'text', value: data.length},
        {name: 'serialNumber', label: 'Serial Number', type: 'text', value: data.serialNumber},
        {name: 'manufacturer', label: 'Manufacturer', type: 'select', value: data.manufacturer, settings: {remote: {url: "/referenceObject/NETWORK_VENDOR", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'model', label: 'Model', type: 'select', value: data.model, settings: {remote: {url: "/referenceObject/RACK_MODEL", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'inputCurrentType', label: 'Input Current Type', type: 'select', value: data.inputCurrentType, settings: {remote: {url: '/ReferenceObject/CURRENT_TYPE', method: 'GET'}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'inputVoltage', label: 'Input Voltage', type: 'text', value: data.inputVoltage},
        {name: 'inputAmpere', label: 'Input Ampere', type: 'text', value: data.inputAmpere},
        {name: 'outputCurrentType', label: 'Output Current Type', type: 'select', value: data.outputCurrentType, settings: {remote: {url: '/ReferenceObject/CURRENT_TYPE', method: 'GET'}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'outputVoltage', label: 'Output Voltage', type: 'text', value: data.outputVoltage},
        {name: 'outputAmpere', label: 'Output Ampere', type: 'text', value: data.outputAmpere},
        {name: 'purpose', label: 'Purpose', type: 'select', value: data.purpose, settings: {remote: {url: "/referenceObject/RACK_PURPOSE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList