extends ../layout

block breadcrumb
  +breadcrumb('Power Equipment', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: 'PowerEquipment',
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: 'Create a new PowerEquipment', className: 'openAddModal'},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: 'createPowerEquipment',
      title: 'Create PowerEquipment',
      form: {
        url: '/powerEquipment',
        fields: [
          { name: 'buildingName', label: 'Building', type: 'search', placeholder: 'Please type Building name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/data',
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'floorName', label: 'Floor', type: 'search', placeholder: 'Please type Floor name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/building/{{buildingName}}/floor',
                urlParam: {buildingName: '$("#_buildingName_ > input[name=buildingName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'roomName', label: 'Room', type: 'search', placeholder: 'Please type Room name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/floor/{{floorName}}/room',
                urlParam: {floorName: '$("#_floorName_ > input[name=floorName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':name'] },
              minChar: 3
            }
          },
          { name: 'spaceId', label: 'Space', type: 'search', placeholder: 'Please type Space name', required:true, validate:'empty',
            settings: {
              remote : {
                url: '/room/{{roomName}}/space',
                urlParam: {roomName: '$("#_roomName_ > input[name=roomName]").val()'},
                query: 'columns[0][search][value]',
                extraData: { 'columns[0][name]': 'name',  'length': 20, 'order[0][column]': 0, 'order[0][dir]': 'asc'}
              },
              resultMapping: { dataIndex: 'data', label: 'name', value: [':_id'] },
              minChar: 3
            }
          },
          { name: 'type', label: 'Type', type: 'select', placeholder: 'ex. SUB-RACK', validate:'empty', required:true,
            settings: {
              remote: {
                url: '/ReferenceObject/POWER_EQUIPMENT_TYPE',
                method: 'GET'
              },
              resultMapping: {
                dataIndex: 'data',
                label: 'displayName',
                value: [':value']
              }
            }
          },
          { name: 'name', label: 'Name', placeholder: 'ex. RACK-B1', validate:'empty', required:true},
          { name: 'label', label: 'Label', placeholder: 'ex. PowerEquipment B1 Ruang IT Hall Gedung C Lantai 4', validate:'empty', required:true},
          { name: 'ipAddress', label: 'IP Address', placeholder: 'ex. 10.60.164. ...', validate:'empty', required:false},
          { name: 'height', label: 'Height (cm)', placeholder: 'ex. 200', validate:'empty', required:true},
          { name: 'width', label: 'Width (cm)', placeholder: 'ex. 60', validate:'empty', required:true},
          { name: 'length', label: 'Length (cm)', placeholder: 'ex. 120', validate:'empty', required:true},
          { name: 'serialNumber', label: 'Serial Number', placeholder: 'ex. GOOD1234DOSI', validate:'empty', required:true},
          { name: 'manufacturer', label: 'Manufacturer', type: 'select', placeholder: 'ex. GDLT', validate:'empty', required:true,
            settings: {
              remote: {
                url: '/ReferenceObject/NETWORK_VENDOR',
                method: 'GET'
              },
              resultMapping: {
                dataIndex: 'data',
                label: 'displayName',
                value: [':value']
              }
            }
          },
          { name: 'model', label: 'Model', type: 'select', placeholder: 'ex. GT-N022', validate:'empty', required:true,
            settings: {
              remote: {
                url: '/ReferenceObject/BATTERY_MODEL',
                method: 'GET'
              },
              resultMapping: {
                dataIndex: 'data',
                label: 'displayName',
                value: [':value']
              }
            }
          },
          { name: 'inputCurrentType', label: 'Input Current Type', type: 'select', placeholder: 'ex. GT-N022', validate:'empty', required:true,settings: {remote: {url: '/ReferenceObject/CURRENT_TYPE', method: 'GET'}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
          { name: 'inputVoltage', label: 'Input Voltage', placeholder: 'ex. 120', validate:'empty', required:true},
          { name: 'inputAmpere', label: 'Input Ampere', placeholder: 'ex. 120', validate:'empty', required:true},
          { name: 'outputCurrentType', label: 'Output Current Type', type: 'select', placeholder: 'ex. GT-N022', validate:'empty', required:true,settings: {remote: {url: '/ReferenceObject/CURRENT_TYPE', method: 'GET'}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
          { name: 'outputVoltage', label: 'Output Voltage', placeholder: 'ex. 120', validate:'empty', required:true},
          { name: 'outputAmpere', label: 'Output Voltage', placeholder: 'ex. 120', validate:'empty', required:true},
          { name: 'purpose', label: 'Purpose', type: 'select', placeholder: 'ex. COMMERCIAL', validate:'empty', required:true,
            settings: {
              remote: {
                url: '/ReferenceObject/RACK_PURPOSE',
                method: 'GET'
              },
              resultMapping: {
                dataIndex: 'data',
                label: 'displayName',
                value: [':value']
              }
            }
          },
        ]
      },
      trigger: {
        className: 'openAddModal'
      }
    }
  include ../component/new/modalForm