extends ../layout

block breadcrumb
  +breadcrumb('Pengembalian', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Pengembalian",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Pengembalian", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createPengembalian",
      title: "Create Pengembalian",
      form: {
        url: "/pengembalian",
        fields: [
            { name: "code_pengembalian", label: "Code Pengembalian", placeholder: "ex. ", validate:'empty', required:true},
            { name: 'tanggal_pengembalian', label: 'Tanggal Pengembalian',placeholder:"ex.07-07-2001" , type: 'date' ,validate:'empty', required:true},
            { name: "denda", label: "DEnda", placeholder: "ex. ", validate:'empty', required:true},
            { name: "bukuId", label: "bukuId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/buku/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'id_buku', value: [':_id']}}},
            { name: "anggotaId", label: "anggotaId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/anggota/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':_id']}}},
            { name: "petugasId", label: "petugasId", type: "select", placeholder: "Select Type", settings: {remote: {url: "/petugas/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'kd_petugas', value: [':_id']}}}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm