include ../component/new/input

-
  var namespace = 'loCe'
  var fields = [
    { name: namespace + "Type", label: "Type", type: "select", placeholder: "Select Type", settings: {remote: {url: "/ReferenceObject/LOCATION_TYPE", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'displayName', value: [':value']}}},
    { name: namespace + "Name", label: "Name", placeholder: "ex. IDC Lembong", validate:'empty', required:true},
    { name: namespace + "UID", label: "Site ID", placeholder: "ex. TDC-11", validate:'empty', required:false},
    { name: namespace + "Address", label: "Address", placeholder: "ex. Jl. Lembong No.15 Bandung", validate:'empty', required:true}
  ]
each field in fields
  +inputComponent(namespace, field)
  if(field.type === 'select')
    +selectScriptJS(namespace, field)
  
br
button.ui.mini.blue.right.floated.button(id='btn' + namespace)
  i.check.icon
  | Submit

script.
  $('#btn#{namespace}').click(function(e) {
    var field = '#{ JSON.stringify(fields) }'
    mapFunc.validateMapFields( field, function(cb){
      if(cb){
        var data = {}
        data.wkt = $('#createObjectWKT').val()
        var uid = $('input[name=#{namespace}UID]').val()
        data.properties = {
          type: $('input[name=#{namespace}Type]').val(),
          name: $('input[name=#{namespace}Name]').val(),
          uid: (uid !== '') ? uid : mapFunc.generateUUID(),
          width: $('input[name=#{namespace}Address]').val(),
          status: 'ACTIVE',
        }
        mapFunc.requestData('/handler/location',{method: 'POST', data: data},
        function(resp){
          $('#createForm').modal('hide')
          iziToast.success({
            title: resp.code,
            message: resp.message,
            timeout: 3000
          })
        })
      }
    })
  })
