extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Contact Info', url: '/contactInfo'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteContactInfo',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editcontactInfo',
      title: 'Contact Info Information',
      fields: [
        {name: 'type', label: 'Contact Type', type: 'select', value: data.type, action:data.links.edit.url, settings: {remote: {url: "/specification/data/Contact", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':name']}}},
        {name: 'number', label: 'Contact Identifier', type: 'text', value: data.number},
        {name: 'issuedBy', label: 'issuedBy', type: 'text', value: data.issuedBy},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList