extends ../layout

block breadcrumb
  +breadcrumb('Contact Info', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "contactInfo",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Contact Info", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "createContactInfo",
      title: "Create Contact Info",
      form: {
        url: "/contactInfo",
        fields: [
            { name: 'type', label: 'Contact Type', type: 'select', settings: {remote: {url: "/specification/data/Contact", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'name', value: [':name']}}},
            { name: "number", label: "Contact Identifier", placeholder: "ex. abcde@gmail.com", validate:'empty', required:true},
            { name: "issuedBy", label: "issuedBy", placeholder: "ex. Google", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm